$ThemeColour: #005582;
$PageTitleColour: #222222;
$CompactTabColour: #009688;
$FullTabColour: #009688;
$FormTheme: #EFEBE9;
$LinkColour: #009688;
$ButtonColour1: #005582;
$ButtonColour1Text: #ffffff;
$ButtonColour2: #ffffff;
$ButtonColour2Text: #005582;
$ErrorMessageColour: #C62828;
$SuccessMessageColour: #2E7D32;
$NoResultColour: #000;