@font-face {
  font-family: 'WISIconSet';
  src: url('WISIconSet.eot?2pliiv');
  src: url('WISIconSet.eot?2pliiv#iefix') format('embedded-opentype'),
    url('WISIconSet.ttf?2pliiv') format('truetype'),
    url('WISIconSet.woff?2pliiv') format('woff'),
    url('WISIconSet.svg?2pliiv#WISIconSet') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='WISIcn-']:before,
[class*=' WISIcn-']:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'WISIconSet' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.WISIcn-Collapse:before {
  content: "\e962";
}

.WISIcn-CollapseOne:before {
  content: "\e963";
}

.WISIcn-ExpandOne:before {
  content: "\e964";
}

.WISIcn-User:before {
  content: "\e961";
}

.WISIcn-Image:before {
  content: "\e960";
}

.WISIcn-File-TypeOne:before {
  content: "\e95c";
}
.WISIcn-File-TypeThree:before {
  content: "\e95d";
}
.WISIcn-File-TypeTwo:before {
  content: "\e95e";
}
.WISIcn-Location:before {
  content: "\e95f";
}

.WISIcn-ApprovalManagement:before {
  content: "\e95a";
}

.WISIcn-Maintenance:before {
  content: "\e95b";
}

.WISIcn-Expand:before {
  content: "\e959";
}

.WISIcn-Minus:before {
  content: "\e958";
}
.WISIcn-Rating0p0:before {
  content: "\e94d";
  color: #C62828;
}
.WISIcn-Rating0p5:before {
  content: "\e950";
  color: #C62828;
}
.WISIcn-Rating1p0:before {
  content: "\e94e";
  color: #C62828;
}
.WISIcn-Rating1p5:before {
  content: "\e94f";
  color: #C62828;
}
.WISIcn-Rating1p5-1:before {
  content: "\e950";
  color: #C62828;
}
.WISIcn-Rating2p0:before {
  content: "\e951";
  color: #FF6F00;
}
.WISIcn-Rating2p5:before {
  content: "\e952";
  color: #FF6F00;
}
.WISIcn-Rating3p0:before {
  content: "\e953";
  color: #FF6F00;
}
.WISIcn-Rating3p5:before {
  content: "\e954";
  color: #FF6F00;
}
.WISIcn-Rating4p0:before {
  content: "\e955";
  color: #388E3C;
}
.WISIcn-Rating4p5:before {
  content: "\e956";
  color: #388E3C;
}
.WISIcn-Rating5p0:before {
  content: "\e957";
  color: #388E3C;
}

.WISIcn-Edit:before {
  content: "\e94c";
}

.WISIcn-Email:before {
  content: "\e94a";
}

.WISIcn-WhatsApp:before {
  content: "\e94b";
}

.WISIcn-Download:before {
  content: "\e949";
}

.WISIcn-Juris-Building:before {
  content: "\e945";
}

.WISIcn-Juris-Residential:before {
  content: "\e946";
}

.WISIcn-Juris-SportsComplex:before {
  content: "\e947";
}

.WISIcn-Juris-SwimmingPool:before {
  content: "\e948";
}

.WISIcn-Msg-Error:before {
  content: "\e900";
}

.WISIcn-Msg-Success:before {
  content: "\e901";
}

.WISIcn-Menu-AccessControl:before {
  content: "\e902";
}

.WISIcn-Menu-Approvals:before {
  content: "\e903";
}

.WISIcn-Menu-Audits:before {
  content: "\e904";
}

.WISIcn-Menu-ComplaintManagement:before {
  content: "\e905";
}

.WISIcn-Menu-ComplaintsAdmin:before {
  content: "\e906";
}

.WISIcn-Menu-Dashboard:before {
  content: "\e907";
}

.WISIcn-Menu-Employees:before {
  content: "\e908";
}

.WISIcn-Menu-Inventory:before {
  content: "\e909";
}

.WISIcn-Menu-Map:before {
  content: "\e90a";
}

.WISIcn-Menu-Masters:before {
  content: "\e90b";
}

.WISIcn-Menu-PurchaseOrders:before {
  content: "\e90c";
}

.WISIcn-Menu-Reports:before {
  content: "\e90d";
}

.WISIcn-Menu-Requests:before {
  content: "\e90e";
}

.WISIcn-Menu-Rooster:before {
  content: "\e90f";
}

.WISIcn-Add:before {
  content: "\e910";
}

.WISIcn-AddSolid:before {
  content: "\e911";
}

.WISIcn-Alert:before {
  content: "\e912";
}

.WISIcn-ArrowDown:before {
  content: "\e913";
}

.WISIcn-ArrowLeft:before {
  content: "\e914";
}

.WISIcn-ArrowRight:before {
  content: "\e915";
}

.WISIcn-ArrowUp:before {
  content: "\e916";
}

.WISIcn-Calendar:before {
  content: "\e917";
}

.WISIcn-CM-All:before {
  content: "\e918";
}

.WISIcn-CM-Completed:before {
  content: "\e919";
}

.WISIcn-CM-Delayed:before {
  content: "\e91a";
}

.WISIcn-CM-New:before {
  content: "\e91b";
}

.WISIcn-CM-Ongoing:before {
  content: "\e91c";
}

.WISIcn-CM-PendingApproval:before {
  content: "\e91d";
}

.WISIcn-CM-Reopened:before {
  content: "\e91e";
}

.WISIcn-CM-ViewUnassigned:before {
  content: "\e91f";
}

.WISIcn-Cross:before {
  content: "\e920";
}

.WISIcn-Cross-Big:before {
  content: "\e921";
}

.WISIcn-Feedback:before {
  content: "\e922";
}

.WISIcn-File:before {
  content: "\e923";
}

.WISIcn-File-PDF:before {
  content: "\e924";
}

.WISIcn-FullArrowDown:before {
  content: "\e925";
}

.WISIcn-FullArrowLeft:before {
  content: "\e926";
}

.WISIcn-FullArrowRight:before {
  content: "\e927";
}

.WISIcn-FullArrowUp:before {
  content: "\e928";
}

.WISIcn-GridView:before {
  content: "\e929";
}

.WISIcn-HeaderMenu:before {
  content: "\e92a";
}

.WISIcn-Help:before {
  content: "\e92b";
}

.WISIcn-Information:before {
  content: "\e92c";
}

.WISIcn-ListView:before {
  content: "\e92d";
}

.WISIcn-MenuHorizontal:before {
  content: "\e92e";
}

.WISIcn-MenuVertical:before {
  content: "\e92f";
}

.WISIcn-MobileApp:before {
  content: "\e930";
}

.WISIcn-Notification:before {
  content: "\e931";
}

.WISIcn-NotVisible:before {
  content: "\e932";
}

.WISIcn-Print:before {
  content: "\e933";
}

.WISIcn-Profile:before {
  content: "\e934";
}

.WISIcn-QRCode:before {
  content: "\e935";
}

.WISIcn-ReApply:before {
  content: "\e936";
}

.WISIcn-Reminder:before {
  content: "\e937";
}

.WISIcn-Remove:before {
  content: "\e938";
}

.WISIcn-RemoveSolid:before {
  content: "\e939";
}

.WISIcn-Reset:before {
  content: "\e93a";
}

.WISIcn-Search:before {
  content: "\e93b";
}

.WISIcn-SMS:before {
  content: "\e93c";
}

.WISIcn-Sort:before {
  content: "\e93d";
}

.WISIcn-Store:before {
  content: "\e93e";
}

.WISIcn-Thrash:before {
  content: "\e93f";
}

.WISIcn-Tick:before {
  content: "\e940";
}

.WISIcn-Upload:before {
  content: "\e941";
}

.WISIcn-Visible:before {
  content: "\e942";
}

.WISIcn-WebApp:before {
  content: "\e943";
}

.WISIcn-Reseet:before {
  content: "\e944";
}