$ThemeColour: #003550;
/*$ThemeColour: #005582;*/
$PageTitleColour: #222222;
$CompactTabColour: #00746a;
$FullTabColour: #00746a;
$FormTheme: #666;
$FormTxtColour: #00746a;
$LinkColour: #00746a;
$ButtonColour1: #005582;
$ButtonColour1Text: #ffffff;
$ButtonColour2: #ffffff;
$ButtonColour2Text: #005582;
$ButtonColour3: #00746a;
$ButtonColour3Text: #ffffff;
$ErrorMessageColour: #C62828;
$SuccessMessageColour: #2E7D32;
$NoResultColour: #000;