<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Thank You</title>
    <meta name="ROBOTS" content="INDEX, FOLLOW" />
    <meta name="description" content="Elevate your routine with curated lifestyle events that empower you to forge new connections." />
    <meta name="keywords" content="Special Curated Events, More to Life, Life is now" />
    <meta name="author" content="JOYiZM" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/png" href="" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@400;500&family=Noto+Sans+Telugu:wght@400;600&family=Open+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="CSS/StyleSheet.css" type="text/css" />
</head>
<body>
    <div class="Container ThankYou">
        <div class="ThankYouDetails">
            <span class="ThankText">Thank You!</span>
            <span class="ThankSubText">We have noted your complaint.</span>
            <span class="ThankSubText">You complaint issued for:</span>
            <div class="FullThankDetails">
                <div class="CatTtlDv">
                    <img src="Images/Icn-HeatingCooling.svg" class="CatImg" />
                    <span class="CatTtl">Heating/ Cooling</span>
                </div>
                <div class="ComplntSlctdDv">
                    <img src="Images/Icn-Tick.svg" class="SlctdImg" />
                    <span class="SlctdTtl">Temperature Too Hot</span>
                </div>
                <div class="PrsnlDtlsDv">
                    <span class="TxtTtl">Your Name:</span>
                    <span class="Txt">Mohammed Fasihuddin Akber</span>
                    <span class="TxtTtl">Your Contact No.:</span>
                    <span class="Txt">9959148222</span>
                    <span class="TxtTtl">Patient ID:</span>
                    <span class="Txt">AA88565-55615</span>
                    <span class="TxtTtl">Your Comment:</span>
                    <span class="Txt">Integer sed odio at leo vulputate rutrum eget at orci. Curabitur porttitor elit in elit hendrerit, sit amet maximus mi suscipit. Aliquam neque massa, semper eu scelerisque non, fringilla vitae lorem. Phasellus convallis diam a rutrum sodales. Pellentesque imperdiet dapibus dignissim. Proin et rhoncus massa.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="BtnHldr">
        <a href="Scan-Eng.html" class="FlowButton">Raise another complaint</a>
    </div>
    <div class="Footer">
        <span class="FtrTxt">2021. WIS Spaces</span>
    </div>
</body>
</html>