<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashbaord</title>
    <link rel="shortcut icon" type="image/png" href="Images/ClientIcon.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet" />
    <link href="CSS/StyleSheet.css?ver=1" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script src="Scripts/Script.js"></script>
</head>
<body onload="initialize()">
    <div class="AppMenu">
        <span class="AppMenuBtn">
            <span class="BtnTxt">Menu</span>
        </span>
        <ul class="MenuList">
            <li>
                <a href="Dashboard.html" class="AppMenuLnk Dshbrd">
                    <span class="LnkTxt">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="About.html" class="AppMenuLnk Abt">
                    <span class="LnkTxt">About</span>
                </a>
            </li>
            <li>
                <a href="LeadershipTeam.html" class="AppMenuLnk LdrshpTm">
                    <span class="LnkTxt">Leadership Team</span>
                </a>
            </li>
            <li>
                <a href="BedsOccupancy.html" class="AppMenuLnk BdsOccpncy">
                    <span class="LnkTxt">Beds & Occupancy</span>
                </a>
            </li>
            <li>
                <a href="Attendence.html" class="AppMenuLnk Attndnc">
                    <span class="LnkTxt">Attendance</span>
                </a>
            </li>
            <li>
                <a href="Resources.html" class="AppMenuLnk Rsrcs">
                    <span class="LnkTxt">Resources</span>
                </a>
            </li>
            <li>
                <a href="Engineering.html" class="AppMenuLnk Engnrng">
                    <span class="LnkTxt">Engineering</span>
                </a>
            </li>
            <li>
                <a href="Checklist.html" class="AppMenuLnk Chcklsts">
                    <span class="LnkTxt">Checklists</span>
                </a>
            </li>
            <li>
                <a href="Sanitation.html" class="AppMenuLnk Snttn">
                    <span class="LnkTxt">Sanitation</span>
                </a>
            </li>
            <li>
                <a href="Machinery.html" class="AppMenuLnk Mchnry">
                    <span class="LnkTxt">Machinery</span>
                </a>
            </li>
            <li>
                <a href="PPM.html" class="AppMenuLnk PPM">
                    <span class="LnkTxt">PPM</span>
                </a>
            </li>
            <li>
                <a href="ManpowerUtilization.html" class="AppMenuLnk MnpwrUtlztn">
                    <span class="LnkTxt">Manpower Utilization</span>
                </a>
            </li>
            <li>
                <a href="ComplaintFeedback.html" class="AppMenuLnk CmplntsFdbck">
                    <span class="LnkTxt">Complaints & Feedback</span>
                </a>
            </li>
            <li>
                <a href="InventoryManagement.html" class="AppMenuLnk InvntryMngmnt">
                    <span class="LnkTxt">Inventory Management</span>
                </a>
            </li>
            <li>
                <a href="Audits.html" class="AppMenuLnk Adts">
                    <span class="LnkTxt">Audits</span>
                </a>
            </li>
            <li>
                <a href="CarbonFootprint.html" class="AppMenuLnk CrbnFtprnt">
                    <span class="LnkTxt">Carbon Footprint</span>
                </a>
            </li>
            <li>
                <a href="Benchmarking.html" class="AppMenuLnk Bnchmrkng">
                    <span class="LnkTxt">Benchmarking</span>
                </a>
            </li>
            <li>
                <a href="Recommendations.html" class="AppMenuLnk Rcmmndtns">
                    <span class="LnkTxt">Recommendations</span>
                </a>
            </li>
            <li>
                <a href="Comparisions.html" class="AppMenuLnk Cmprsns">
                    <span class="LnkTxt">Comparisions</span>
                </a>
            </li>
            <li>
                <a href="Plans.html" class="AppMenuLnk Plns">
                    <span class="LnkTxt">Plans</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="AppFooter">
        <span class="LstUpdtTxt">Version:<span class="DtlTxt">v3.0.20</span></span>
        <span class="Cprght">Powered by<a href="#" class="LnkTxt">WIS</a></span>
    </div>
    <div class="AppHeader">
        <div class="ContainerLeft">
            <div class="AppClientLogo">
                <img src="Images/ClientLogo.png" class="ClientLogo" />
            </div>
        </div>
        <div class="ContainerRight">
            <div class="AppUsrLnks">
                <ul class="PrflHdrLnk">
                    <li>
                        <div class="PrfHldr">
                            <img src="Images/UserImg.jpg" class="UserImg" />
                            <span class="UsrNme">Radhika K.</span>
                        </div>
                    </li>
                    <li>
                        <a href="Notifications.html" class="HdrIcoLnk Ntfctns Updts"></a>
                    </li>
                    <li>
                        <a href="Settings.html" class="HdrIcoLnk Sttngs"></a>
                    </li>
                    <li>
                        <a href="Login.html" class="HdrIcoLnk Lgout"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="AppSbHdr DshbrdMpPg">
        <div class="ContainerLeft">
            <div class="MpSrchBx">
                <input class="form-control MpSrchInpt" type="text" placeholder="Search by area name" aria-label="default input example" />
            </div>
        </div>
        <div class="ContainerRight">
            <div class="CtyDrpDwn MpActv">
                <span class="DrpdwnTxt">All 16 Locations</span>
                <div class="DrpDwnHldr">
                    <div class="accordion" id="accordionFlushCExample">
                        <div class="accordion-item">
                            <span class="accordion-header" id="flush-headingCOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseCOne" aria-expanded="false" aria-controls="flush-collapseCOne">
                                    <span class="CtyNme Lctn">Chennai</span>
                                    <!--<span class="SbDtls Icn Hsptl"><span class="Val">03</span></span>
                                <span class="SbDtls Icn HsptlBds"><span class="Val">970</span></span>-->
                                    <span class="SbDtls Icn Ntfctns"><span class="Val">0</span></span>
                                </button>
                            </span>
                            <div id="flush-collapseCOne" class="accordion-collapse collapse" aria-labelledby="flush-headingCOne" data-bs-parent="#accordionFlushCExample">
                                <div class="accordion-body">
                                    <ul class="HsptlLst">
                                        <li>
                                            <a href="HospitalSelection.html" class="HsptlLnk">FirstMedic Banajara<span class="Ntfctns"><span class="Val">0</span></span></a>
                                        </li>
                                        <li>
                                            <a href="HospitalSelection.html" class="HsptlLnk">FirstMedic Banajara<span class="Ntfctns"><span class="Val">0</span></span></a>
                                        </li>
                                        <li>
                                            <a href="HospitalSelection.html" class="HsptlLnk">FirstMedic Banajara<span class="Ntfctns"><span class="Val">0</span></span></a>
                                        </li>
                                        <li>
                                            <a href="HospitalSelection.html" class="HsptlLnk">FirstMedic Banajara<span class="Ntfctns"><span class="Val">0</span></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <span class="accordion-header" id="flush-headingCTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseCTwo" aria-expanded="false" aria-controls="flush-collapseCTwo">
                                    <span class="CtyNme Lctn">Delhi</span>
                                    <!--<span class="SbDtls Icn Hsptl"><span class="Val">03</span></span>
                                <span class="SbDtls Icn HsptlBds"><span class="Val">970</span></span>-->
                                    <span class="SbDtls Icn Ntfctns"><span class="Val">5</span></span>
                                </button>
                            </span>
                            <div id="flush-collapseCTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingCTwo" data-bs-parent="#accordionFlushCExample">
                                <div class="accordion-body">
                                    <ul class="HsptlLst">
                                        <li>
                                            <a href="HospitalSelection.html" class="HsptlLnk">FirstMedic Banajara<span class="Ntfctns"><span class="Val">0</span></span></a>
                                        </li>
                                        <li>
                                            <a href="HospitalSelection.html" class="HsptlLnk">FirstMedic Banajara<span class="Ntfctns"><span class="Val">3</span></span></a>
                                        </li>
                                        <li>
                                            <a href="HospitalSelection.html" class="HsptlLnk">FirstMedic Banajara<span class="Ntfctns"><span class="Val">0</span></span></a>
                                        </li>
                                        <li>
                                            <a href="HospitalSelection.html" class="HsptlLnk">FirstMedic Banajara<span class="Ntfctns"><span class="Val">2</span></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <span class="accordion-header" id="flush-headingCThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseCThree" aria-expanded="false" aria-controls="flush-collapseCThree">
                                    <span class="CtyNme Lctn">Hyderabad</span>
                                    <!--<span class="SbDtls Icn Hsptl"><span class="Val">03</span></span>
                                <span class="SbDtls Icn HsptlBds"><span class="Val">970</span></span>-->
                                    <span class="SbDtls Icn Ntfctns"><span class="Val">1</span></span>
                                </button>
                            </span>
                            <div id="flush-collapseCThree" class="accordion-collapse collapse" aria-labelledby="flush-headingCThree" data-bs-parent="#accordionFlushCExample">
                                <div class="accordion-body">
                                    <ul class="HsptlLst">
                                        <li>
                                            <a href="HospitalSelection.html" class="HsptlLnk">FirstMedic Banajara<span class="Ntfctns"><span class="Val">1</span></span></a>
                                        </li>
                                        <li>
                                            <a href="HospitalSelection.html" class="HsptlLnk">FirstMedic Banajara<span class="Ntfctns"><span class="Val">0</span></span></a>
                                        </li>
                                        <li>
                                            <a href="HospitalSelection.html" class="HsptlLnk">FirstMedic Banajara<span class="Ntfctns"><span class="Val">0</span></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <span class="accordion-header" id="flush-headingCFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseCFour" aria-expanded="false" aria-controls="flush-headingCFour">
                                    <span class="CtyNme Lctn">Kolkata</span>
                                    <!--<span class="SbDtls Icn Hsptl"><span class="Val">03</span></span>
                                <span class="SbDtls Icn HsptlBds"><span class="Val">970</span></span>-->
                                    <span class="SbDtls Icn Ntfctns"><span class="Val">3</span></span>
                                </button>
                            </span>
                            <div id="flush-collapseCFour" class="accordion-collapse collapse" aria-labelledby="flush-headingCFour" data-bs-parent="#accordionFlushCExample">
                                <div class="accordion-body">
                                    <ul class="HsptlLst">
                                        <li>
                                            <a href="HospitalSelection.html" class="HsptlLnk">FirstMedic Banajara<span class="Ntfctns"><span class="Val">2</span></span></a>
                                        </li>
                                        <li>
                                            <a href="HospitalSelection.html" class="HsptlLnk">FirstMedic Banajara<span class="Ntfctns"><span class="Val">1</span></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <span class="accordion-header" id="flush-headingCFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseCFive" aria-expanded="false" aria-controls="flush-headingCFour">
                                    <span class="CtyNme Lctn">Mumbai</span>
                                    <!--<span class="SbDtls Icn Hsptl"><span class="Val">03</span></span>
                                <span class="SbDtls Icn HsptlBds"><span class="Val">970</span></span>-->
                                    <span class="SbDtls Icn Ntfctns"><span class="Val">0</span></span>
                                </button>
                            </span>
                            <div id="flush-collapseCFive" class="accordion-collapse collapse" aria-labelledby="flush-headingCFive" data-bs-parent="#accordionFlushCExample">
                                <div class="accordion-body">
                                    <ul class="HsptlLst">
                                        <li>
                                            <a href="HospitalSelection.html" class="HsptlLnk">FirstMedic Banajara<span class="Ntfctns"><span class="Val">0</span></span></a>
                                        </li>
                                        <li>
                                            <a href="HospitalSelection.html" class="HsptlLnk">FirstMedic Banajara<span class="Ntfctns"><span class="Val">0</span></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="AppFllContainer">
        <div id="map" style="width:100%; height:100%"></div>
    </div>
</body>
<script type="text/javascript"
  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB2MBysi9kUp0sHhKkOwrAfnGJNgnNnWLQ&sensor=false">
</script>
<script type="text/javascript">

var locations = [
  ['Chennai', 13.0474878,80.0689252, 'Chennai'],
  ['Delhi', 28.6677609,77.0817763, 'Delhi'],
  ['Hyderabad', 17.4121531,78.1278513, 'Hyderabad'],
  ['Kolkata', 22.6757521,88.0495361, 'Kolkata'],
  ['Mumbai', 19.0821978,72.7411, 'Mumbai']
  ];
  var delhi = [
  ['Rohini', 28.7407102,77.0576575, 'Rohini'],
  ['Gurudwara', 28.6927175,76.8104646, 'Gurudwara'],
  ['Gurugram', 28.4026497,76.7904192, 'Gurugram']
  ];
  // var locations = [
  // ['loan 1', 17.5413821,78.4664383, 'Kukatpally'],
  // ['loan 2', 17.521084,78.3091658, 'Miyapur'],
  // ['loan 3', 17.5431709,78.3628297, 'Bachupally'],
  // ['loan 4', 17.5725987,78.370457, 'Bowrampet'],
  // ['loan 5', 17.5784519,78.4055069, 'Maisamma']
  // ];

  function initialize() {

    var myOptions = {
      center: new google.maps.LatLng(20.0127399,64.4523598),
      zoom: 5,
      mapTypeId: google.maps.MapTypeId.ROADMAP

    };
    var map = new google.maps.Map(document.getElementById("map"),
        myOptions);

    setMarkers(map,locations)
    setMarkers1(map,delhi)

  }



  function setMarkers(map,locations){

      var marker, i

for (i = 0; i < locations.length; i++)
 {  

 var loan = locations[i][0]
 var lat = locations[i][1]
 var long = locations[i][2]
 var add =  locations[i][3]

 latlngset = new google.maps.LatLng(lat, long);

  var marker = new google.maps.Marker({  
          map: map, title: loan , position: latlngset,size: new google.maps.Size(20, 32)
   
        });
        map.setCenter(marker.getPosition())


        var content ="Address: " + add     
marker.addListener("click", () => {
    map.setZoom(8);

    map.setCenter(marker.getPosition());
  });

  var infowindow = new google.maps.InfoWindow()

google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
        return function() {
           infowindow.setContent(content);

           infowindow.open(map,marker);
           infoWindow.close();
        };
    })(marker,content,infowindow)); 

  }
  }
  function setMarkers1(map,locations){

      var marker, i

for (i = 0; i < locations.length; i++)
 {  

 var loan = locations[i][0]
 var lat = locations[i][1]
 var long = locations[i][2]
 var add =  locations[i][3]

 latlngset = new google.maps.LatLng(lat, long);

  var marker = new google.maps.Marker({  
          map: map, title: loan , position: latlngset,icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',size: new google.maps.Size(20, 32)
   
        });
        map.setCenter(marker.getPosition())


        var content ="Address: " + add     
marker.addListener("click", () => {
    

    map.setCenter(marker.getPosition());
  });

  var infowindow = new google.maps.InfoWindow()

google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
        return function() {
           infowindow.setContent(content);

           infowindow.open(map,marker);
           infoWindow.close();
        };
    })(marker,content,infowindow)); 

  }
  }



  </script>
</html>
