<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="AppTheme/CmplntMngmntMdl/MdlTheme.css" />
    <link rel="stylesheet" href="AppTheme/Fonts/IconFont.css" />
</head>

<body>
    <div class="AppHeader">
        <div class="AppMnuTtlHldr">
            <div class="MdlMnuHldr">
                <a href="#" class="MdlMnuLnk WISIcn-HeaderMenu"></a>
            </div>
            <div class="TtlHldr">
                <div class="ClntLgoHldr">
                    <img src="Images/CompanyLogo.png" class="Lgo" />
                </div>
                <div class="MdlNmeHldr">
                    <span class="MdlNme">Complaint Management</span>
                </div>
            </div>
        </div>
        <div class="AppUsrCntrlHldr">
            <ul class="UsrNav">
                <li>
                    <a href="#" class="NavLnk WISIcn-Notification"></a>
                </li>
                <li>
                    <a href="#" class="NavLnk WISIcn-Help"></a>
                </li>
                <li>
                    <div class="UsrDvHldr">
                        <div class="UsrDtls">
                            <div class="PrflNmeHldr">
                                <span class="Nme">Vinay Kumar</span>
                            </div>
                            <div class="PrflImgHldr">
                                <img src="Images/ProfileImage.jpg" class="PrfImg">
                            </div>
                        </div>
                    </div>
                    <div class="HdrSbMnuHldr UsrDv">
                        <div class="InnrHldr">
                            <div class="PrflSbMnu">
                                <ul class="LnkLst">
                                    <li>
                                        <div class="PrflMiniView">
                                            <div class="PrflImgHldr">
                                                <img src="Images/ProfileImage.jpg" class="PrfImg">
                                            </div>
                                            <div class="PrflBscDtls">
                                                <span class="PrflName">Vinay Kumar</span>
                                                <span class="PrflDesignation">Site Admin</span>
                                                <span class="PrflEmail">vinay.kumar@gmail.com</span>
                                                <span class="PrflPhone">+91 98490 98490</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="Lnk">My Profile</a>
                                    </li>
                                    <li>
                                        <a href="index.html" class="Lnk">Sign Out</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppFooter">
        <div class="AppVrsnDtls">
            <span class="AppCurrVrsn">Version:<span class="Vrsn">v3.0.20</span></span>
        </div>
        <div class="AppPwrdDtls">
            <span class="CorpTxt">Powered by<a href="#" class="Lnk" target="_blank">WIS</a></span>
        </div>
    </div>
    <div class="AppMnuHldr">
        <div class="MnuLstHldr">
            <ul class="MnuLst">
                <li>
                    <a href="#" class="Lnk Actv">
                        <span class="LnkIcn WISIcn-Menu-Dashboard"></span>
                        <span class="LnkTxt">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-ComplaintManagement"></span>
                        <span class="LnkTxt">Complaint Management</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Map"></span>
                        <span class="LnkTxt">Map View</span>
                    </a>
                </li>
                <li>
                    <span class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-ComplaintsAdmin"></span>
                        <span class="LnkTxt">Complaints Admin<span class="Arrw WISIcn-ArrowRight"></span></span>
                    </span>
                    <ul class="SbMnu">
                        <li>
                            <span class="Lnk">
                                <span class="LnkTxt">Masters<span class="Arrw WISIcn-ArrowRight"></span></span>
                            </span>
                            <ul class="SbMnuInnr">
                                <li>
                                    <a href="#" class="Lnk">Sub Menu Link 1</a>
                                </li>
                                <li>
                                    <a href="#" class="Lnk">Sub Menu Link 2</a>
                                </li>
                                <li>
                                    <a href="#" class="Lnk">Sub Menu Link 3</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="Lnk">Sub Menu Link 2</a>
                        </li>
                        <li>
                            <a href="#" class="Lnk">Sub Menu Link 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Rooster"></span>
                        <span class="LnkTxt">Rooster</span>
                    </a>
                </li>
                <li>
                    <span class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Employees"></span>
                        <span class="LnkTxt">Employee Manager<span class="Arrw WISIcn-ArrowRight"></span></span>
                    </span>
                    <ul class="SbMnu">
                        <li>
                            <a href="#" class="Lnk">Sub Menu Link 1</a>
                        </li>
                        <li>
                            <span class="Lnk">
                                <span class="LnkTxt">Masters<span class="Arrw WISIcn-ArrowRight"></span></span>
                            </span>
                            <ul class="SbMnuInnr">
                                <li>
                                    <a href="#" class="Lnk">Sub Menu Link 1</a>
                                </li>
                                <li>
                                    <a href="#" class="Lnk">Sub Menu Link 2</a>
                                </li>
                                <li>
                                    <a href="#" class="Lnk">Sub Menu Link 3</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="Lnk">Sub Menu Link 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-AccessControl"></span>
                        <span class="LnkTxt">Access Control<span class="Arrw WISIcn-ArrowRight"></span></span>
                    </span>
                    <ul class="SbMnu">
                        <li>
                            <a href="#" class="Lnk">Sub Menu Link 1</a>
                        </li>
                        <li>
                            <a href="#" class="Lnk">Sub Menu Link 2</a>
                        </li>
                        <li>
                            <a href="#" class="Lnk">Sub Menu Link 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Masters"></span>
                        <span class="LnkTxt">Masters<span class="Arrw WISIcn-ArrowRight"></span></span>
                    </span>
                    <ul class="SbMnu">
                        <li>
                            <span class="Lnk">
                                <span class="LnkTxt">Masters<span class="Arrw WISIcn-ArrowRight"></span></span>
                            </span>
                            <ul class="SbMnuInnr">
                                <li>
                                    <a href="#" class="Lnk">Sub Menu Link 1</a>
                                </li>
                                <li>
                                    <a href="#" class="Lnk">Sub Menu Link 2</a>
                                </li>
                                <li>
                                    <span class="Lnk">
                                        <span class="LnkTxt">Masters<span class="Arrw WISIcn-ArrowRight"></span></span>
                                    </span>
                                    <ul class="SbMnuInnr">
                                        <li>
                                            <a href="#" class="Lnk">Sub Menu Link 1</a>
                                        </li>
                                        <li>
                                            <a href="#" class="Lnk">Sub Menu Link 2</a>
                                        </li>
                                        <li>
                                            <a href="#" class="Lnk">Sub Menu Link 3</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="Lnk">Sub Menu Link 2</a>
                        </li>
                        <li>
                            <a href="#" class="Lnk">Sub Menu Link 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Reports"></span>
                        <span class="LnkTxt">Reports</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppMstrCntnr">
        <div class="GnPgHdrDvHldr">
            <div class="TtlHldr">
                <span class="PgTtl">Page Title</span>
                <span class="PgTtlSpprtTxt">Support Text</span>
            </div>
            <div class="NvBtnHldr">
                <div class="Hldr">
                    <div class="AppCmpctTbHldr">
                        <a href="#" class="TabLnk Actv">Tab One</a>
                        <a href="#" class="TabLnk Icn">Tab Two</a>
                        <a href="#" class="TabLnk">Tab Three</a>
                    </div>
                </div>
                <div class="Hldr">
                    <a href="#" class="AppBtn Icn">Button One</a>
                </div>
                <div class="Hldr">
                    <a href="#" class="AppBtn">Button Two</a>
                </div>
            </div>
        </div>
        <div class="GnPgCntntDvHldr">
            <div class="AppFllTbHldr">
                <a href="#" class="TabLnk Actv">Tab One</a>
                <a href="#" class="TabLnk Icn">Tab Two</a>
                <a href="#" class="TabLnk">Tab Three</a>
                <a href="#" class="TabLnk">Tab Four</a>
                <a href="#" class="TabLnk">Tab Five</a>
                <a href="#" class="TabLnk">Tab Six</a>
                <a href="#" class="TabLnk">Tab Seven</a>
                <a href="#" class="TabLnk">Tab Eight</a>
            </div>
            <div class="InnrCntntHldr">
                <table class="AppGenTable">
                    <thead>
                        <tr>
                            <th>Column Head One</th>
                            <th>Column Head Two</th>
                            <th>Column Head Three</th>
                            <th>Column Head Four</th>
                            <th>Column Head Five</th>
                            <th>Column Head Six</th>
                            <th>Column Head Seven</th>
                            <th>Column Head Eight</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Column One</td>
                            <td>Column Two</td>
                            <td>Column Three</td>
                            <td>Column Four</td>
                            <td>Column Five</td>
                            <td>Column Six</td>
                            <td>Column Seven</td>
                            <td>Column Eight</td>
                        </tr>
                        <tr>
                            <td>Column One</td>
                            <td>Column Two</td>
                            <td>Column Three</td>
                            <td>Column Four</td>
                            <td>Column Five</td>
                            <td>Column Six</td>
                            <td>Column Seven</td>
                            <td>Column Eight</td>
                        </tr>
                        <tr>
                            <td>Column One</td>
                            <td>Column Two</td>
                            <td>Column Three</td>
                            <td>Column Four</td>
                            <td>Column Five</td>
                            <td>Column Six</td>
                            <td>Column Seven</td>
                            <td>Column Eight</td>
                        </tr>
                        <tr>
                            <td>Column One</td>
                            <td>Column Two</td>
                            <td>Column Three</td>
                            <td>Column Four</td>
                            <td>Column Five</td>
                            <td>Column Six</td>
                            <td>Column Seven</td>
                            <td>Column Eight</td>
                        </tr>
                        <tr>
                            <td>Column One</td>
                            <td>Column Two</td>
                            <td>Column Three</td>
                            <td>Column Four</td>
                            <td>Column Five</td>
                            <td>Column Six</td>
                            <td>Column Seven</td>
                            <td>Column Eight</td>
                        </tr>
                        <tr>
                            <td>Column One</td>
                            <td>Column Two</td>
                            <td>Column Three</td>
                            <td>Column Four</td>
                            <td>Column Five</td>
                            <td>Column Six</td>
                            <td>Column Seven</td>
                            <td>Column Eight</td>
                        </tr>
                        <tr>
                            <td>Column One</td>
                            <td>Column Two</td>
                            <td>Column Three</td>
                            <td>Column Four</td>
                            <td>Column Five</td>
                            <td>Column Six</td>
                            <td>Column Seven</td>
                            <td>Column Eight</td>
                        </tr>
                    </tbody>
                </table>
                <table class="AppGenTable">
                    <tr>
                        <th>Column Head One</th>
                        <th>Column Head Two</th>
                        <th>Column Head Three</th>
                        <th>Column Head Four</th>
                        <th>Column Head Five</th>
                        <th>Column Head Six</th>
                        <th>Column Head Seven</th>
                        <th>Column Head Eight</th>
                    </tr>
                    <tr>
                        <td>Column One</td>
                        <td>Column Two</td>
                        <td>Column Three</td>
                        <td>Column Four</td>
                        <td>Column Five</td>
                        <td>Column Six</td>
                        <td>Column Seven</td>
                        <td>Column Eight</td>
                    </tr>
                    <tr>
                        <td>Column One</td>
                        <td>Column Two</td>
                        <td>Column Three</td>
                        <td>Column Four</td>
                        <td>Column Five</td>
                        <td>Column Six</td>
                        <td>Column Seven</td>
                        <td>Column Eight</td>
                    </tr>
                    <tr>
                        <td>Column One</td>
                        <td>Column Two</td>
                        <td>Column Three</td>
                        <td>Column Four</td>
                        <td>Column Five</td>
                        <td>Column Six</td>
                        <td>Column Seven</td>
                        <td>Column Eight</td>
                    </tr>
                    <tr>
                        <td>Column One</td>
                        <td>Column Two</td>
                        <td>Column Three</td>
                        <td>Column Four</td>
                        <td>Column Five</td>
                        <td>Column Six</td>
                        <td>Column Seven</td>
                        <td>Column Eight</td>
                    </tr>
                    <tr>
                        <td>Column One</td>
                        <td>Column Two</td>
                        <td>Column Three</td>
                        <td>Column Four</td>
                        <td>Column Five</td>
                        <td>Column Six</td>
                        <td>Column Seven</td>
                        <td>Column Eight</td>
                    </tr>
                    <tr>
                        <td>Column One</td>
                        <td>Column Two</td>
                        <td>Column Three</td>
                        <td>Column Four</td>
                        <td>Column Five</td>
                        <td>Column Six</td>
                        <td>Column Seven</td>
                        <td>Column Eight</td>
                    </tr>
                    <tr>
                        <td>Column One</td>
                        <td>Column Two</td>
                        <td>Column Three</td>
                        <td>Column Four</td>
                        <td>Column Five</td>
                        <td>Column Six</td>
                        <td>Column Seven</td>
                        <td>Column Eight</td>
                    </tr>
                </table>
                <table class="AppGenTable">
                    <tr>
                        <th>Column Head One</th>
                        <th>Column Head Two</th>
                        <th>Column Head Three</th>
                        <th>Column Head Four</th>
                        <th>Column Head Five</th>
                        <th>Column Head Six</th>
                        <th>Column Head Seven</th>
                        <th>Column Head Eight</th>
                    </tr>
                    <tr>
                        <td>Column One</td>
                        <td>Column Two</td>
                        <td>Column Three</td>
                        <td>Column Four</td>
                        <td>Column Five</td>
                        <td>Column Six</td>
                        <td>Column Seven</td>
                        <td>Column Eight</td>
                    </tr>
                    <tr>
                        <td>Column One</td>
                        <td>Column Two</td>
                        <td>Column Three</td>
                        <td>Column Four</td>
                        <td>Column Five</td>
                        <td>Column Six</td>
                        <td>Column Seven</td>
                        <td>Column Eight</td>
                    </tr>
                    <tr>
                        <td>Column One</td>
                        <td>Column Two</td>
                        <td>Column Three</td>
                        <td>Column Four</td>
                        <td>Column Five</td>
                        <td>Column Six</td>
                        <td>Column Seven</td>
                        <td>Column Eight</td>
                    </tr>
                    <tr>
                        <td>Column One</td>
                        <td>Column Two</td>
                        <td>Column Three</td>
                        <td>Column Four</td>
                        <td>Column Five</td>
                        <td>Column Six</td>
                        <td>Column Seven</td>
                        <td>Column Eight</td>
                    </tr>
                    <tr>
                        <td>Column One</td>
                        <td>Column Two</td>
                        <td>Column Three</td>
                        <td>Column Four</td>
                        <td>Column Five</td>
                        <td>Column Six</td>
                        <td>Column Seven</td>
                        <td>Column Eight</td>
                    </tr>
                    <tr>
                        <td>Column One</td>
                        <td>Column Two</td>
                        <td>Column Three</td>
                        <td>Column Four</td>
                        <td>Column Five</td>
                        <td>Column Six</td>
                        <td>Column Seven</td>
                        <td>Column Eight</td>
                    </tr>
                    <tr>
                        <td>Column One</td>
                        <td>Column Two</td>
                        <td>Column Three</td>
                        <td>Column Four</td>
                        <td>Column Five</td>
                        <td>Column Six</td>
                        <td>Column Seven</td>
                        <td>Column Eight</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>