<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMS - Reports</title>
    <link rel="stylesheet" href="AppTheme/CmplntMngmntMdl/MdlTheme.css" />
    <link rel="stylesheet" href="AppTheme/Fonts/IconFont.css" />
</head>
<body>
    <div class="AppHeader">
        <div class="AppMnuTtlHldr">
            <div class="TtlHldr">
                <div class="ClntLgoHldr">
                    <img src="Images/CompanyLogo.png" class="Lgo" />
                </div>
            </div>
        </div>
        <div class="AppUsrCntrlHldr">
            <ul class="UsrNav">
                <li>
                    <a href="#" class="NavLnk WISIcn-Notification"></a>
                </li>
                <li>
                    <a href="#" class="NavLnk WISIcn-Help"></a>
                </li>
                <li>
                    <div class="UsrDvHldr">
                        <div class="UsrDtls">
                            <div class="PrflNmeHldr">
                                <span class="Nme">Vinay Kumar</span>
                            </div>
                            <div class="PrflImgHldr">
                                <img src="Images/ProfileImage.jpg" class="PrfImg">
                            </div>
                        </div>
                    </div>
                    <div class="HdrSbMnuHldr UsrDv">
                        <div class="InnrHldr">
                            <div class="PrflSbMnu">
                                <ul class="LnkLst">
                                    <li>
                                        <div class="PrflMiniView">
                                            <div class="PrflImgHldr">
                                                <img src="Images/ProfileImage.jpg" class="PrfImg">
                                            </div>
                                            <div class="PrflBscDtls">
                                                <span class="PrflName">Vinay Kumar</span>
                                                <span class="PrflDesignation">Site Admin</span>
                                                <span class="PrflEmail">vinay.kumar@gmail.com</span>
                                                <span class="PrflPhone">+91 98490 98490</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="Lnk">My Profile</a>
                                    </li>
                                    <li>
                                        <a href="index.html" class="Lnk">Sign Out</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppFooter">
        <div class="AppVrsnDtls">
            <span class="AppCurrVrsn">Version:<span class="Vrsn">v3.0.20</span></span>
        </div>
        <div class="AppPwrdDtls">
            <span class="CorpTxt">Powered by<a href="#" class="Lnk" target="_blank">WIS</a></span>
        </div>
    </div>
    <div class="AppMnuHldr">
        <div class="MnuLstHldr">
            <ul class="MnuLst">
                <li>
                    <a href="#" class="Lnk Actv">
                        <span class="LnkIcn WISIcn-Menu-Dashboard"></span>
                        <span class="LnkTxt">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-ComplaintManagement"></span>
                        <span class="LnkTxt">Complaint Management</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Map"></span>
                        <span class="LnkTxt">Map View</span>
                    </a>
                </li>
                <li>
                    <span class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-ComplaintsAdmin"></span>
                        <span class="LnkTxt">Complaints Admin<span class="Arrw WISIcn-ArrowRight"></span></span>
                    </span>
                    <ul class="SbMnu">
                        <li>
                            <span class="Lnk">
                                <span class="LnkTxt">Masters<span class="Arrw WISIcn-ArrowRight"></span></span>
                            </span>
                            <ul class="SbMnuInnr">
                                <li>
                                    <a href="#" class="Lnk">Sub Menu Link 1</a>
                                </li>
                                <li>
                                    <a href="#" class="Lnk">Sub Menu Link 2</a>
                                </li>
                                <li>
                                    <a href="#" class="Lnk">Sub Menu Link 3</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="Lnk">Sub Menu Link 2</a>
                        </li>
                        <li>
                            <a href="#" class="Lnk">Sub Menu Link 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Rooster"></span>
                        <span class="LnkTxt">Rooster</span>
                    </a>
                </li>
                <li>
                    <span class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Employees"></span>
                        <span class="LnkTxt">Employee Manager<span class="Arrw WISIcn-ArrowRight"></span></span>
                    </span>
                    <ul class="SbMnu">
                        <li>
                            <a href="#" class="Lnk">Sub Menu Link 1</a>
                        </li>
                        <li>
                            <span class="Lnk">
                                <span class="LnkTxt">Masters<span class="Arrw WISIcn-ArrowRight"></span></span>
                            </span>
                            <ul class="SbMnuInnr">
                                <li>
                                    <a href="#" class="Lnk">Sub Menu Link 1</a>
                                </li>
                                <li>
                                    <a href="#" class="Lnk">Sub Menu Link 2</a>
                                </li>
                                <li>
                                    <a href="#" class="Lnk">Sub Menu Link 3</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="Lnk">Sub Menu Link 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-AccessControl"></span>
                        <span class="LnkTxt">BMS<span class="Arrw WISIcn-ArrowRight"></span></span>
                    </span>
                    <ul class="SbMnu">
                        <li>
                            <a href="#" class="Lnk">Water</a>
                        </li>
                        <li>
                            <a href="#" class="Lnk">Energy</a>
                        </li>
                        <li>
                            <a href="#" class="Lnk">Switch Status</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Masters"></span>
                        <span class="LnkTxt">Masters<span class="Arrw WISIcn-ArrowRight"></span></span>
                    </span>
                    <ul class="SbMnu">
                        <li>
                            <span class="Lnk">
                                <span class="LnkTxt">Masters<span class="Arrw WISIcn-ArrowRight"></span></span>
                            </span>
                            <ul class="SbMnuInnr">
                                <li>
                                    <a href="#" class="Lnk">Sub Menu Link 1</a>
                                </li>
                                <li>
                                    <a href="#" class="Lnk">Sub Menu Link 2</a>
                                </li>
                                <li>
                                    <span class="Lnk">
                                        <span class="LnkTxt">Masters<span class="Arrw WISIcn-ArrowRight"></span></span>
                                    </span>
                                    <ul class="SbMnuInnr">
                                        <li>
                                            <a href="#" class="Lnk">Sub Menu Link 1</a>
                                        </li>
                                        <li>
                                            <a href="#" class="Lnk">Sub Menu Link 2</a>
                                        </li>
                                        <li>
                                            <a href="#" class="Lnk">Sub Menu Link 3</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="Lnk">Sub Menu Link 2</a>
                        </li>
                        <li>
                            <a href="#" class="Lnk">Sub Menu Link 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Reports"></span>
                        <span class="LnkTxt">Reports</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppMstrCntnr">
        <div class="GnPgHdrDvHldr">
            <div class="TtlHldr">
                <span class="PgTtl">Reports</span>
            </div>
        </div>
        <div class="GnPgCntntDvHldr">
            <div class="FormHldr Search">
                <div class="row">
                    <div class="col-1">
                        <div class="FormCheck">
                            <input class="RadioInput" type="radio" checked="">
                            <label>Tabular</label>
                        </div>
                        <div class="FormCheck">
                            <input class="RadioInput" type="radio">
                            <label>Graphical</label>
                        </div>
                        <div class="FormCheck">
                            <input class="RadioInput" type="radio">
                            <label>Consolidated</label>
                        </div>
                        <div class="FormCheck">
                            <input class="RadioInput" type="radio">
                            <label>Summarized</label>
                        </div>
                        <div class="FormCheck">
                            <input class="RadioInput" type="radio">
                            <label>Detailed</label>
                        </div>
                    </div>
                </div>
                <div class="row NoBG BrdrTp">
                    <div class="col-6">
                        <select class="Input">
                            <option>Select Category</option>
                            <option>Select</option>
                            <option>Select</option>
                            <option>Select</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <select class="Input">
                            <option>Select Solution</option>
                            <option>Select</option>
                            <option>Select</option>
                            <option>Select</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <input type="text" class="Input Icn Calendar" placeholder="From Date">
                    </div>
                    <div class="col-6">
                        <input type="text" class="Input Icn Calendar" placeholder="To Date">
                    </div>
                    <div class="col-6">
                        <select class="Input">
                            <option>Select From Time</option>
                            <option>Select</option>
                            <option>Select</option>
                            <option>Select</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <select class="Input">
                            <option>Select To Time</option>
                            <option>Select</option>
                            <option>Select</option>
                            <option>Select</option>
                        </select>
                    </div>
                </div>
                <div class="row NoBG BrdrTp">
                    <div class="col-1">
                        <button type="submit" class="AppBtn">Filter</button>
                        <button type="submit" class="AppBtn Scndry">Reset</button>
                        <button type="submit" class="AppBtn Scndry">Export</button>
                        <button type="submit" class="AppBtn Scndry">Export to Excel</button>
                        <button type="submit" class="AppBtn Scndry">Hide Search Box</button>
                    </div>
                </div>
            </div>
            <div class="InnrCntntHldr">
                <div class="FormHldr">
                    <div class="row NoBG">
                        <div class="col-2">
                            Graph 1
                        </div>
                        <div class="col-2">
                            Graph 2
                        </div>
                        <div class="col-2">
                            Graph 3
                        </div>
                        <div class="col-2">
                            Graph 4
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>