<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approvals</title>
    <link rel="stylesheet" href="AppTheme/CmplntMngmntMdl/MdlTheme.css" />
    <link rel="stylesheet" href="AppTheme/Fonts/IconFont.css" />
</head>

<body>
    <div class="FormHldr">
        <span class="FormTxtTtl">Approval Request</span>
        <div class="row NoBG HghlgtBG">
            <div class="col-7">
                <span class="FormTxt">Ref. No.</span>
                <span class="FormTxtVlu">APR-1588</span>
            </div>
            <div class="col-7">
                <span class="FormTxt">Approval type</span>
                <span class="FormTxtVlu">New Inventory</span>
            </div>
            <div class="col-7">
                <span class="FormTxt">Approval request from</span>
                <span class="FormTxtVlu">Technician</span>
            </div>
            <div class="col-7">
                <span class="FormTxt">Technician Name</span>
                <span class="FormTxtVlu">Mahesh</span>
            </div>
            <div class="col-7">
                <span class="FormTxt">Designation</span>
                <span class="FormTxtVlu">Sr. Technician</span>
            </div>
            <div class="col-7">
                <span class="FormTxt">Department</span>
                <span class="FormTxtVlu">Electricity</span>
            </div>
            <div class="col-7">
                <span class="FormTxt">Request date & time</span>
                <span class="FormTxtVlu">18-12-2022 | 11:21 PM</span>
            </div>
        </div>
        <div class="row NoBG">
            <div class="col-1">
                <span class="FormTxt HghlgtBG">Subject</span>
                <span class="FormTxtVlu">Request for purchasing new AC for HOD room</span>
            </div>
        </div>
        <div class="row NoBG">
            <div class="col-1">
                <span class="FormTxt HghlgtBG">Message</span>
                <span class="FormTxtVlu">Sir, as the Air Condition in the HOD room is very old and we suggest in place of
                    fixing multiple components we should install a new AC of 1.5 Tonnes, which we have in our stock. Please
                    review and confirm for the same. I have attached the photos and other documents related to the
                    AC.</span>
            </div>
        </div>
        <div class="row NoBG">
            <div class="col-4">
                <span class="FormTxt HghlgtBG">Product Name</span>
                <span class="FormTxtVlu">AC TwinJet A21</span>
            </div>
            <div class="col-4">
                <span class="FormTxt HghlgtBG">Product Type</span>
                <span class="FormTxtVlu">Air Conditioner</span>
            </div>
            <div class="col-4">
                <span class="FormTxt HghlgtBG">Product Make</span>
                <span class="FormTxtVlu">Samsung</span>
            </div>
            <div class="col-4">
                <span class="FormTxt HghlgtBG">Total Units</span>
                <span class="FormTxtVlu">1</span>
            </div>
        </div>
        <div class="row NoBG">
            <div class="col-1">
                <span class="FormTxt HghlgtBG">Attachments</span>
            </div>
            <div class="col-12">
                <img src="Images/CM-Temp-Img-01.jpg" class="Photo">
            </div>
            <div class="col-12">
                <img src="Images/CM-Temp-Img-02.jpg" class="Photo">
            </div>
            <div class="col-12">
                <img src="Images/CM-Temp-Img-03.jpg" class="Photo">
            </div>
            <div class="col-12">
                <img src="Images/CM-Temp-Img-04.jpg" class="Photo">
            </div>
        </div>
        <div class="row NoBG">
            <div class="col-1">
                <div class="UpldFlLst">
                    <span class="UpldFile">
                        <a href="#" class="Lnk FileName WISIcn-File">Photo.jpg</a>
                        <a href="#" class="Lnk DelBtn WISIcn-Thrash"></a>
                    </span>
                </div>
            </div>
        </div>
        <div class="row NoBG">
            <div class="col-1 BtnHldr">
                <button type="submit" class="AppBtn">Ask for more information</button>
                <button type="submit" class="AppBtn Scndry">Keep this on hold</button>
                <button type="submit" class="AppBtn Scndry">Seek Approval</button>
                <button type="submit" class="AppBtn Icn WISIcn-Cross-Big Reject">Reject</button>
                <button type="submit" class="AppBtn Icn WISIcn-Tick Approve">Approve</button>
            </div>
        </div>
    </div>
    
    </body>
</html>