<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Complaints</title>
    <link rel="stylesheet" href="AppTheme/CmplntMngmntMdl/MdlTheme.css" />
    <link rel="stylesheet" href="AppTheme/Fonts/IconFont.css" />
</head>

<body>
    <div class="AppHeader">
        <div class="AppMnuTtlHldr">
            <div class="MdlMnuHldr">
                <span class="MdlMnuLnk WISIcn-HeaderMenu"></span>
                <div class="HdrSbMnuHldr ModuleLst">
                    <div class="InnrHldr">
                        <div class="MdlLstHldr">
                            <span class="TxtTtl">Modules</span>
                            <ul class="MdlLst">
                                <li>
                                    <div class="MdlTypHldr">
                                        <a href="#" class="Lnk">
                                            <img src="AppTheme/ModIcon/Mod-Inventory.svg" class="ModIcn">
                                            <span class="ModName">Inventory</span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="MdlTypHldr Actv">
                                        <a href="#" class="Lnk">
                                            <img src="AppTheme/ModIcon/Mod-Complaint.svg" class="ModIcn">
                                            <span class="ModName">Complaint</span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="MdlTypHldr">
                                        <a href="#" class="Lnk">
                                            <img src="AppTheme/ModIcon/Mod-Feedback.svg" class="ModIcn">
                                            <span class="ModName">Feedback</span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="MdlTypHldr">
                                        <a href="#" class="Lnk">
                                            <img src="AppTheme/ModIcon/Mod-Employees.svg" class="ModIcn">
                                            <span class="ModName">Employees</span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="MdlTypHldr">
                                        <a href="#" class="Lnk">
                                            <img src="AppTheme/ModIcon/Mod-Leadership.svg" class="ModIcn">
                                            <span class="ModName">Leadership</span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="MdlTypHldr">
                                        <a href="#" class="Lnk">
                                            <img src="AppTheme/ModIcon/Mod-Attendance.svg" class="ModIcn">
                                            <span class="ModName">Attendance</span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                            <span class="TxtTtl">Modules</span>
                            <ul class="MdlLst">
                                <li>
                                    <div class="MdlTypHldr">
                                        <a href="#" class="Lnk">
                                            <img src="AppTheme/ModIcon/Mod-About.svg" class="ModIcn">
                                            <span class="ModName">About</span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="MdlTypHldr">
                                        <a href="#" class="Lnk">
                                            <img src="AppTheme/ModIcon/Mod-Locations.svg" class="ModIcn">
                                            <span class="ModName">Locations</span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="MdlTypHldr">
                                        <a href="#" class="Lnk">
                                            <img src="AppTheme/ModIcon/Mod-Settings.svg" class="ModIcn">
                                            <span class="ModName">Settings</span>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="TtlHldr">
                <div class="ClntLgoHldr">
                    <img src="Images/CompanyLogo.png" class="Lgo" />
                </div>
            </div>
        </div>
        <div class="AppUsrCntrlHldr">
            <ul class="UsrNav">
                <li>
                    <a href="#" class="NavLnk WISIcn-Notification"></a>
                </li>
                <li>
                    <a href="#" class="NavLnk WISIcn-Help"></a>
                </li>
                <li>
                    <div class="UsrDvHldr">
                        <div class="UsrDtls">
                            <div class="PrflNmeHldr">
                                <span class="Nme">Vinay Kumar</span>
                            </div>
                            <div class="PrflImgHldr">
                                <img src="Images/ProfileImage.jpg" class="PrfImg" />
                            </div>
                        </div>
                    </div>
                    <div class="HdrSbMnuHldr UsrDv">
                        <div class="InnrHldr">
                            <div class="PrflSbMnu">
                                <ul class="LnkLst">
                                    <li>
                                        <div class="PrflMiniView">
                                            <div class="PrflImgHldr">
                                                <img src="Images/ProfileImage.jpg" class="PrfImg" />
                                            </div>
                                            <div class="PrflBscDtls">
                                                <span class="PrflName">Vinay Kumar</span>
                                                <span class="PrflDesignation">Site Admin</span>
                                                <span class="PrflEmail">vinay.kumar@gmail.com</span>
                                                <span class="PrflPhone">+91 98490 98490</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#" class="Lnk">My Profile</a>
                                    </li>
                                    <li>
                                        <a href="#" class="Lnk">Sign Out</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppFooter">
        <div class="AppVrsnDtls">
            <span class="AppCurrVrsn">Version:<span class="Vrsn">v3.0.20</span></span>
        </div>
        <div class="AppPwrdDtls">
            <span class="CorpTxt">Powered by<a href="#" class="Lnk" target="_blank">WIS</a></span>
        </div>
    </div>
    <div class="AppMnuHldr">
        <div class="MnuLstHldr">
            <ul class="MnuLst">
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Dashboard"></span>
                        <span class="LnkTxt">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk Actv">
                        <span class="LnkIcn WISIcn-Menu-ComplaintManagement"></span>
                        <span class="LnkTxt">Complaint Management</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Map"></span>
                        <span class="LnkTxt">Map View</span>
                    </a>
                </li>
                <li>
                    <span class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-ComplaintsAdmin"></span>
                        <span class="LnkTxt">Complaints Admin<span class="Arrw WISIcn-ArrowRight"></span></span>
                    </span>
                    <div class="SbMnu">
                        <a href="#" class="Lnk">Sub Menu Link 1</a>
                        <a href="#" class="Lnk">Sub Menu Link 2</a>
                        <a href="#" class="Lnk">Sub Menu Link 3</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Rooster"></span>
                        <span class="LnkTxt">Rooster</span>
                    </a>
                </li>
                <li>
                    <span class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Employees"></span>
                        <span class="LnkTxt">Employee Manager<span class="Arrw WISIcn-ArrowRight"></span></span>
                    </span>
                    <div class="SbMnu">
                        <a href="#" class="Lnk">Sub Menu Link 1</a>
                        <a href="#" class="Lnk">Sub Menu Link 2</a>
                        <a href="#" class="Lnk">Sub Menu Link 3</a>
                    </div>
                </li>
                <li>
                    <span class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-AccessControl"></span>
                        <span class="LnkTxt">Access Control<span class="Arrw WISIcn-ArrowRight"></span></span>
                    </span>
                    <div class="SbMnu">
                        <a href="#" class="Lnk">Sub Menu Link 1</a>
                        <a href="#" class="Lnk">Sub Menu Link 2</a>
                        <a href="#" class="Lnk">Sub Menu Link 3</a>
                    </div>
                </li>
                <li>
                    <span class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Masters"></span>
                        <span class="LnkTxt">Masters<span class="Arrw WISIcn-ArrowRight"></span></span>
                    </span>
                    <div class="SbMnu">
                        <a href="#" class="Lnk">Sub Menu Link 1</a>
                        <a href="#" class="Lnk">Sub Menu Link 2</a>
                        <a href="#" class="Lnk">Sub Menu Link 3</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Reports"></span>
                        <span class="LnkTxt">Reports</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppMstrCntnr">
        <div class="GnPgHdrDvHldr">
            <div class="TtlHldr">
                <span class="PgTtl">Complaint Viewer</span>
            </div>
            <div class="NvBtnHldr">
                <div class="AppCmpctTbHldr">
                    <a href="#" class="TabLnk Actv">Today</a>
                    <a href="#" class="TabLnk">This Week</a>
                    <a href="#" class="TabLnk">Custom Date</a>
                </div>
                <div class="Hldr">
                    <a href="#" class="AppBtn Icn WISIcn-Add">Add Complaint</a>
                </div>
            </div>
        </div>
        <div class="GnPgCntntDvHldr">
            <div class="AppFllTbHldr">
                <a href="#" class="TabLnk Icn WISIcn-CM-All Actv">All (168)</a>
                <a href="#" class="TabLnk Icn WISIcn-CM-PendingApproval">Pending Approval (4)</a>
                <a href="#" class="TabLnk Icn WISIcn-CM-New">New (4)</a>
                <a href="#" class="TabLnk Icn WISIcn-CM-ViewUnassigned">View & Unassigned (3)</a>
                <a href="#" class="TabLnk Icn WISIcn-CM-Ongoing">Ongoing (2)</a>
                <a href="#" class="TabLnk Icn WISIcn-CM-Delayed">Delayed (2)</a>
                <a href="#" class="TabLnk Icn WISIcn-CM-Reopened">Re-Opened (1)</a>
                <a href="#" class="TabLnk Icn WISIcn-CM-Completed">Completed (4)</a>
            </div>
            <div class="InnrCntntHldr Legends">
                <table class="AppGenTable VAMiddle">
                    <thead>
                        <tr>
                            <th>Complaint ID</th>
                            <th>
                                Nature of Complaint
                            </th>
                            <th>
                                <span class="Lnk Srt WISIcn-Sort">Department</span>
                            </th>
                            <th>
                                Location
                            </th>
                            <th>
                                Complaint Time
                            </th>
                            <th>
                                Assigned To
                            </th>
                            <th>
                                <span class="Lnk Srt WISIcn-Sort">Status</span>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="InlnBlk CmpltPrty Theme1-High">CMP-1087</span>
                            </td>
                            <td>Door or window jammed / Repairs</td>
                            <td>Civil</td>
                            <td>Cancer Block</td>
                            <td>18 Dec, 2022 11:21PM</td>
                            <td>
                                <span class="Blk">Pradeep</span>
                                <span class="Blk">Sr. Technician</span>
                            </td>
                            <td>
                                <button type="submit" class="AppBtn Icn WISIcn-FullArrowRight CmpltStts Theme1-Ongoing">Ongoing (11 mins)</button>
                            </td>
                            <td>
                                <div class="ActnBtnsHldr">
                                    <div class="BtnHldr">
                                        <a title="Feedbac" href="#" class="AppBtn IcnOnly WISIcn-Feedback"></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="InlnBlk CmpltPrty Theme1-Medium">CMP-1087</span>
                            </td>
                            <td>Door or window jammed / Repairs</td>
                            <td>Civil</td>
                            <td>Cancer Block</td>
                            <td>18 Dec, 2022 11:21PM</td>
                            <td>
                                <span class="TxtInactive">Not Assigned</span>
                            </td>
                            <td>
                                <button type="submit" class="AppBtn Icn WISIcn-FullArrowRight CmpltStts Theme1-AssignComplaint">Assign Complaint</button>
                            </td>
                            <td>
                                <div class="ActnBtnsHldr">
                                    <div class="BtnHldr">
                                        <a title="Feedbac" href="#" class="AppBtn IcnOnly WISIcn-Feedback"></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="InlnBlk CmpltPrty Theme1-Low">CMP-1087</span>
                            </td>
                            <td>Door or window jammed / Repairs</td>
                            <td>Civil</td>
                            <td>Cancer Block</td>
                            <td>18 Dec, 2022 11:21PM</td>
                            <td>
                                <span class="Blk">Pradeep</span>
                                <span class="Blk">Sr. Technician</span>
                            </td>
                            <td>
                                <button type="submit" class="AppBtn Icn WISIcn-FullArrowRight CmpltStts Theme1-PendingApproval">Pending Approval (18hrs 9mins)</button>
                            </td>
                            <td>
                                <div class="ActnBtnsHldr">
                                    <div class="BtnHldr">
                                        <a title="Feedbac" href="#" class="AppBtn IcnOnly WISIcn-Feedback"></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="InlnBlk CmpltPrty Theme1-High">CMP-1087</span>
                            </td>
                            <td>Door or window jammed / Repairs</td>
                            <td>Civil</td>
                            <td>Cancer Block</td>
                            <td>18 Dec, 2022 11:21PM</td>
                            <td>
                                <span class="Blk">Pradeep</span>
                                <span class="Blk">Sr. Technician</span>
                            </td>
                            <td>
                                <button type="submit" class="AppBtn Icn WISIcn-FullArrowRight CmpltStts Theme1-Delayed">Delayed (3hrs 5mins)</button>
                            </td>
                            <td>
                                <div class="ActnBtnsHldr">
                                    <div class="BtnHldr">
                                        <a title="Feedbac" href="#" class="AppBtn IcnOnly WISIcn-Feedback"></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="InlnBlk CmpltPrty Theme1-Medium">CMP-1087</span>
                            </td>
                            <td>Door or window jammed / Repairs</td>
                            <td>Civil</td>
                            <td>Cancer Block</td>
                            <td>18 Dec, 2022 11:21PM</td>
                            <td>
                                <span class="Blk">Pradeep</span>
                                <span class="Blk">Sr. Technician</span>
                            </td>
                            <td>
                                <button type="submit" class="AppBtn Icn WISIcn-FullArrowRight CmpltStts Theme1-Completed">Completed (9hrs 45 mins)</button>
                            </td>
                            <td>
                                <div class="ActnBtnsHldr">
                                    <div class="BtnHldr">
                                        <a title="Feedbac" href="#" class="AppBtn IcnOnly WISIcn-Feedback"></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="InlnBlk CmpltPrty Theme1-Low Theme1-ReOpened">CMP-1087</span>
                            </td>
                            <td>Door or window jammed / Repairs</td>
                            <td>Civil</td>
                            <td>Cancer Block</td>
                            <td>18 Dec, 2022 11:21PM</td>
                            <td>
                                <span class="Blk">Pradeep</span>
                                <span class="Blk">Sr. Technician</span>
                            </td>
                            <td>
                                <button type="submit" class="AppBtn Icn WISIcn-FullArrowRight CmpltStts Theme1-ReOpened">Re-opened (2hrs 14mins)</button>
                            </td>
                            <td>
                                <div class="ActnBtnsHldr">
                                    <div class="BtnHldr">
                                        <a title="Feedbac" href="#" class="AppBtn IcnOnly WISIcn-Feedback"></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="TableLegends">
                <div class="Hldr">
                    <span class="Blk CmpltPrty Theme1-High">High</span>
                    <span class="Blk CmpltPrty Theme1-Medium">Medium</span>
                    <span class="Blk CmpltPrty Theme1-Low">Low</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>