<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Approvals</title>
    <link rel="stylesheet" href="AppTheme/CmplntMngmntMdl/MdlTheme.css" />
    <link rel="stylesheet" href="AppTheme/Fonts/IconFont.css" />
</head>

<body>
    <div class="AppHeader">
        <div class="AppMnuTtlHldr">
            <div class="TtlHldr">
                <div class="ClntLgoHldr">
                    <img src="Images/CompanyLogo.png" class="Lgo" />
                </div>
            </div>
        </div>
        <div class="AppUsrCntrlHldr">
            <ul class="UsrNav">
                <li>
                    <a href="#" class="NavLnk WISIcn-Notification"></a>
                </li>
                <li>
                    <a href="#" class="NavLnk WISIcn-Help"></a>
                </li>
                <li>
                    <div class="UsrDvHldr">
                        <div class="UsrDtls">
                            <div class="PrflNmeHldr">
                                <span class="Nme">Vinay Kumar</span>
                            </div>
                            <div class="PrflImgHldr">
                                <img src="Images/ProfileImage.jpg" class="PrfImg" />
                                <span class="PrflTxtImg">
                                    <span class="Intls">VK</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppFooter">
        <div class="AppVrsnDtls">
            <span class="AppCurrVrsn">Version:<span class="Vrsn">v3.0.20</span></span>
        </div>
        <div class="AppPwrdDtls">
            <span class="CorpTxt">Powered by<a href="#" class="Lnk" target="_blank">WIS</a></span>
        </div>
    </div>
    <div class="AppMnuHldr">
        <div class="MnuLstHldr">
            <ul class="MnuLst">
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Dashboard"></span>
                        <span class="LnkTxt">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Requests"></span>
                        <span class="LnkTxt">Requests</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Inventory"></span>
                        <span class="LnkTxt">Inventory</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-PurchaseOrders"></span>
                        <span class="LnkTxt">Purchase Orders</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk Actv">
                        <span class="LnkIcn WISIcn-Menu-Approvals"></span>
                        <span class="LnkTxt">Approvals</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Audits"></span>
                        <span class="LnkTxt">Audits</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Reports"></span>
                        <span class="LnkTxt">Reports</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppMstrCntnr">
        <div class="GnPgHdrDvHldr">
            <div class="TtlHldr">
                <span class="PgTtl">Approvals</span>
            </div>
        </div>
        <div class="GnPgCntntDvHldr">
            <div class="InnrCntntHldr">
                <div class="FormHldr">
                    <span class="FormTxtTtl">Request New Approval</span>
                    <div class="row">
                        <span class="FormTxtSbTtl">Request Approval from</span>
                        <div class="col-4">
                            <input type="text" class="Input" placeholder="Complaint ID">
                        </div>
                        <div class="col-4">
                            <select class="Input">
                                <option>Department</option>
                                <option>Select</option>
                                <option>Select</option>
                                <option>Select</option>
                              </select>
                        </div>
                        <div class="col-4">
                            <select class="Input">
                                <option>Approval from</option>
                                <option>Select</option>
                                <option>Select</option>
                                <option>Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <span class="FormTxtSbTtl">Priority</span>
                            <div class="FormCheck">
                                <input class="RadioInput" type="radio" checked="">
                                <label>Low</label>
                            </div>
                            <div class="FormCheck">
                                <input class="RadioInput" type="radio">
                                <label>Medium</label>
                            </div>
                            <div class="FormCheck">
                                <input class="RadioInput" type="radio">
                                <label>High</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <span class="FormTxtSbTtl">Approval Type</span>
                            <select class="Input">
                                <option>Select</option>
                                <option>Select</option>
                                <option>Select</option>
                                <option>Select</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <span class="FormTxtSbTtl">Ref. No.</span>
                            <span class="FormTxt">APR-1588</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <span class="FormTxtSbTtl">Message</span>
                            <input type="text" class="Input" placeholder="Subject">
                        </div>
                        <div class="col-1">
                            <textarea class="Input" rows="3" placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1 BtnHldr">
                            <button type="submit" class="AppBtn Scndry Icn WISIcn-Cross-Big">Cancel</button>
                            <button type="submit" class="AppBtn Icn WISIcn-Tick">Request</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>