<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooster</title>
    <link rel="stylesheet" href="AppTheme/CmplntMngmntMdl/MdlTheme.css" />
    <link rel="stylesheet" href="AppTheme/Fonts/IconFont.css" />
</head>

<body>
    <div class="AppHeader">
        <div class="AppMnuTtlHldr">
            <div class="MdlMnuHldr">
                <a href="#" class="MdlMnuLnk WISIcn-HeaderMenu"></a>
            </div>
            <div class="TtlHldr">
                <div class="ClntLgoHldr">
                    <img src="Images/CompanyLogo.png" class="Lgo" />
                </div>
            </div>
        </div>
        <div class="AppUsrCntrlHldr">
            <ul class="UsrNav">
                <li>
                    <a href="#" class="NavLnk WISIcn-Notification"></a>
                </li>
                <li>
                    <a href="#" class="NavLnk WISIcn-Help"></a>
                </li>
                <li>
                    <div class="UsrDvHldr">
                        <div class="UsrDtls">
                            <div class="PrflNmeHldr">
                                <span class="Nme">Vinay Kumar</span>
                            </div>
                            <div class="PrflImgHldr">
                                <img src="Images/ProfileImage.jpg" class="PrfImg" />
                                <span class="PrflTxtImg">
                                    <span class="Intls">VK</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppFooter">
        <div class="AppVrsnDtls">
            <span class="AppCurrVrsn">Version:<span class="Vrsn">v3.0.20</span></span>
        </div>
        <div class="AppPwrdDtls">
            <span class="CorpTxt">Powered by<a href="#" class="Lnk" target="_blank">WIS</a></span>
        </div>
    </div>
    <div class="AppMnuHldr">
        <div class="MnuLstHldr">
            <ul class="MnuLst">
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Dashboard"></span>
                        <span class="LnkTxt">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-ComplaintManagement"></span>
                        <span class="LnkTxt">Complaint Management</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Map"></span>
                        <span class="LnkTxt">Map View</span>
                    </a>
                </li>
                <li>
                    <span class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-ComplaintsAdmin"></span>
                        <span class="LnkTxt">Complaints Admin<span class="Arrw WISIcn-ArrowRight"></span></span>
                    </span>
                    <div class="SbMnu">
                        <a href="#" class="Lnk">Sub Menu Link 1</a>
                        <a href="#" class="Lnk">Sub Menu Link 2</a>
                        <a href="#" class="Lnk">Sub Menu Link 3</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="Lnk Actv">
                        <span class="LnkIcn WISIcn-Menu-Rooster"></span>
                        <span class="LnkTxt">Rooster</span>
                    </a>
                </li>
                <li>
                    <span class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Employees"></span>
                        <span class="LnkTxt">Employee Manager<span class="Arrw WISIcn-ArrowRight"></span></span>
                    </span>
                    <div class="SbMnu">
                        <a href="#" class="Lnk">Sub Menu Link 1</a>
                        <a href="#" class="Lnk">Sub Menu Link 2</a>
                        <a href="#" class="Lnk">Sub Menu Link 3</a>
                    </div>
                </li>
                <li>
                    <span class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-AccessControl"></span>
                        <span class="LnkTxt">Access Control<span class="Arrw WISIcn-ArrowRight"></span></span>
                    </span>
                    <div class="SbMnu">
                        <a href="#" class="Lnk">Sub Menu Link 1</a>
                        <a href="#" class="Lnk">Sub Menu Link 2</a>
                        <a href="#" class="Lnk">Sub Menu Link 3</a>
                    </div>
                </li>
                <li>
                    <span class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Masters"></span>
                        <span class="LnkTxt">Masters<span class="Arrw WISIcn-ArrowRight"></span></span>
                    </span>
                    <div class="SbMnu">
                        <a href="#" class="Lnk">Sub Menu Link 1</a>
                        <a href="#" class="Lnk">Sub Menu Link 2</a>
                        <a href="#" class="Lnk">Sub Menu Link 3</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Reports"></span>
                        <span class="LnkTxt">Reports</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppMstrCntnr">
        <div class="GnPgHdrDvHldr">
            <div class="TtlHldr">
                <span class="PgTtl">Rooster</span>
            </div>
            <div class="NvBtnHldr">
                <div class="AppCmpctTbHldr">
                    <a href="#" class="TabLnk">Today</a>
                    <a href="#" class="TabLnk Actv">This Week</a>
                    <a href="#" class="TabLnk">Custom Date</a>
                </div>
                <div class="Hldr">
                    <a href="#" class="AppBtn Thrdry Icn WISIcn-Upload">Upload Rooster</a>
                </div>
            </div>
        </div>
        <div class="GnPgCntntDvHldr">
            <div class="AppFllTbHldr">
                <a href="#" class="TabLnk Actv">
                    <span class="Blk">
                        <strong>Shift - 1</strong>
                    </span>
                    <span class="Blk">06:00 AM - 02:00 PM</span>
                </a>
                <a href="#" class="TabLnk">
                    <span class="Blk">
                        <strong>Shift - 2</strong>
                    </span>
                    <span class="Blk">02:00 PM - 10:00 PM</span>
                </a>
                <a href="#" class="TabLnk">
                    <span class="Blk">
                        <strong>Shift - 3</strong>
                    </span>
                    <span class="Blk">10:00 PM - 06:00 AM</span>
                </a>
            </div>
            <div class="InnrCntntHldr">
                <table class="AppGenTable VAMiddle Rooster">
                    <thead>
                        <tr>
                            <th class="EmpID">Emp. ID</th>
                            <th class="Name">Name</th>
                            <th class="Desig">
                                <span class="Lnk Srt WISIcn-Sort">Designation</span>
                            </th>
                            <th class="Date">01 Jan 2023</th>
                            <th class="Date">02 Jan 2023</th>
                            <th class="Date">03 Jan 2023</th>
                            <th class="Date Today">04 Jan 2023</th>
                            <th class="Date">05 Jan 2023</th>
                            <th class="Date">06 Jan 2023</th>
                            <th class="Date">07 Jan 2023</th>
                            <th class="Date">08 Jan 2023</th>
                            <th class="Date">09 Jan 2023</th>
                            <th class="Date">10 Jan 2023</th>
                            <th class="Date">11 Jan 2023</th>
                            <th class="Date">12 Jan 2023</th>
                            <th class="Date">13 Jan 2023</th>
                            <th class="Date">14 Jan 2023</th>
                            <th class="Date">15 Jan 2023</th>
                            <th class="Date">16 Jan 2023</th>
                            <th class="Date">17 Jan 2023</th>
                            <th class="Date">18 Jan 2023</th>
                            <th class="Date">19 Jan 2023</th>
                            <th class="Date">20 Jan 2023</th>
                            <th class="Date">21 Jan 2023</th>
                            <th class="Date">22 Jan 2023</th>
                            <th class="Date">23 Jan 2023</th>
                            <th class="Date">24 Jan 2023</th>
                            <th class="Date">25 Jan 2023</th>
                            <th class="Date">26 Jan 2023</th>
                            <th class="Date">27 Jan 2023</th>
                            <th class="Date">28 Jan 2023</th>
                            <th class="Date">29 Jan 2023</th>
                            <th class="Date">30 Jan 2023</th>
                            <th class="Date">31 Jan 2023</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="EmpID">EMP-1087</td>
                            <td class="Name">Vishnu Prasad Kumar</td>
                            <td class="Desig">Senior Electrician</td>
                            <td class="Date">
                                <div class="RoosterDetail Status-Absent">
                                    <span class="Stts">A</span>
                                    <div class="RstrPopup">
                                        <div class="DtlsHldr">
                                            <span class="AttdStts">On Time</span>
                                            <span class="SttsType">(Full Day)</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="Date">
                                <div class="RoosterDetail Status-WeekOff">
                                    <span class="Stts">WO</span>
                                </div>
                            </td>
                            <td class="Date">
                                <div class="RoosterDetail Status-Present Late">
                                    <span class="Stts">P</span>
                                    <div class="RstrPopup">
                                        <div class="DtlsHldr">
                                            <span class="AttdStts">On Time</span>
                                            <span class="SttsType">(Full Day)</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="Date Today">
                                <div class="RoosterDetail Status-Present">
                                    <span class="Stts">P</span>
                                    <div class="RstrPopup">
                                        <div class="DtlsHldr">
                                            <span class="AttdStts">On Time</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="Date">
                                <div class="RoosterDetail Status-UpComing">
                                    <span class="Stts"></span>
                                    <div class="RstrPopup">
                                        <div class="DtlsHldr">
                                            <span class="UpCmngTxt">Upcoming</span>
                                            <span class="ShftDtl">Shift - 1</span>
                                            <span class="ShftTiming">06:00 AM - 02:00 PM</span>
                                            <a href="#" class="AppBtn Scndry">Change Schedule</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="Date">
                                <div class="RoosterDetail Status-ShiftChange">
                                    <span class="Stts">SH-2</span>
                                    <div class="RstrPopup">
                                        <div class="DtlsHldr">
                                            <span class="UpCmngTxt">Upcoming</span>
                                            <span class="ShftDtl">Shift - 2</span>
                                            <span class="ShftTiming">02:00 PM - 10:00 PM</span>
                                            <a href="#" class="AppBtn Scndry">Change Schedule</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="Date"></td>
                            <td class="Date"></td>
                            <td class="Date"></td>
                            <td class="Date"></td>
                            <td class="Date"></td>
                            <td class="Date"></td>
                            <td class="Date"></td>
                            <td class="Date"></td>
                            <td class="Date"></td>
                            <td class="Date"></td>
                            <td class="Date"></td>
                            <td class="Date"></td>
                            <td class="Date"></td>
                            <td class="Date"></td>
                            <td class="Date"></td>
                            <td class="Date"></td>
                            <td class="Date"></td>
                            <td class="Date"></td>
                            <td class="Date"></td>
                            <td class="Date"></td>
                            <td class="Date"></td>
                            <td class="Date"></td>
                            <td class="Date"></td>
                            <td class="Date"></td>
                            <td class="Date"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="PopUpBG"></div>
        <div class="PopUpHldr Max">
            <div class="PopUpHedr">
                <div class="HdrTtlHldr">
                    <span class="TtlTxt">Schedule Change</span>
                </div>
                <div class="HdrBtnHldr">
                    <span class="AppBtn IcnOnly Close"></span>
                </div>
            </div>
            <div class="PopUpBdy">
                <div class="InnrCntntHldr">
                    <div class="FormHldr">
                        <div class="row">
                            <div class="col-6">
                                <span class="FormTxt">Emp. ID</span>
                                <span class="FormTxtVlu">EMP-1090</span>
                            </div>
                            <div class="col-6">
                                <span class="FormTxt">Name</span>
                                <span class="FormTxtVlu">Suresh Kumar</span>
                            </div>
                            <div class="col-6">
                                <span class="FormTxt">Designation</span>
                                <span class="FormTxtVlu">Hired Help</span>
                            </div>
                            <div class="col-6">
                                <span class="FormTxt">Department</span>
                                <span class="FormTxtVlu">House Keeping</span>
                            </div>
                            <div class="col-6">
                                <span class="FormTxt">Reporting Manager</span>
                                <span class="FormTxtVlu">Pramod Singh</span>
                            </div>
                            <div class="col-6">
                                <span class="FormTxt">Leaves Available</span>
                                <span class="FormTxtVlu">03</span>
                            </div>
                        </div>
                        <div class="row">
                            <span class="FormTxtSbTtl">Change Information</span>
                            <div class="col-4">
                                <span class="FormTxt">Emp. ID</span>
                                <select class="Input">
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <span class="FormTxt">Name</span>
                                <input type="text" class="Input Icn Calendar" placeholder="Select Date">
                            </div>
                            <div class="col-4">
                                <span class="FormTxt">Designation</span>
                                <select class="Input">
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <span class="FormTxt">Department</span>
                                <select class="Input">
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <table class="AppGenTable VAMiddle">
                        <thead>
                            <th></th>
                            <th>Emp. ID</th>
                            <th>Name</th>
                            <th>
                                <span class="Lnk Srt WISIcn-Sort">Designation</span>
                            </th>
                            <th>Contact No.</th>
                            <th>
                                <span class="Lnk Srt WISIcn-Sort">Shift Timing</span>
                            </th>
                        </thead>
                        <tbody>
                            <td>
                                <div class="FormHldr">
                                    <div class="row NoBG">
                                        <div class="col-1">
                                            <div class="FormCheck">
                                                <input class="RadioInput" type="radio">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>EMP-1087</td>
                            <td>Vishnu Prasad Kumar</td>
                            <td>Senior Electriction</td>
                            <td>+91 98490 98490</td>
                            <td>+91 98490 98490</td>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="PopUpBtnFtr">
                <div class="FormHldr">
                    <div class="row">
                        <div class="col-1 BtnHldr">
                            <a href="#" class="AppBtn Scndry">Cancel</a>
                            <button type="submit" class="AppBtn">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>