<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Messages</title>
    <link rel="stylesheet" href="AppTheme/CmplntMngmntMdl/MdlTheme.css" />
    <link rel="stylesheet" href="AppTheme/Fonts/IconFont.css" />
</head>

<body>
    <div class="AppHeader">
        <div class="AppMnuTtlHldr">
            <div class="TtlHldr">
                <div class="ClntLgoHldr">
                    <img src="Images/CompanyLogo.png" class="Lgo" />
                </div>
            </div>
        </div>
        <div class="AppUsrCntrlHldr">
            <ul class="UsrNav">
                <li>
                    <a href="#" class="NavLnk WISIcn-Notification"></a>
                </li>
                <li>
                    <a href="#" class="NavLnk WISIcn-Help"></a>
                </li>
                <li>
                    <div class="UsrDvHldr">
                        <div class="UsrDtls">
                            <div class="PrflNmeHldr">
                                <span class="Nme">Vinay Kumar</span>
                            </div>
                            <div class="PrflImgHldr">
                                <img src="Images/ProfileImage.jpg" class="PrfImg" />
                                <span class="PrflTxtImg">
                                    <span class="Intls">VK</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppFooter">
        <div class="AppVrsnDtls">
            <span class="AppCurrVrsn">Version:<span class="Vrsn">v3.0.20</span></span>
        </div>
        <div class="AppPwrdDtls">
            <span class="CorpTxt">Powered by<a href="#" class="Lnk" target="_blank">WIS</a></span>
        </div>
    </div>
    <div class="AppMnuHldr">
        <div class="MnuLstHldr">
            <ul class="MnuLst">
                <li>
                    <a href="SA-02-01-Dashboard.html" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Dashboard"></span>
                        <span class="LnkTxt">Dashboard</span>
                    </a>
                </li>
                <li>
                    <span class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Masters"></span>
                        <span class="LnkTxt">Masters<span class="Arrw WISIcn-ArrowRight"></span></span>
                    </span>
                    <div class="SbMnu">
                        <a href="SA-03-01-LocationsMaster.html" class="Lnk">Location Master</a>
                        <a href="SA-08-01-DepartmentMaster.html" class="Lnk">Department & Designations</a>
                        <a href="SA-CM-01-01-ComplaintTimeMaster.html" class="Lnk">Complaint Time Master</a>
                        <a href="SA-CM-02-01-ComplaintCategories.html" class="Lnk">Complaint Categories</a>
                        <a href="#" class="Lnk">Complaint Status</a>
                        <a href="#" class="Lnk">Product Types</a>
                        <a href="#" class="Lnk">Product Make</a>
                        <a href="#" class="Lnk">Product Status</a>
                        <a href="#" class="Lnk">Document Types</a>
                        <a href="#" class="Lnk">Shift Master</a>
                    </div>
                </li>
                <li>
                    <a href="SA-04-01-CrudLocations.html" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Map"></span>
                        <span class="LnkTxt">Manage Locations</span>
                    </a>
                </li>
                <li>
                    <a href="SA-06-02-CRUDEmployees.html" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Employees"></span>
                        <span class="LnkTxt">Manage Employees<span class="Arrw WISIcn-ArrowRight"></span></span>
                    </a>
                    <div class="SbMnu">
                        <a href="SA-09-02-AccessControl.html" class="Lnk">Access Control</a>
                        <a href="#" class="Lnk">Employees</a>
                        <a href="#" class="Lnk">Rooster</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-AccessControl"></span>
                        <span class="LnkTxt">Manage Complaints<span class="Arrw WISIcn-ArrowRight"></span></span>
                    </a>
                    <div class="SbMnu">
                        <a href="#" class="Lnk">Complaints</a>
                        <a href="#" class="Lnk">Approvals</a>
                    </div>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-AccessControl"></span>
                        <span class="LnkTxt">Manage Inventory<span class="Arrw WISIcn-ArrowRight"></span></span>
                    </a>
                    <div class="SbMnu">
                        <a href="#" class="Lnk">Inventory</a>
                        <a href="#" class="Lnk">Stock Requests</a>
                    </div>
                </li>
                
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Reports"></span>
                        <span class="LnkTxt">Reports</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppMstrCntnr">
        <div class="GnPgHdrDvHldr">
            <div class="TtlHldr">
                <span class="PgTtl">Error Messages Samples</span>
            </div>
        </div>
        <div class="GnPgCntntDvHldr">
            <div class="InnrCntntHldr">
                <div class="GenMsg Error">
                    <span class="MsgTtl">Error Message Title</span>
                    <span class="MsgTxt">Error Message Text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mattis turpis non risus tincidunt faucibus.</span>
                    <span class="AppBtn Close WISIcn-Cross-Big"></span>
                </div>
                <div class="GenMsg Success">
                    <span class="MsgTtl">Success Message Title</span>
                    <span class="MsgTxt">Success Message Text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mattis turpis non risus tincidunt faucibus.</span>
                    <span class="AppBtn Close WISIcn-Cross-Big"></span>
                </div>
                <div class="GenMsg NoResult">
                    <span class="MsgTtl">No Result Message Title</span>
                    <span class="MsgTxt">No Result Message Text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mattis turpis non risus tincidunt faucibus.</span>
                    <span class="AppBtn Close WISIcn-Cross-Big"></span>
                </div>
                <div class="GenMsg Error">
                    <span class="MsgTxt">Error Message Text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mattis turpis non risus tincidunt faucibus.</span>
                    <span class="AppBtn Close WISIcn-Cross-Big"></span>
                </div>
                <div class="GenMsg Success">
                    <span class="MsgTxt">Success Message Text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mattis turpis non risus tincidunt faucibus.</span>
                    <span class="AppBtn Close WISIcn-Cross-Big"></span>
                </div>
                <div class="GenMsg NoResult">
                    <span class="MsgTxt">No Result Message Text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mattis turpis non risus tincidunt faucibus.</span>
                    <span class="AppBtn Close WISIcn-Cross-Big"></span>
                </div>
                <div class="GenMsg Error">
                    <span class="MsgTtl">Error Message Title</span>
                    <span class="MsgTxt">Error Message Text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mattis turpis non risus tincidunt faucibus.</span>
                </div>
                <div class="GenMsg Success">
                    <span class="MsgTtl">Success Message Title</span>
                    <span class="MsgTxt">Success Message Text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mattis turpis non risus tincidunt faucibus.</span>
                </div>
                <div class="GenMsg NoResult">
                    <span class="MsgTtl">No Result Message Title</span>
                    <span class="MsgTxt">No Result Message Text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mattis turpis non risus tincidunt faucibus.</span>
                </div>
                <div class="GenMsg Error">
                    <span class="MsgTxt">Error Message Text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mattis turpis non risus tincidunt faucibus.</span>
                </div>
                <div class="GenMsg Success">
                    <span class="MsgTxt">Success Message Text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mattis turpis non risus tincidunt faucibus.</span>
                </div>
                <div class="GenMsg NoResult">
                    <span class="MsgTxt">No Result Message Text - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mattis turpis non risus tincidunt faucibus.</span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>