<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Management 03</title>
    <link rel="stylesheet" href="AppTheme/CmplntMngmntMdl/MdlTheme.css" />
    <link rel="stylesheet" href="AppTheme/Fonts/IconFont.css" />
</head>

<body>
    <div class="AppHeader">
        <div class="AppMnuTtlHldr">
            <div class="TtlHldr">
                <div class="ClntLgoHldr">
                    <img src="Images/CompanyLogo.png" class="Lgo" />
                </div>
            </div>
        </div>
        <div class="AppUsrCntrlHldr">
            <ul class="UsrNav">
                <li>
                    <a href="#" class="NavLnk WISIcn-Notification"></a>
                </li>
                <li>
                    <a href="#" class="NavLnk WISIcn-Help"></a>
                </li>
                <li>
                    <div class="UsrDvHldr">
                        <div class="UsrDtls">
                            <div class="PrflNmeHldr">
                                <span class="Nme">Vinay Kumar</span>
                            </div>
                            <div class="PrflImgHldr">
                                <img src="Images/ProfileImage.jpg" class="PrfImg" />
                                <span class="PrflTxtImg">
                                    <span class="Intls">VK</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppFooter">
        <div class="AppVrsnDtls">
            <span class="AppCurrVrsn">Version:<span class="Vrsn">v3.0.20</span></span>
        </div>
        <div class="AppPwrdDtls">
            <span class="CorpTxt">Powered by<a href="#" class="Lnk" target="_blank">WIS</a></span>
        </div>
    </div>
    <div class="AppMnuHldr">
        <div class="MnuLstHldr">
            <ul class="MnuLst">
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Dashboard"></span>
                        <span class="LnkTxt">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Requests"></span>
                        <span class="LnkTxt">Requests</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Inventory"></span>
                        <span class="LnkTxt">Inventory</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-PurchaseOrders"></span>
                        <span class="LnkTxt">Purchase Orders</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Approvals"></span>
                        <span class="LnkTxt">Approvals</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Audits"></span>
                        <span class="LnkTxt">Audits</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Reports"></span>
                        <span class="LnkTxt">Reports</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppMstrCntnr">
        <div class="GnPgCntntDvHldr MapView">
            <div class="MapLocationDtlsHldr">
                <div class="HeaderHldr">
                    <div class="TtlDv">
                        <span class="TtlTxt">All 4 locations</span>
                    </div>
                    <div class="DtDv">
                        <span class="DtSlctn">Custom</span>
                        <span class="DateVlue WISIcn-Calendar">12 Feb - 14 Mar, 2023</span>
                    </div>
                </div>
                <div class="HotelManagement">
                    <div class="RdOptnHldr HtlMngment">
                        <span class="Txt">Overall Consumption</span>
                        <a href="#" class="AppBtn IcnOnly Access"></a>
                        <span class="Txt">Consumption per occupancy</span>
                    </div>
                    <div class="HotelDv Active">
                        <div class="HdrHldr">
                            <a href="#" class="TtlLnk">
                                <span class="TtlTxt">Embassy Suits</span>
                                <span class="Lnk WISIcn-ArrowRight"></span>
                            </a>
                            <div class="DtlsHldr">
                                <div class="BscDtls">
                                    <span class="RoomsDtls">250 Rooms</span>
                                    <span class="LocationDlts WISIcn-Menu-Map">River walk, San Antonio, Texas</span>
                                </div>
                                <div class="ArrwLnkHldr">
                                    <a href="#" class="Lnk Active WISIcn-ArrowDown"></a>
                                </div>
                            </div>
                        </div>
                        <div class="FullDtls">
                            <table class="AppGenTable VAMiddle">
                                <thead>
                                    <tr>
                                        <th>Department</th>
                                        <th>Total</th>
                                        <th>Avg.</th>
                                        <th>%</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Energy (Occupancy)</td>
                                        <td>3547 kWh</td>
                                        <td>2151 kWh</td>
                                        <td>
                                            <span class="DshbrdSttsTxt Compact NoMrgn Theme1-Negative">+37%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Water (Occupancy)</td>
                                        <td>61 Gl</td>
                                        <td>59 Gl</td>
                                        <td>
                                            <span class="DshbrdSttsTxt Compact NoMrgn Theme1-Negative">+2%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Gas (Occupancy)</td>
                                        <td>43 Gl</td>
                                        <td>35 Gl</td>
                                        <td>
                                            <span class="DshbrdSttsTxt Compact NoMrgn Theme1-Positive">-7%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Complaint (Occupancy)</td>
                                        <td>21</td>
                                        <td>18</td>
                                        <td>
                                            <span class="DshbrdSttsTxt Compact NoMrgn Theme1-Negative">+4%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Occpancy (Occupancy)</td>
                                        <td>87%</td>
                                        <td>75%</td>
                                        <td>
                                            <span class="DshbrdSttsTxt Compact NoMrgn Theme1-Positive">+12%</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="HotelDv">
                        <div class="HdrHldr">
                            <a href="#" class="TtlLnk">
                                <span class="TtlTxt">Hotel Marriott</span>
                                <span class="Lnk WISIcn-ArrowRight"></span>
                            </a>
                            <div class="DtlsHldr">
                                <div class="BscDtls">
                                    <span class="RoomsDtls">110 Rooms</span>
                                    <span class="LocationDlts WISIcn-Menu-Map">Fairfield, Irving, Texas</span>
                                </div>
                                <div class="ArrwLnkHldr">
                                    <a href="#" class="Lnk WISIcn-ArrowDown"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="HotelDv">
                        <div class="HdrHldr">
                            <a href="#" class="TtlLnk">
                                <span class="TtlTxt">Embassy Suits</span>
                                <span class="Lnk WISIcn-ArrowRight"></span>
                            </a>
                            <div class="DtlsHldr">
                                <div class="BscDtls">
                                    <span class="RoomsDtls">250 Rooms</span>
                                    <span class="LocationDlts WISIcn-Menu-Map">River walk, San Antonio, Texas</span>
                                </div>
                                <div class="ArrwLnkHldr">
                                    <a href="#" class="Lnk WISIcn-ArrowDown"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="HotelDv">
                        <div class="HdrHldr">
                            <a href="#" class="TtlLnk">
                                <span class="TtlTxt">Hotel Marriott</span>
                                <span class="Lnk WISIcn-ArrowRight"></span>
                            </a>
                            <div class="DtlsHldr">
                                <div class="BscDtls">
                                    <span class="RoomsDtls">110 Rooms</span>
                                    <span class="LocationDlts WISIcn-Menu-Map">Fairfield, Irving, Texas</span>
                                </div>
                                <div class="ArrwLnkHldr">
                                    <a href="#" class="Lnk WISIcn-ArrowDown"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>