<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Management 06</title>
    <link rel="stylesheet" href="AppTheme/CmplntMngmntMdl/MdlTheme.css" />
    <link rel="stylesheet" href="AppTheme/Fonts/IconFont.css" />
</head>

<body>
    <div class="AppHeader">
        <div class="AppMnuTtlHldr">
            <div class="TtlHldr">
                <div class="ClntLgoHldr">
                    <img src="Images/CompanyLogo.png" class="Lgo" />
                </div>
            </div>
        </div>
        <div class="AppUsrCntrlHldr">
            <ul class="UsrNav">
                <li>
                    <a href="#" class="NavLnk WISIcn-Notification"></a>
                </li>
                <li>
                    <a href="#" class="NavLnk WISIcn-Help"></a>
                </li>
                <li>
                    <div class="UsrDvHldr">
                        <div class="UsrDtls">
                            <div class="PrflNmeHldr">
                                <span class="Nme">Vinay Kumar</span>
                            </div>
                            <div class="PrflImgHldr">
                                <img src="Images/ProfileImage.jpg" class="PrfImg" />
                                <span class="PrflTxtImg">
                                    <span class="Intls">VK</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppFooter">
        <div class="AppVrsnDtls">
            <span class="AppCurrVrsn">Version:<span class="Vrsn">v3.0.20</span></span>
        </div>
        <div class="AppPwrdDtls">
            <span class="CorpTxt">Powered by<a href="#" class="Lnk" target="_blank">WIS</a></span>
        </div>
    </div>
    <div class="AppMnuHldr">
        <div class="MnuLstHldr">
            <ul class="MnuLst">
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Dashboard"></span>
                        <span class="LnkTxt">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Requests"></span>
                        <span class="LnkTxt">Requests</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Inventory"></span>
                        <span class="LnkTxt">Inventory</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-PurchaseOrders"></span>
                        <span class="LnkTxt">Purchase Orders</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Approvals"></span>
                        <span class="LnkTxt">Approvals</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Audits"></span>
                        <span class="LnkTxt">Audits</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Reports"></span>
                        <span class="LnkTxt">Reports</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppMstrCntnr">
        <div class="GnPgHdrDvHldr">
            <div class="TtlHldr">
                <span class="PgTtl">Energy Meters</span>
            </div>
            <div class="NvBtnHldr">
                <div class="Hldr DtDsplHldr">
                    <span class="DtTxt">10 Mar, 2023</span>
                </div>
                <div class="Hldr">
                    <div class="AppCmpctTbHldr">
                        <a href="#" class="TabLnk Actv">Today</a>
                        <a href="#" class="TabLnk">This Month</a>
                        <a href="#" class="TabLnk">Custom Date</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="GnPgCntntDvHldr DashboardView">
            <div class="InnrCntntHldr">
                <div class="FormHldr">
                    <div class="row">
                        <div class="col-4">
                            <div class="DashboardHldr">
                                <div class="DshHdrHldr">
                                    <div class="TtlHldr">
                                        <span class="TtlTxt">Meter 1</span>
                                    </div>
                                    <div class="ActnBtnHldr">
                                        <a href="#" class="Lnk WISIcn-Reset"></a>
                                        <a href="#" class="Lnk WISIcn-FullArrowRight"></a>
                                    </div>
                                </div>
                                <div class="HotelMngmntFlds">
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Today</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">2547 kWh</span>
                                            <span class="DshbrdSttsTxt Theme1-Positive">-5%</span>
                                        </div>
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Yesterday</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">2870 kWh</span>
                                            <span class="DshbrdSttsTxt Theme1-Negative">+12%</span>
                                        </div>
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Avg.</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">2500 kWh</span>
                                        </div>
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Costing/ kWh</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">$4.5</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="DashboardHldr">
                                <div class="DshHdrHldr">
                                    <div class="TtlHldr">
                                        <span class="TtlTxt">Meter 2</span>
                                    </div>
                                    <div class="ActnBtnHldr">
                                        <a href="#" class="Lnk WISIcn-Reset"></a>
                                        <a href="#" class="Lnk WISIcn-FullArrowRight"></a>
                                    </div>
                                </div>
                                <div class="HotelMngmntFlds">
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Today</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">2547 kWh</span>
                                            <span class="DshbrdSttsTxt Theme1-Positive">-5%</span>
                                        </div>
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Yesterday</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">2870 kWh</span>
                                            <span class="DshbrdSttsTxt Theme1-Negative">+12%</span>
                                        </div>
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Avg.</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">2500 kWh</span>
                                        </div>
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Costing/ kWh</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">$4.5</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="DashboardHldr">
                                <div class="DshHdrHldr">
                                    <div class="TtlHldr">
                                        <span class="TtlTxt">Meter 3</span>
                                    </div>
                                    <div class="ActnBtnHldr">
                                        <a href="#" class="Lnk WISIcn-Reset"></a>
                                        <a href="#" class="Lnk WISIcn-FullArrowRight"></a>
                                    </div>
                                </div>
                                <div class="HotelMngmntFlds">
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Today</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">2547 kWh</span>
                                            <span class="DshbrdSttsTxt Theme1-Positive">-5%</span>
                                        </div>
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Yesterday</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">2870 kWh</span>
                                            <span class="DshbrdSttsTxt Theme1-Negative">+12%</span>
                                        </div>
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Avg.</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">2500 kWh</span>
                                        </div>
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Costing/ kWh</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">$4.5</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="DashboardHldr">
                                <div class="DshHdrHldr">
                                    <div class="TtlHldr">
                                        <span class="TtlTxt">Meter 4</span>
                                    </div>
                                    <div class="ActnBtnHldr">
                                        <a href="#" class="Lnk WISIcn-Reset"></a>
                                        <a href="#" class="Lnk WISIcn-FullArrowRight"></a>
                                    </div>
                                </div>
                                <div class="HotelMngmntFlds">
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Today</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">2547 kWh</span>
                                            <span class="DshbrdSttsTxt Theme1-Positive">-5%</span>
                                        </div>
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Yesterday</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">2870 kWh</span>
                                            <span class="DshbrdSttsTxt Theme1-Negative">+12%</span>
                                        </div>
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Avg.</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">2500 kWh</span>
                                        </div>
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Costing/ kWh</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">$4.5</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>