<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Management 04</title>
    <link rel="stylesheet" href="AppTheme/CmplntMngmntMdl/MdlTheme.css" />
    <link rel="stylesheet" href="AppTheme/Fonts/IconFont.css" />
</head>

<body>
    <div class="AppHeader">
        <div class="AppMnuTtlHldr">
            <div class="TtlHldr">
                <div class="ClntLgoHldr">
                    <img src="Images/CompanyLogo.png" class="Lgo" />
                </div>
            </div>
        </div>
        <div class="AppUsrCntrlHldr">
            <ul class="UsrNav">
                <li>
                    <a href="#" class="NavLnk WISIcn-Notification"></a>
                </li>
                <li>
                    <a href="#" class="NavLnk WISIcn-Help"></a>
                </li>
                <li>
                    <div class="UsrDvHldr">
                        <div class="UsrDtls">
                            <div class="PrflNmeHldr">
                                <span class="Nme">Vinay Kumar</span>
                            </div>
                            <div class="PrflImgHldr">
                                <img src="Images/ProfileImage.jpg" class="PrfImg" />
                                <span class="PrflTxtImg">
                                    <span class="Intls">VK</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppFooter">
        <div class="AppVrsnDtls">
            <span class="AppCurrVrsn">Version:<span class="Vrsn">v3.0.20</span></span>
        </div>
        <div class="AppPwrdDtls">
            <span class="CorpTxt">Powered by<a href="#" class="Lnk" target="_blank">WIS</a></span>
        </div>
    </div>
    <div class="AppMnuHldr">
        <div class="MnuLstHldr">
            <ul class="MnuLst">
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Dashboard"></span>
                        <span class="LnkTxt">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Requests"></span>
                        <span class="LnkTxt">Requests</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Inventory"></span>
                        <span class="LnkTxt">Inventory</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-PurchaseOrders"></span>
                        <span class="LnkTxt">Purchase Orders</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Approvals"></span>
                        <span class="LnkTxt">Approvals</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Audits"></span>
                        <span class="LnkTxt">Audits</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Reports"></span>
                        <span class="LnkTxt">Reports</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppMstrCntnr">
        <div class="GnPgHdrDvHldr HotelManagement">
            <div class="TtlHldr">
                <a href="#" class="AppBtn IcnOnly WISIcn-ArrowLeft"></a>
                <span class="PgTtl">Embassy Suits</span>
                <div class="TtlSbDtlsHldr HtlMngment">
                    <span class="RoomsDtls">250 Rooms</span>
                    <span class="LocationDtls WISIcn-Menu-Map">River walk, San Antonio, Texas</span>
                </div>
            </div>
            <div class="NvBtnHldr">
                <div class="Hldr DtDsplHldr">
                    <span class="DtTxt">10 Mar, 2023</span>
                </div>
                <div class="Hldr">
                    <div class="AppCmpctTbHldr">
                        <a href="#" class="TabLnk Actv">Today</a>
                        <a href="#" class="TabLnk">This Month</a>
                        <a href="#" class="TabLnk">Custom Date</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="GnPgCntntDvHldr HotelManagement DashboardView">
            <div class="InnrCntntHldr">
                <div class="FormHldr">
                    <div class="row">
                        <div class="col-1">
                            <div class="DashboardHldr">
                                <div class="DshHdrHldr">
                                    <div class="TtlHldr">
                                        <span class="TtlTxt">Utility Cost - 7% of revenue</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="DashboardHldr">
                                <div class="DshHdrHldr">
                                    <div class="TtlHldr">
                                        <span class="TtlTxt">Room Occupancy</span>
                                    </div>
                                    <div class="ActnBtnHldr">
                                        <a href="#" class="Lnk WISIcn-Reset"></a>
                                        <a href="#" class="Lnk WISIcn-FullArrowRight"></a>
                                    </div>
                                </div>
                                <div class="HotelMngmntFlds">
                                    <div class="DtlFlds">
                                        <img src="Images/NBcharts-lineChats1.png" class="ChartsTmp" />
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Today</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">211/250</span>
                                            <span class="DshbrdSttsTxt Theme1-Positive">+5%</span>
                                        </div>
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Yesterday</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">220/250</span>
                                            <span class="DshbrdSttsTxt Theme1-Positive">+18%</span>
                                        </div>
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Avg.</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">211/250</span>
                                            <span class="DshbrdSttsTxt Theme1-Negative">-3%</span>
                                        </div>
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Costing/ kWh</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">$129</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="DashboardHldr">
                                <div class="DshHdrHldr">
                                    <div class="TtlHldr">
                                        <span class="TtlTxt">Energy Usage</span>
                                    </div>
                                    <div class="ActnBtnHldr">
                                        <a href="#" class="Lnk WISIcn-Reset"></a>
                                        <a href="#" class="Lnk WISIcn-FullArrowRight"></a>
                                    </div>
                                </div>
                                <div class="HotelMngmntFlds">
                                    <div class="DtlFlds">
                                        <img src="Images/NBcharts-lineChats2.png" class="ChartsTmp" />
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Today</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">2547 kWh</span>
                                            <span class="DshbrdSttsTxt Theme1-Positive">-5%</span>
                                        </div>
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Yesterday</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">2870 kWh</span>
                                            <span class="DshbrdSttsTxt Theme1-Negative">+12%</span>
                                        </div>
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Avg.</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">2500 kWh</span>
                                        </div>
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Costing/ kWh</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">$4.5</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="DashboardHldr">
                                <div class="DshHdrHldr">
                                    <div class="TtlHldr">
                                        <span class="TtlTxt">Water Usage</span>
                                    </div>
                                    <div class="ActnBtnHldr">
                                        <a href="#" class="Lnk WISIcn-Reset"></a>
                                        <a href="#" class="Lnk WISIcn-FullArrowRight"></a>
                                    </div>
                                </div>
                                <div class="HotelMngmntFlds">
                                    <div class="DtlFlds">
                                        <img src="Images/NBcharts-lineChats3.png" class="ChartsTmp" />
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Today</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">61 Gl</span>
                                            <span class="DshbrdSttsTxt Theme1-Negative">+4%</span>
                                        </div>
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Yesterday</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">70Gl</span>
                                            <span class="DshbrdSttsTxt Theme1-Negative">+31%</span>
                                        </div>
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Avg.</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">59 Gl</span>
                                        </div>
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Costing/ Gl</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">$1.25</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="DashboardHldr">
                                <div class="DshHdrHldr">
                                    <div class="TtlHldr">
                                        <span class="TtlTxt">Gas Usage</span>
                                    </div>
                                    <div class="ActnBtnHldr">
                                        <a href="#" class="Lnk WISIcn-Reset"></a>
                                        <a href="#" class="Lnk WISIcn-FullArrowRight"></a>
                                    </div>
                                </div>
                                <div class="HotelMngmntFlds">
                                    <div class="DtlFlds">
                                        <img src="Images/NBcharts-lineChats4.png" class="ChartsTmp" />
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Today</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">43 Gl</span>
                                            <span class="DshbrdSttsTxt Theme1-Positive">-12%</span>
                                        </div>
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Yesterday</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">48 Gl</span>
                                            <span class="DshbrdSttsTxt Theme1-Positive">8%</span>
                                        </div>
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Avg.</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">56 Gl</span>
                                        </div>
                                    </div>
                                    <div class="DtlFlds">
                                        <div class="TtlDv">
                                            <span class="Ttl">Costing/ Gl</span>
                                        </div>
                                        <div class="VluDv">
                                            <span class="VluTxt">$3.89</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="DashboardHldr">
                                <div class="DshHdrHldr">
                                    <div class="TtlHldr">
                                        <span class="TtlTxt">Complaints</span>
                                    </div>
                                    <div class="ActnBtnHldr">
                                        <a href="#" class="Lnk WISIcn-Reset"></a>
                                        <a href="#" class="Lnk WISIcn-FullArrowRight"></a>
                                    </div>
                                </div>
                                <div class="HotelMngmntFlds">
                                    <div class="DtlFlds">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="DashboardHldr">
                                <div class="DshHdrHldr">
                                    <div class="TtlHldr">
                                        <span class="TtlTxt">Most Repetitive Complaints</span>
                                    </div>
                                    <div class="ActnBtnHldr">
                                        <a href="#" class="Lnk WISIcn-Reset"></a>
                                        <a href="#" class="Lnk WISIcn-FullArrowRight"></a>
                                    </div>
                                </div>
                                <div class="HotelMngmntFlds">
                                    <div class="AppCmpctTbHldr Compact">
                                        <a href="#" class="TabLnk Actv">Zone Wise</a>
                                        <a href="#" class="TabLnk">Complaint Type</a>
                                    </div>
                                    <table class="AppGenTable">
                                        <thead>
                                            <tr>
                                                <th>S. No.</th>
                                                <th>Complaint Title</th>
                                                <th>Total Complaints</th>
                                                <th>Avg.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Complaint Name</td>
                                                <td>151500</td>
                                                <td>
                                                    <span class="DshbrdSttsTxt Compact NoMrgn Theme1-Negative WISIcn-FullArrowUp">21%</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Complaint Name</td>
                                                <td>151500</td>
                                                <td>
                                                    <span class="DshbrdSttsTxt Compact NoMrgn Theme1-Positive WISIcn-FullArrowDown">21%</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Complaint Name</td>
                                                <td>151500</td>
                                                <td>
                                                    <span class="DshbrdSttsTxt Compact NoMrgn Theme1-Negative WISIcn-FullArrowUp">21%</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Complaint Name</td>
                                                <td>151500</td>
                                                <td>
                                                    <span class="DshbrdSttsTxt Compact NoMrgn Theme1-Positive WISIcn-FullArrowDown">21%</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Complaint Name</td>
                                                <td>151500</td>
                                                <td>
                                                    <span class="DshbrdSttsTxt Compact NoMrgn Theme1-Positive WISIcn-FullArrowDown">21%</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Complaint Name</td>
                                                <td>151500</td>
                                                <td>
                                                    <span class="DshbrdSttsTxt Compact NoMrgn Theme1-Negative WISIcn-FullArrowUp">21%</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="DashboardHldr">
                                <div class="DshHdrHldr">
                                    <div class="TtlHldr">
                                        <span class="TtlTxt">Most Expensive Complaints</span>
                                    </div>
                                    <div class="ActnBtnHldr">
                                        <a href="#" class="Lnk WISIcn-Reset"></a>
                                        <a href="#" class="Lnk WISIcn-FullArrowRight"></a>
                                    </div>
                                </div>
                                <div class="HotelMngmntFlds">
                                    <div class="AppCmpctTbHldr Compact">
                                        <a href="#" class="TabLnk Actv">Zone Wise</a>
                                        <a href="#" class="TabLnk">Complaint Type</a>
                                    </div>
                                    <table class="AppGenTable">
                                        <thead>
                                            <tr>
                                                <th>S. No.</th>
                                                <th>Complaint Title</th>
                                                <th>Points Lost</th>
                                                <th>Discount Value</th>
                                                <th>Avg.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Complaint Name</td>
                                                <td>151500</td>
                                                <td>$1515</td>
                                                <td>
                                                    <span class="DshbrdSttsTxt Compact NoMrgn Theme1-Negative WISIcn-FullArrowUp">21%</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Complaint Name</td>
                                                <td>151500</td>
                                                <td>$1515</td>
                                                <td>
                                                    <span class="DshbrdSttsTxt Compact NoMrgn Theme1-Positive WISIcn-FullArrowDown">21%</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Complaint Name</td>
                                                <td>151500</td>
                                                <td>$1515</td>
                                                <td>
                                                    <span class="DshbrdSttsTxt Compact NoMrgn Theme1-Negative WISIcn-FullArrowUp">21%</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Complaint Name</td>
                                                <td>151500</td>
                                                <td>$1515</td>
                                                <td>
                                                    <span class="DshbrdSttsTxt Compact NoMrgn Theme1-Positive WISIcn-FullArrowDown">21%</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Complaint Name</td>
                                                <td>151500</td>
                                                <td>$1515</td>
                                                <td>
                                                    <span class="DshbrdSttsTxt Compact NoMrgn Theme1-Positive WISIcn-FullArrowDown">21%</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                                <td>Complaint Name</td>
                                                <td>151500</td>
                                                <td>$1515</td>
                                                <td>
                                                    <span class="DshbrdSttsTxt Compact NoMrgn Theme1-Negative WISIcn-FullArrowUp">21%</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>