<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Dashbaord</title>
    <link rel="stylesheet" href="AppTheme/CmplntMngmntMdl/MdlTheme.css" />
    <link rel="stylesheet" href="AppTheme/Fonts/IconFont.css" />
</head>

<body>
    <div class="AppHeader">
        <div class="AppMnuTtlHldr">
            <div class="TtlHldr">
                <div class="ClntLgoHldr">
                    <img src="Images/CompanyLogo.png" class="Lgo" />
                </div>
            </div>
        </div>
        <div class="AppUsrCntrlHldr">
            <ul class="UsrNav">
                <li>
                    <a href="#" class="NavLnk WISIcn-Notification"></a>
                </li>
                <li>
                    <a href="#" class="NavLnk WISIcn-Help"></a>
                </li>
                <li>
                    <div class="UsrDvHldr">
                        <div class="UsrDtls">
                            <div class="PrflNmeHldr">
                                <span class="Nme">Vinay Kumar</span>
                            </div>
                            <div class="PrflImgHldr">
                                <img src="Images/ProfileImage.jpg" class="PrfImg" />
                                <span class="PrflTxtImg">
                                    <span class="Intls">VK</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppFooter">
        <div class="AppVrsnDtls">
            <span class="AppCurrVrsn">Version:<span class="Vrsn">v3.0.20</span></span>
        </div>
        <div class="AppPwrdDtls">
            <span class="CorpTxt">Powered by<a href="#" class="Lnk" target="_blank">WIS</a></span>
        </div>
    </div>
    <div class="AppMnuHldr">
        <div class="MnuLstHldr">
            <ul class="MnuLst">
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Dashboard"></span>
                        <span class="LnkTxt">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Map"></span>
                        <span class="LnkTxt">Locations</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Employees"></span>
                        <span class="LnkTxt">Employees</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-AccessControl"></span>
                        <span class="LnkTxt">Access Control</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Masters"></span>
                        <span class="LnkTxt">Masters</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Reports"></span>
                        <span class="LnkTxt">Reports</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppMstrCntnr">
        <div class="GnPgCntntDvHldr DashboardView FullView">
            <div class="InnrCntntHldr">
                <div class="FormHldr">
                    <div class="row NoBrdr NoBG">
                        <div class="col col-66 NoPd">
                            <div class="FormHldr">
                                <div class="row NoBG NoBrdr">
                                    <div class="col-1">
                                        <div class="DashboardHldr">
                                            <div class="DshHdrHldr">
                                                <div class="TtlHldr">
                                                    <span class="TtlTxt">Inventory Status</span>
                                                    <span class="SbTxt">(Department)</span>
                                                </div>
                                                <div class="ActnBtnHldr">
                                                    <a href="#" class="Lnk WISIcn-Reset"></a>
                                                </div>
                                            </div>
                                            <div class="DshDtlHldr">
                                                <div class="AppCmpctTbHldr Compact">
                                                    <a href="#" class="TabLnk Actv">All</a>
                                                    <a href="#" class="TabLnk">Electrical</a>
                                                    <a href="#" class="TabLnk">Air Conditioning</a>
                                                    <a href="#" class="TabLnk">Carpentry</a>
                                                    <a href="#" class="TabLnk">House Keeping</a>
                                                    <a href="#" class="TabLnk">Plumbing</a>
                                                    <a href="#" class="TabLnk">Ceiling</a>
                                                    <a href="#" class="TabLnk">Civil</a>
                                                </div>
                                                <img src="Images/InventoryStts-Dshbrd1.png" class="TmpImg" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="DashboardHldr">
                                            <div class="DshHdrHldr">
                                                <div class="TtlHldr">
                                                    <span class="TtlTxt">Inventory Status</span>
                                                    <span class="SbTxt">(Usage)</span>
                                                </div>
                                                <div class="ActnBtnHldr">
                                                    <a href="#" class="Lnk WISIcn-Reset"></a>
                                                </div>
                                            </div>
                                            <div class="DshDtlHldr">
                                                <div class="AppCmpctTbHldr Compact">
                                                    <a href="#" class="TabLnk Actv">Fast Moving</a>
                                                    <a href="#" class="TabLnk">Safety</a>
                                                    <a href="#" class="TabLnk">Consumables</a>
                                                    <a href="#" class="TabLnk">Perishables </a>
                                                    <a href="#" class="TabLnk">Periodic</a>
                                                </div>
                                                <img src="Images/InventoryStts-Dshbrd2.png" class="TmpImg" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="DashboardHldr">
                                            <div class="DshHdrHldr">
                                                <div class="TtlHldr">
                                                    <span class="TtlTxt">Abnormal Consumption</span>
                                                </div>
                                                <div class="ActnBtnHldr">
                                                    <a href="#" class="Lnk WISIcn-Reset"></a>
                                                </div>
                                            </div>
                                            <div class="DshDtlHldr">
                                                <div class="AppCmpctTbHldr Compact">
                                                    <a href="#" class="TabLnk Actv">Department Wise</a>
                                                    <a href="#" class="TabLnk">Location Wise</a>
                                                </div>
                                            </div>
                                            <div class="DshDtlHldr">
                                                <table class="AppGenTable VAMiddle">
                                                    <thead>
                                                        <tr>
                                                            <th class="CntrAlgn">S. No.</th>
                                                            <th>Product</th>
                                                            <th>Department</th>
                                                            <th>Avg. Consumption</th>
                                                            <th>Comsumption</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="CntrAlgn">1</td>
                                                            <td>Product Name</td>
                                                            <td>Electrical</td>
                                                            <td>2158</td>
                                                            <td>
                                                                <span class="DshbrdSttsTxt Compact NoMrgn Theme1-Negative WISIcn-FullArrowUp">21585</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="CntrAlgn">1</td>
                                                            <td>Product Name</td>
                                                            <td>Electrical</td>
                                                            <td>2158</td>
                                                            <td>
                                                                <span class="DshbrdSttsTxt Compact NoMrgn Theme1-Negative WISIcn-FullArrowUp">21585</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="CntrAlgn">1</td>
                                                            <td>Product Name</td>
                                                            <td>Electrical</td>
                                                            <td>2158</td>
                                                            <td>
                                                                <span class="DshbrdSttsTxt Compact NoMrgn Theme1-Negative WISIcn-FullArrowUp">21585</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="CntrAlgn">1</td>
                                                            <td>Product Name</td>
                                                            <td>Electrical</td>
                                                            <td>2158</td>
                                                            <td>
                                                                <span class="DshbrdSttsTxt Compact NoMrgn Theme1-Positive WISIcn-FullArrowDown">21585</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="CntrAlgn">1</td>
                                                            <td>Product Name</td>
                                                            <td>Electrical</td>
                                                            <td>2158</td>
                                                            <td>
                                                                <span class="DshbrdSttsTxt Compact NoMrgn Theme1-Negative WISIcn-FullArrowUp">21585</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="DashboardHldr">
                                            <div class="DshHdrHldr">
                                                <div class="TtlHldr">
                                                    <span class="TtlTxt">Critical Stock</span>
                                                </div>
                                                <div class="ActnBtnHldr">
                                                    <a href="#" class="Lnk WISIcn-Reset"></a>
                                                </div>
                                            </div>
                                            <div class="DshDtlHldr">
                                                <table class="AppGenTable">
                                                    <thead>
                                                        <tr>
                                                            <th class="CntrAlgn">S. No.</th>
                                                            <th>Product</th>
                                                            <th>Department</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="CntrAlgn">1</td>
                                                            <td>Name</td>
                                                            <td>Electrical</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="CntrAlgn">1</td>
                                                            <td>Name</td>
                                                            <td>House Keeping</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="CntrAlgn">1</td>
                                                            <td>Name</td>
                                                            <td>Air Conditioning</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="CntrAlgn">1</td>
                                                            <td>Name</td>
                                                            <td>Carpentry</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="CntrAlgn">1</td>
                                                            <td>Name</td>
                                                            <td>Plumbing</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="CntrAlgn">1</td>
                                                            <td>Name</td>
                                                            <td>Ceiling</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="CntrAlgn">1</td>
                                                            <td>Name</td>
                                                            <td>Civil</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 NoPd">
                            <div class="FormHldr">
                                <div class="row NoBG NoBrdr">
                                    <div class="col-1">
                                        <div class="DashboardHldr">
                                            <div class="DshHdrHldr">
                                                <div class="TtlHldr">
                                                    <span class="TtlTxt">Stock Request</span>
                                                </div>
                                                <div class="ActnBtnHldr">
                                                    <a href="#" class="Lnk WISIcn-Reset"></a>
                                                </div>
                                            </div>
                                            <div class="DshDtlHldr">
                                                <div class="AppCmpctTbHldr Compact">
                                                    <a href="#" class="TabLnk Actv">Today</a>
                                                    <a href="#" class="TabLnk">This Week</a>
                                                    <a href="#" class="TabLnk">Custom Date</a>
                                                </div>
                                                <img src="Images/StockRequest-Dshbrd.png" class="TmpImg" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="DashboardHldr">
                                            <div class="DshHdrHldr">
                                                <div class="TtlHldr">
                                                    <span class="TtlTxt">Purchase Orders</span>
                                                </div>
                                                <div class="ActnBtnHldr">
                                                    <a href="#" class="Lnk WISIcn-Reset"></a>
                                                </div>
                                            </div>
                                            <div class="DshDtlHldr">
                                                <div class="AppCmpctTbHldr Compact">
                                                    <a href="#" class="TabLnk Actv">Today</a>
                                                    <a href="#" class="TabLnk">This Week</a>
                                                    <a href="#" class="TabLnk">Custom Date</a>
                                                </div>
                                                <img src="Images/PurchaseOrders-Dshbrd.png" class="TmpImg" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="DashboardHldr">
                                            <div class="DshHdrHldr">
                                                <div class="TtlHldr">
                                                    <span class="TtlTxt">Approvals</span>
                                                </div>
                                                <div class="ActnBtnHldr">
                                                    <a href="#" class="Lnk WISIcn-Reset"></a>
                                                </div>
                                            </div>
                                            <div class="DshDtlHldr">
                                                <div class="AppCmpctTbHldr Compact">
                                                    <a href="#" class="TabLnk Actv">Today</a>
                                                    <a href="#" class="TabLnk">This Week</a>
                                                    <a href="#" class="TabLnk">Custom Date</a>
                                                </div>
                                                <img src="Images/Approvals-Dshbrd.png" class="TmpImg" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                        <div class="DashboardHldr">
                                            <div class="DshHdrHldr">
                                                <div class="TtlHldr">
                                                    <span class="TtlTxt">Audits</span>
                                                </div>
                                                <div class="ActnBtnHldr">
                                                    <a href="#" class="Lnk WISIcn-Reset"></a>
                                                </div>
                                            </div>
                                            <div class="DshDtlHldr">
                                                <div class="AppCmpctTbHldr Compact">
                                                    <a href="#" class="TabLnk Actv">Today</a>
                                                    <a href="#" class="TabLnk">This Week</a>
                                                    <a href="#" class="TabLnk">Custom Date</a>
                                                </div>
                                                <img src="Images/Audit-Dshbrd.png" class="TmpImg" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>