<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Page</title>
    <link rel="stylesheet" href="AppTheme/CmplntMngmntMdl/MdlTheme.css" />
    <link rel="stylesheet" href="AppTheme/Fonts/IconFont.css" />
</head>

<body>
    <div class="AppHeader">
        <div class="AppMnuTtlHldr">
            <div class="TtlHldr">
                <div class="ClntLgoHldr">
                    <img src="Images/CompanyLogo.png" class="Lgo" />
                </div>
            </div>
        </div>
        <div class="AppUsrCntrlHldr">
            <ul class="UsrNav">
                <li>
                    <a href="#" class="NavLnk WISIcn-Notification"></a>
                </li>
                <li>
                    <a href="#" class="NavLnk WISIcn-Help"></a>
                </li>
                <li>
                    <div class="UsrDvHldr">
                        <div class="UsrDtls">
                            <div class="PrflNmeHldr">
                                <span class="Nme">Vinay Kumar</span>
                            </div>
                            <div class="PrflImgHldr">
                                <img src="Images/ProfileImage.jpg" class="PrfImg" />
                                <span class="PrflTxtImg">
                                    <span class="Intls">VK</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppFooter">
        <div class="AppVrsnDtls">
            <span class="AppCurrVrsn">Version:<span class="Vrsn">v3.0.20</span></span>
        </div>
        <div class="AppPwrdDtls">
            <span class="CorpTxt">Powered by<a href="#" class="Lnk" target="_blank">WIS</a></span>
        </div>
    </div>
    <div class="AppMnuHldr">
        <div class="MnuLstHldr">
            <ul class="MnuLst">
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Dashboard"></span>
                        <span class="LnkTxt">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Map"></span>
                        <span class="LnkTxt">Locations</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Employees"></span>
                        <span class="LnkTxt">Employees</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-AccessControl"></span>
                        <span class="LnkTxt">Access Control</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Masters"></span>
                        <span class="LnkTxt">Masters</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Reports"></span>
                        <span class="LnkTxt">Reports</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppMstrCntnr">
        <div class="GnPgHdrDvHldr">
            <div class="TtlHldr">
                <span class="PgTtl">Inventory</span>
            </div>
        </div>
        <div class="GnPgCntntDvHldr">
            <div class="InnrCntntHldr">
                <div class="FormHldr">
                    <span class="FormTxtTtl">Add New Inventory</span>
                    <div class="row">
                        <div class="col-1">
                            <div class="FormCheck">
                                <input class="RadioInput" type="radio" checked="">
                                <label>New</label>
                            </div>
                            <div class="FormCheck">
                                <input class="RadioInput" type="radio">
                                <label>Return</label>
                            </div>
                            <div class="FormCheck">
                                <input class="RadioInput" type="radio">
                                <label>Repair/ Refurbish</label>
                            </div>
                            <div class="FormCheck">
                                <input class="RadioInput" type="radio">
                                <label>Repaired/ Refurbished</label>
                            </div>
                            <div class="FormCheck">
                                <input class="RadioInput" type="radio">
                                <label>Scrap</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <span class="FormTxtSbTtl">Bill Information</span>
                        </div>
                        <div class="col-2">
                            <span class="FormTxtSbTtl">Vendor Information</span>
                        </div>
                        <div class="col-4 NoPdTop">
                            <input type="text" class="Input" placeholder="Purchase order no.">
                        </div>
                        <div class="col-4 NoPdTop">
                            <input type="text" class="Input Icn Calendar" placeholder="Purchase order date">
                        </div>
                        <div class="col-4 NoPdTop">
                            <input type="text" class="Input" placeholder="Vendor Name">
                        </div>
                        <div class="col-4 NoPdTop">
                            <input type="text" class="Input" placeholder="Address">
                        </div>
                    </div>
                    <div class="row NoBG">
                        <span class="FormTxtSbTtl">Product List</span>
                        <div class="col-1">
                            <table class="AppGenTable VAMiddle">
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Product Type</th>
                                        <th>Product Make</th>
                                        <th>Total Units</th>
                                        <th>Unit Type</th>
                                        <th>Price</th>
                                        <th>Price per unit</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="text" class="Input" placeholder="Vendor Name">
                                        </td>
                                        <td>
                                            <select class="Input">
                                                <option>Select</option>
                                                <option>Select</option>
                                                <option>Select</option>
                                                <option>Select</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="Input">
                                                <option>Select</option>
                                                <option>Select</option>
                                                <option>Select</option>
                                                <option>Select</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" class="Input" placeholder="Qty">
                                        </td>
                                        <td>
                                            <select class="Input">
                                                <option>Select</option>
                                                <option>Select</option>
                                                <option>Select</option>
                                                <option>Select</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" class="Input" placeholder="Price">
                                        </td>
                                        <td>
                                            <input type="text" class="Input" placeholder="Price per unit">
                                        </td>
                                        <td>
                                            <a href="#" class="Lnk Icn WISIcn-Remove">Reject</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <span class="FormTxtSbTtl">Master Documents (Please upload invoices and other supporting documents)</span>
                        <div class="col-1">Add upload options here</div>
                    </div>
                    <div class="row">
                        <div class="col-1 BtnHldr">
                            <button type="submit" class="AppBtn Scndry Icn WISIcn-Cross-Big">Cancel</button>
                            <button type="submit" class="AppBtn Icn WISIcn-Tick">Process</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>