<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Request Page</title>
    <link rel="stylesheet" href="AppTheme/CmplntMngmntMdl/MdlTheme.css" />
    <link rel="stylesheet" href="AppTheme/Fonts/IconFont.css" />
</head>

<body>
    <div class="AppHeader">
        <div class="AppMnuTtlHldr">
            <div class="TtlHldr">
                <div class="ClntLgoHldr">
                    <img src="Images/CompanyLogo.png" class="Lgo" />
                </div>
            </div>
        </div>
        <div class="AppUsrCntrlHldr">
            <ul class="UsrNav">
                <li>
                    <a href="#" class="NavLnk WISIcn-Notification"></a>
                </li>
                <li>
                    <a href="#" class="NavLnk WISIcn-Help"></a>
                </li>
                <li>
                    <div class="UsrDvHldr">
                        <div class="UsrDtls">
                            <div class="PrflNmeHldr">
                                <span class="Nme">Vinay Kumar</span>
                            </div>
                            <div class="PrflImgHldr">
                                <img src="Images/ProfileImage.jpg" class="PrfImg" />
                                <span class="PrflTxtImg">
                                    <span class="Intls">VK</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppFooter">
        <div class="AppVrsnDtls">
            <span class="AppCurrVrsn">Version:<span class="Vrsn">v3.0.20</span></span>
        </div>
        <div class="AppPwrdDtls">
            <span class="CorpTxt">Powered by<a href="#" class="Lnk" target="_blank">WIS</a></span>
        </div>
    </div>
    <div class="AppMnuHldr">
        <div class="MnuLstHldr">
            <ul class="MnuLst">
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Dashboard"></span>
                        <span class="LnkTxt">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Map"></span>
                        <span class="LnkTxt">Locations</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Employees"></span>
                        <span class="LnkTxt">Employees</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-AccessControl"></span>
                        <span class="LnkTxt">Access Control</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Masters"></span>
                        <span class="LnkTxt">Masters</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Reports"></span>
                        <span class="LnkTxt">Reports</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppMstrCntnr">
        <div class="GnPgHdrDvHldr">
            <div class="TtlHldr">
                <span class="PgTtl">Stock Requests</span>
            </div>
            <div class="NvBtnHldr">
                <div class="AppCmpctTbHldr">
                    <a href="#" class="TabLnk Actv">Today</a>
                    <a href="#" class="TabLnk">This Week</a>
                    <a href="#" class="TabLnk">Custom Date</a>
                </div>
            </div>
        </div>
        <div class="GnPgCntntDvHldr">
            <div class="AppFllTbHldr">
                <a href="#" class="TabLnk Actv">All (168)</a>
                <a href="#" class="TabLnk">Completed (160)</a>
                <a href="#" class="TabLnk">Pending (4)</a>
                <a href="#" class="TabLnk">No Stock (1)</a>
            </div>
            <div class="InnrCntntHldr">
                <table class="AppGenTable VAMiddle">
                    <thead>
                        <tr>
                            <th>Complaint ID</th>
                            <th>Technician Name</th>
                            <th>Designation</th>
                            <th>
                                <span class="Lnk Srt WISIcn-Sort">Department</span>
                            </th>
                            <th class="CntrAlgn">
                                <span class="Lnk Srt WISIcn-Sort">Request Date & Time</span>
                            </th>
                            <th class="CntrAlgn">
                                <span class="Lnk Srt WISIcn-Sort">No. of Items Requested</span>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CMP-1087</td>
                            <td>Nirmal Tripathi </td>
                            <td>Sr. Technician</td>
                            <td>Electricity</td>
                            <td class="CntrAlgn">1-5-2022 | 10:38</td>
                            <td class="CntrAlgn">3</td>
                            <td>
                                <button type="submit" class="AppBtn Icn WISIcn-FullArrowRight CmpltStts Theme1-AssignComplaint">Process</button>
                            </td>
                        </tr>
                        <tr>
                            <td>CMP-1087</td>
                            <td>Nirmal Tripathi </td>
                            <td>Sr. Technician</td>
                            <td>Electricity</td>
                            <td class="CntrAlgn">1-5-2022 | 10:38</td>
                            <td class="CntrAlgn">3</td>
                            <td>
                                <button type="submit" class="AppBtn Icn WISIcn-FullArrowRight CmpltStts Theme1-Completed">Completed</button>
                            </td>
                        </tr>
                        <tr>
                            <td>CMP-1087</td>
                            <td>Nirmal Tripathi </td>
                            <td>Sr. Technician</td>
                            <td>Electricity</td>
                            <td class="CntrAlgn">1-5-2022 | 10:38</td>
                            <td class="CntrAlgn">3</td>
                            <td>
                                <button type="submit" class="AppBtn Icn WISIcn-FullArrowRight CmpltStts Theme1-PendingApproval">Pending</button>
                            </td>
                        </tr>
                        <tr>
                            <td>CMP-1087</td>
                            <td>Nirmal Tripathi </td>
                            <td>Sr. Technician</td>
                            <td>Electricity</td>
                            <td class="CntrAlgn">1-5-2022 | 10:38</td>
                            <td class="CntrAlgn">3</td>
                            <td>
                                <button type="submit" class="AppBtn Icn WISIcn-FullArrowRight CmpltStts Theme1-Delayed">No Stock</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="PopUpBG"></div>
        <div class="PopUpHldr Max">
            <div class="PopUpHedr">
                <div class="HdrTtlHldr">
                    <span class="TtlTxt">Request Details</span>
                </div>
                <div class="HdrBtnHldr">
                    <span class="AppBtn IcnOnly Close"></span>
                </div>
            </div>
            <div class="PopUpBdy">
                <div class="InnrCntntHldr">
                    <div class="FormHldr">
                        <div class="row HghlgtBG">
                            <div class="col-5">
                                <span class="FormTxt">Complaint ID</span>
                                <span class="FormTxtVlu">CMP-1087</span>
                            </div>
                            <div class="col-5">
                                <span class="FormTxt">Technician Name</span>
                                <span class="FormTxtVlu">Mahesh</span>
                            </div>
                            <div class="col-5">
                                <span class="FormTxt">Designation</span>
                                <span class="FormTxtVlu">Sr. Technician</span>
                            </div>
                            <div class="col-5">
                                <span class="FormTxt">Deaprtment</span>
                                <span class="FormTxtVlu">Electricity</span>
                            </div>
                            <div class="col-5">
                                <span class="FormTxt">Request date & Time</span>
                                <span class="FormTxtVlu">18-12-2022  |  11:21 PM</span>
                            </div>
                        </div>
                        <div class="row NoBG">
                            <span class="FormTxtTtl">Items Details</span>
                            <div class="col-1">
                                <table class="AppGenTable VAMiddle">
                                    <thead>
                                        <tr>
                                            <th>Item Name</th>
                                            <th class="CntrAlgn">Qty</th>
                                            <th>Product Type</th>
                                            <th>Product Make</th>
                                            <th>Product Name</th>
                                            <th class="CntrAlgn">Available</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Fan Regulator</td>
                                            <td class="CntrAlgn">2</td>
                                            <td>
                                                <select class="Input">
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="Input">
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="Input">
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                </select>
                                            </td>
                                            <td class="CntrAlgn">23</td>
                                            <td>
                                                <div class="FormCheck FullWidth">
                                                    <input class="CheckInput" type="checkbox">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Fan Regulator</td>
                                            <td class="CntrAlgn">2</td>
                                            <td>
                                                <select class="Input">
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="Input">
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="Input">
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                </select>
                                            </td>
                                            <td class="CntrAlgn">23</td>
                                            <td>
                                                <div class="FormCheck FullWidth">
                                                    <input class="CheckInput" type="checkbox">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Fan Regulator</td>
                                            <td class="CntrAlgn">2</td>
                                            <td>
                                                <select class="Input">
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="Input">
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="Input">
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                    <option>Select</option>
                                                </select>
                                            </td>
                                            <td class="CntrAlgn">23</td>
                                            <td>
                                                <div class="FormCheck FullWidth">
                                                    <input class="CheckInput" type="checkbox">
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="PopUpBtnFtr">
                <div class="FormHldr">
                    <div class="row">
                        <div class="col-1 BtnHldr">
                            <button type="submit" class="AppBtn">Hand-Over</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>