<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locations</title>
    <link rel="stylesheet" href="AppTheme/CmplntMngmntMdl/MdlTheme.css" />
    <link rel="stylesheet" href="AppTheme/Fonts/IconFont.css" />
</head>

<body>
    <div class="AppHeader">
        <div class="AppMnuTtlHldr">
            <div class="TtlHldr">
                <div class="ClntLgoHldr">
                    <img src="Images/CompanyLogo.png" class="Lgo" />
                </div>
            </div>
        </div>
        <div class="AppUsrCntrlHldr">
            <ul class="UsrNav">
                <li>
                    <a href="#" class="NavLnk WISIcn-Notification"></a>
                </li>
                <li>
                    <a href="#" class="NavLnk WISIcn-Help"></a>
                </li>
                <li>
                    <div class="UsrDvHldr">
                        <div class="UsrDtls">
                            <div class="PrflNmeHldr">
                                <span class="Nme">Vinay Kumar</span>
                            </div>
                            <div class="PrflImgHldr">
                                <img src="Images/ProfileImage.jpg" class="PrfImg" />
                                <span class="PrflTxtImg">
                                    <span class="Intls">VK</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppFooter">
        <div class="AppVrsnDtls">
            <span class="AppCurrVrsn">Version:<span class="Vrsn">v3.0.20</span></span>
        </div>
        <div class="AppPwrdDtls">
            <span class="CorpTxt">Powered by<a href="#" class="Lnk" target="_blank">WIS</a></span>
        </div>
    </div>
    <div class="AppMnuHldr">
        <div class="MnuLstHldr">
            <ul class="MnuLst">
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Dashboard"></span>
                        <span class="LnkTxt">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk Actv">
                        <span class="LnkIcn WISIcn-Menu-Map"></span>
                        <span class="LnkTxt">Locations</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Employees"></span>
                        <span class="LnkTxt">Employees</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-AccessControl"></span>
                        <span class="LnkTxt">Access Control</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Masters"></span>
                        <span class="LnkTxt">Masters</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Reports"></span>
                        <span class="LnkTxt">Reports</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppMstrCntnr">
        <div class="GnPgHdrDvHldr">
            <div class="TtlHldr">
                <span class="PgTtl">Demo Site</span>
                <span class="PgTtlSpprtTxt">Sangareddy, Hyderabad</span>
                <div class="InfoBxHldr">
                    <span class="InfoBtn WISIcn-Information"></span>
                    <div class="InfoToolTip">
                        <p class="Txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce hendrerit mollis convallis.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="GnPgCntntDvHldr">
            <div class="InnrCntntHldr">
                <div class="LocationFullDetails">
                    <div class="LocationBasicDtls">
                        <div class="PrePgBtnDv">
                            <a href="#" class="AppBtn IcnOnly WISIcn-ArrowLeft"></a>
                        </div>
                        <div class="LocaitonNameDtls">
                            <div class="NameDv">
                                <span class="Name">CV Raman Block</span>
                            </div>
                            <div class="OptnsDv">
                                <div class="InfoBxHldr">
                                    <span class="InfoBtn WISIcn-Information"></span>
                                    <div class="InfoToolTip">
                                        <p class="Txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce hendrerit mollis convallis.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="LocTypDv">
                                <span class="LocTypName">Academic Classroom</span>
                            </div>
                        </div>
                        <div class="AddCategoryBtnDv">
                            <a href="#" class="AppBtn Icn WISIcn-Add">Add Location</a>
                        </div>
                    </div>
                    <div class="DtlsHldrDv">
                        <div class="SctnHldrDv">
                            <div class="SctnHeader">
                                <div class="SctnNameHldr">
                                    <span class="Name">Physics Block</span>
                                    <span class="Type">Building</span>
                                </div>
                                <div class="SctnArrdnBtnHldr">
                                    <a href="#" class="AppBtn IcnOnly WISIcn-ArrowDown"></a>
                                </div>
                                <div class="OptnsDv">
                                    <div class="BtnHldr">
                                        <a href="#" class="AppBtn IcnOnly WISIcn-QRCode"></a>
                                    </div>
                                    <div class="BtnHldr">
                                        <a href="#" class="AppBtn IcnOnly WISIcn-Add"></a>
                                    </div>
                                    <div class="SbMnuBtnHldrDv">
                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                        <div class="SbMnuHldr">
                                            <ul class="SbMnuLst">
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="SctnDtls">
                                <div class="SctnHldrDv">
                                    <div class="SctnHeader">
                                        <div class="SctnNameHldr">
                                            <span class="Name">Floor 1</span>
                                            <span class="Type">Floor</span>
                                        </div>
                                        <div class="SctnArrdnBtnHldr">
                                            <a href="#" class="AppBtn IcnOnly WISIcn-ArrowDown"></a>
                                        </div>
                                        <div class="OptnsDv">
                                            <div class="BtnHldr">
                                                <a href="#" class="AppBtn IcnOnly WISIcn-QRCode"></a>
                                            </div>
                                            <div class="BtnHldr">
                                                <a href="#" class="AppBtn IcnOnly WISIcn-Add"></a>
                                            </div>
                                            <div class="SbMnuBtnHldrDv">
                                                <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                <div class="SbMnuHldr">
                                                    <ul class="SbMnuLst">
                                                        <li>
                                                            <a href="#" class="SbMnuLnk">Preview Details</a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="SbMnuLnk">Edit Details</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="SctnDtls">
                                        <div class="InnrSctnHldr">
                                            <div class="InnrSctn Theme1-Type1">
                                                <div class="InnSctnNameHldr">
                                                    <span class="Name">Class Room 1</span>
                                                </div>
                                                <div class="SbMnuBtnHldrDv">
                                                    <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                    <div class="SbMnuHldr">
                                                        <ul class="SbMnuLst">
                                                            <li>
                                                                <a href="#" class="SbMnuLnk">Preview Details</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="SbMnuLnk">Edit Details</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="InnrSctn Theme1-Type1">
                                                <div class="InnSctnNameHldr">
                                                    <span class="Name">Class Room 2</span>
                                                </div>
                                                <div class="SbMnuBtnHldrDv">
                                                    <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                    <div class="SbMnuHldr">
                                                        <ul class="SbMnuLst">
                                                            <li>
                                                                <a href="#" class="SbMnuLnk">Preview Details</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="SbMnuLnk">Edit Details</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="InnrSctn Theme1-Type1">
                                                <div class="InnSctnNameHldr">
                                                    <span class="Name">Class Room 3</span>
                                                </div>
                                                <div class="SbMnuBtnHldrDv">
                                                    <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                    <div class="SbMnuHldr">
                                                        <ul class="SbMnuLst">
                                                            <li>
                                                                <a href="#" class="SbMnuLnk">Preview Details</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="SbMnuLnk">Edit Details</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="InnrSctn Theme1-Type1">
                                                <div class="InnSctnNameHldr">
                                                    <span class="Name">Class Room 5</span>
                                                </div>
                                                <div class="SbMnuBtnHldrDv">
                                                    <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                    <div class="SbMnuHldr">
                                                        <ul class="SbMnuLst">
                                                            <li>
                                                                <a href="#" class="SbMnuLnk">Preview Details</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="SbMnuLnk">Edit Details</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="InnrSctn Theme1-Type2">
                                                <div class="InnSctnNameHldr">
                                                    <span class="Name">Toilet 1 - Men</span>
                                                </div>
                                                <div class="SbMnuBtnHldrDv">
                                                    <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                    <div class="SbMnuHldr">
                                                        <ul class="SbMnuLst">
                                                            <li>
                                                                <a href="#" class="SbMnuLnk">Preview Details</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="SbMnuLnk">Edit Details</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="InnrSctn Theme1-Type2">
                                                <div class="InnSctnNameHldr">
                                                    <span class="Name">Toilet 2 - Men</span>
                                                </div>
                                                <div class="SbMnuBtnHldrDv">
                                                    <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                    <div class="SbMnuHldr">
                                                        <ul class="SbMnuLst">
                                                            <li>
                                                                <a href="#" class="SbMnuLnk">Preview Details</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="SbMnuLnk">Edit Details</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="InnrSctn Theme1-Type3">
                                                <div class="InnSctnNameHldr">
                                                    <span class="Name">Toilet 3 - Women</span>
                                                </div>
                                                <div class="SbMnuBtnHldrDv">
                                                    <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                    <div class="SbMnuHldr">
                                                        <ul class="SbMnuLst">
                                                            <li>
                                                                <a href="#" class="SbMnuLnk">Preview Details</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="SbMnuLnk">Edit Details</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="InnrSctn Theme1-Type3">
                                                <div class="InnSctnNameHldr">
                                                    <span class="Name">Toilet 4 - Women</span>
                                                </div>
                                                <div class="SbMnuBtnHldrDv">
                                                    <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                    <div class="SbMnuHldr">
                                                        <ul class="SbMnuLst">
                                                            <li>
                                                                <a href="#" class="SbMnuLnk">Preview Details</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="SbMnuLnk">Edit Details</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="InnrSctn Theme1-Type4">
                                                <div class="InnSctnNameHldr">
                                                    <span class="Name">Library 1</span>
                                                </div>
                                                <div class="SbMnuBtnHldrDv">
                                                    <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                    <div class="SbMnuHldr">
                                                        <ul class="SbMnuLst">
                                                            <li>
                                                                <a href="#" class="SbMnuLnk">Preview Details</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="SbMnuLnk">Edit Details</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="InnrSctn Theme1-Type4">
                                                <div class="InnSctnNameHldr">
                                                    <span class="Name">Library 2</span>
                                                </div>
                                                <div class="SbMnuBtnHldrDv">
                                                    <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                    <div class="SbMnuHldr">
                                                        <ul class="SbMnuLst">
                                                            <li>
                                                                <a href="#" class="SbMnuLnk">Preview Details</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="SbMnuLnk">Edit Details</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="InnrSctn Theme1-Type5">
                                                <div class="InnSctnNameHldr">
                                                    <span class="Name">Lab 1</span>
                                                </div>
                                                <div class="SbMnuBtnHldrDv">
                                                    <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                    <div class="SbMnuHldr">
                                                        <ul class="SbMnuLst">
                                                            <li>
                                                                <a href="#" class="SbMnuLnk">Preview Details</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="SbMnuLnk">Edit Details</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="InnrSctn Theme1-Type5">
                                                <div class="InnSctnNameHldr">
                                                    <span class="Name">Lab 2</span>
                                                </div>
                                                <div class="SbMnuBtnHldrDv">
                                                    <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                    <div class="SbMnuHldr">
                                                        <ul class="SbMnuLst">
                                                            <li>
                                                                <a href="#" class="SbMnuLnk">Preview Details</a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="SbMnuLnk">Edit Details</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="SctnHldrDv Closed">
                                    <div class="SctnHeader">
                                        <div class="SctnNameHldr">
                                            <span class="Name">Floor 2</span>
                                            <span class="Type">Floor</span>
                                        </div>
                                        <div class="SctnArrdnBtnHldr">
                                            <a href="#" class="AppBtn IcnOnly WISIcn-ArrowDown"></a>
                                        </div>
                                        <div class="OptnsDv">
                                            <div class="BtnHldr">
                                                <a href="#" class="AppBtn IcnOnly WISIcn-QRCode"></a>
                                            </div>
                                            <div class="BtnHldr">
                                                <a href="#" class="AppBtn IcnOnly WISIcn-Add"></a>
                                            </div>
                                            <div class="SbMnuBtnHldrDv">
                                                <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                <div class="SbMnuHldr">
                                                    <ul class="SbMnuLst">
                                                        <li>
                                                            <a href="#" class="SbMnuLnk">Preview Details</a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="SbMnuLnk">Edit Details</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="SctnDtls">
                                    </div>
                                </div>
                                <div class="SctnHldrDv Closed">
                                    <div class="SctnHeader">
                                        <div class="SctnNameHldr">
                                            <span class="Name">Floor 3</span>
                                            <span class="Type">Floor</span>
                                        </div>
                                        <div class="SctnArrdnBtnHldr">
                                            <a href="#" class="AppBtn IcnOnly WISIcn-ArrowDown"></a>
                                        </div>
                                        <div class="OptnsDv">
                                            <div class="BtnHldr">
                                                <a href="#" class="AppBtn IcnOnly WISIcn-QRCode"></a>
                                            </div>
                                            <div class="BtnHldr">
                                                <a href="#" class="AppBtn IcnOnly WISIcn-Add"></a>
                                            </div>
                                            <div class="SbMnuBtnHldrDv">
                                                <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                <div class="SbMnuHldr">
                                                    <ul class="SbMnuLst">
                                                        <li>
                                                            <a href="#" class="SbMnuLnk">Preview Details</a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="SbMnuLnk">Edit Details</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="SctnDtls">
                                    </div>
                                </div>
                                <div class="SctnHldrDv Closed">
                                    <div class="SctnHeader">
                                        <div class="SctnNameHldr">
                                            <span class="Name">Floor 4</span>
                                            <span class="Type">Floor</span>
                                        </div>
                                        <div class="SctnArrdnBtnHldr">
                                            <a href="#" class="AppBtn IcnOnly WISIcn-ArrowDown"></a>
                                        </div>
                                        <div class="OptnsDv">
                                            <div class="BtnHldr">
                                                <a href="#" class="AppBtn IcnOnly WISIcn-QRCode"></a>
                                            </div>
                                            <div class="BtnHldr">
                                                <a href="#" class="AppBtn IcnOnly WISIcn-Add"></a>
                                            </div>
                                            <div class="SbMnuBtnHldrDv">
                                                <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                <div class="SbMnuHldr">
                                                    <ul class="SbMnuLst">
                                                        <li>
                                                            <a href="#" class="SbMnuLnk">Preview Details</a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="SbMnuLnk">Edit Details</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="SctnDtls">
                                    </div>
                                </div>
                                <div class="SctnHldrDv">
                                    <div class="SctnHeader">
                                        <div class="SctnNameHldr">
                                            <span class="Name">Terrace</span>
                                            <span class="Type">Floor</span>
                                        </div>
                                        <div class="SctnArrdnBtnHldr">
                                            <a href="#" class="AppBtn IcnOnly WISIcn-ArrowDown"></a>
                                        </div>
                                        <div class="OptnsDv">
                                            <div class="BtnHldr">
                                                <a href="#" class="AppBtn IcnOnly WISIcn-QRCode"></a>
                                            </div>
                                            <div class="BtnHldr">
                                                <a href="#" class="AppBtn IcnOnly WISIcn-Add"></a>
                                            </div>
                                            <div class="SbMnuBtnHldrDv">
                                                <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                <div class="SbMnuHldr">
                                                    <ul class="SbMnuLst">
                                                        <li>
                                                            <a href="#" class="SbMnuLnk">Preview Details</a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="SbMnuLnk">Edit Details</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="SctnDtls">
                                        <div class="GenMsg NoResult">
                                            <span class="MsgTxt">No Data Added</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="SctnHldrDv Closed">
                            <div class="SctnHeader">
                                <div class="SctnNameHldr">
                                    <span class="Name">Chemistry Block</span>
                                    <span class="Type">Building</span>
                                </div>
                                <div class="SctnArrdnBtnHldr">
                                    <a href="#" class="AppBtn IcnOnly WISIcn-ArrowDown"></a>
                                </div>
                                <div class="OptnsDv">
                                    <div class="BtnHldr">
                                        <a href="#" class="AppBtn IcnOnly WISIcn-QRCode"></a>
                                    </div>
                                    <div class="BtnHldr">
                                        <a href="#" class="AppBtn IcnOnly WISIcn-Add"></a>
                                    </div>
                                    <div class="SbMnuBtnHldrDv">
                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                        <div class="SbMnuHldr">
                                            <ul class="SbMnuLst">
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="SctnDtls">
                            </div>
                        </div>
                        <div class="SctnHldrDv Closed">
                            <div class="SctnHeader">
                                <div class="SctnNameHldr">
                                    <span class="Name">Mathematics Block</span>
                                    <span class="Type">Building</span>
                                </div>
                                <div class="SctnArrdnBtnHldr">
                                    <a href="#" class="AppBtn IcnOnly WISIcn-ArrowDown"></a>
                                </div>
                                <div class="OptnsDv">
                                    <div class="BtnHldr">
                                        <a href="#" class="AppBtn IcnOnly WISIcn-QRCode"></a>
                                    </div>
                                    <div class="BtnHldr">
                                        <a href="#" class="AppBtn IcnOnly WISIcn-Add"></a>
                                    </div>
                                    <div class="SbMnuBtnHldrDv">
                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                        <div class="SbMnuHldr">
                                            <ul class="SbMnuLst">
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="SctnDtls">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="PopUpBG"></div>
        <div class="PopUpHldr Max">
            <div class="PopUpHedr">
                <div class="HdrTtlHldr">
                    <span class="TtlTxt">Add Sub Category</span>
                    <span class="SbTtlTxt">Demo Site > CV Raman Block > Physics Block > Floor 1</span>
                </div>
                <div class="HdrBtnHldr">
                    <span class="AppBtn IcnOnly Close"></span>
                </div>
            </div>
            <div class="PopUpBdy">
                <div class="InnrCntntHldr">
                    <div class="FormHldr">
                        <span class="FormTxtTtl">New Sub Category</span>
                        <div class="row">
                            <div class="col-2">
                                <span class="FormTxt">Category Name</span>
                                <input type="text" class="Input" placeholder="Enter Name">
                            </div>
                            <div class="col-4">
                                <span class="FormTxt">Type</span>
                                <select class="Input">
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                  </select>
                            </div>
                            <div class="col-4">
                                <span class="FormTxt">Type</span>
                                <select class="Input">
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                  </select>
                            </div>
                            <div class="col-4">
                                <span class="FormTxt">Type</span>
                                <select class="Input">
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                  </select>
                            </div>
                            <div class="col-4">
                                <span class="FormTxt">Type</span>
                                <select class="Input">
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                  </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <button type="submit" class="AppBtn Scndry Icn WISIcn-Add">Add Another</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <span class="FormTxt">Or Upload using Excel File</span>
                                <input type="text" class="Input">
                                <a href="#" class="Lnk">Download Sample file</a>
                            </div>
                        </div>
                        <div class="row">
                            <span class="FormTxtSbTtl">Existing Sub Categories in Floor 1</span>
                            <div class="col-1">
                                <table class="AppGenTable">
                                    <thead>
                                        <tr>
                                            <th>Category Name</th>
                                            <th>Category Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Class Room 1</td>
                                            <td>Class Room</td>
                                        </tr>
                                        <tr>
                                            <td>Toilet 1 - Men</td>
                                            <td>Toilet - Men</td>
                                        </tr>
                                        <tr>
                                            <td>Library 1</td>
                                            <td>Library</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="PopUpBtnFtr">
                <div class="FormHldr">
                    <div class="row">
                        <div class="col-1 BtnHldr">
                            <button type="submit" class="AppBtn Scndry">Cancel</button>
                            <button type="submit" class="AppBtn">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>