<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location Categories Master</title>
    <link rel="stylesheet" href="AppTheme/CmplntMngmntMdl/MdlTheme.css" />
    <link rel="stylesheet" href="AppTheme/Fonts/IconFont.css" />
</head>

<body>
    <div class="AppHeader">
        <div class="AppMnuTtlHldr">
            <div class="TtlHldr">
                <div class="ClntLgoHldr">
                    <img src="Images/CompanyLogo.png" class="Lgo" />
                </div>
            </div>
        </div>
        <div class="AppUsrCntrlHldr">
            <ul class="UsrNav">
                <li>
                    <a href="#" class="NavLnk WISIcn-Notification"></a>
                </li>
                <li>
                    <a href="#" class="NavLnk WISIcn-Help"></a>
                </li>
                <li>
                    <div class="UsrDvHldr">
                        <div class="UsrDtls">
                            <div class="PrflNmeHldr">
                                <span class="Nme">Vinay Kumar</span>
                            </div>
                            <div class="PrflImgHldr">
                                <img src="Images/ProfileImage.jpg" class="PrfImg" />
                                <span class="PrflTxtImg">
                                    <span class="Intls">VK</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppFooter">
        <div class="AppVrsnDtls">
            <span class="AppCurrVrsn">Version:<span class="Vrsn">v3.0.20</span></span>
        </div>
        <div class="AppPwrdDtls">
            <span class="CorpTxt">Powered by<a href="#" class="Lnk" target="_blank">WIS</a></span>
        </div>
    </div>
    <div class="AppMnuHldr">
        <div class="MnuLstHldr">
            <ul class="MnuLst">
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Dashboard"></span>
                        <span class="LnkTxt">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Map"></span>
                        <span class="LnkTxt">Locations</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Employees"></span>
                        <span class="LnkTxt">Employees</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-AccessControl"></span>
                        <span class="LnkTxt">Access Control</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk Actv">
                        <span class="LnkIcn WISIcn-Menu-Masters"></span>
                        <span class="LnkTxt">Masters</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Reports"></span>
                        <span class="LnkTxt">Reports</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppMstrCntnr">
        <div class="GnPgHdrDvHldr">
            <div class="TtlHldr">
                <span class="PgTtl">Location Categories Master</span>
            </div>
            <div class="NvBtnHldr">
                <div class="Hldr">
                    <a href="#" class="AppBtn Icn WISIcn-Upload">Upload Categories</a>
                </div>
                <div class="Hldr">
                    <a href="#" class="AppBtn Icn WISIcn-Add">Add Category</a>
                </div>
            </div>
        </div>
        <div class="GnPgCntntDvHldr">
            <div class="FormHldr Search">
                <div class="row">
                    <div class="col-4">
                        <input type="text" class="Input" placeholder="Category Name">
                    </div>
                    <div class="col-5">
                        <select class="Input">
                            <option>Select</option>
                            <option>Select</option>
                            <option>Select</option>
                            <option>Select</option>
                          </select>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="AppBtn">Update</button>
                    </div>
                </div>
            </div>
            <div class="InnrCntntHldr">
                <table class="AppGenTable MastersTreeView">
                    <thead>
                        <tr>
                            <th style="width: 90%;">Category</th>
                            <th style="width: 10%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="BranchDetails">
                                    <div class="BranchName">
                                        <span class="Name">Category Name</span>
                                        <span class="Type">Level 1</span>
                                        <a href="#" class="AppBtn IcnOnly WISIcn-ArrowDown"></a>
                                    </div>
                                    <div class="AddButton">
                                        <a href="#" class="AppBtn IcnOnly Add"></a>
                                    </div>
                                </div>
                                <table class="AppGenTable">
                                    <tbody>
                                        <td>
                                            <div class="FormHldr">
                                                <div class="row">
                                                    <div class="col-5">
                                                        <input type="text" class="Input" placeholder="Add Level 1 Category Name">
                                                    </div>
                                                    <div class="col-3">
                                                        <a href="#" class="Lnk Icn WISIcn-RemoveSolid">Remove</a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-5">
                                                        <input type="text" class="Input" placeholder="Add Level 1 Category Name">
                                                    </div>
                                                    <div class="col-3">
                                                        <a href="#" class="Lnk Icn WISIcn-AddSolid">Add more</a>
                                                        <a href="#" class="Lnk Icn WISIcn-Upload">Add multiple using file</a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-1">
                                                        <button type="submit" class="AppBtn">Save</button>
                                                        <button type="submit" class="AppBtn Scndry">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <div class="BranchAccess">
                                    <div class="BtnHldr">
                                        <a href="#" class="AppBtn IcnOnly Access"></a>
                                    </div>
                                    <div class="BtnHldr">
                                        <span class="AppBtn IcnOnly WISIcn-MenuVertical"></span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="BranchDetails">
                                    <div class="BranchName">
                                        <span class="Name">Category Name</span>
                                        <span class="Type">Level 1</span>
                                        <a href="#" class="AppBtn IcnOnly WISIcn-ArrowDown"></a>
                                    </div>
                                    <div class="AddButton">
                                        <a href="#" class="AppBtn IcnOnly Add"></a>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="BranchAccess">
                                    <div class="BtnHldr">
                                        <a href="#" class="AppBtn IcnOnly Access Inactive"></a>
                                    </div>
                                    <div class="BtnHldr">
                                        <span class="AppBtn IcnOnly WISIcn-MenuVertical"></span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>