<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Control</title>
    <link rel="stylesheet" href="AppTheme/CmplntMngmntMdl/MdlTheme.css" />
    <link rel="stylesheet" href="AppTheme/Fonts/IconFont.css" />
</head>

<body>
    <div class="AppHeader">
        <div class="AppMnuTtlHldr">
            <div class="TtlHldr">
                <div class="ClntLgoHldr">
                    <img src="Images/CompanyLogo.png" class="Lgo" />
                </div>
            </div>
        </div>
        <div class="AppUsrCntrlHldr">
            <ul class="UsrNav">
                <li>
                    <a href="#" class="NavLnk WISIcn-Notification"></a>
                </li>
                <li>
                    <a href="#" class="NavLnk WISIcn-Help"></a>
                </li>
                <li>
                    <div class="UsrDvHldr">
                        <div class="UsrDtls">
                            <div class="PrflNmeHldr">
                                <span class="Nme">Vinay Kumar</span>
                            </div>
                            <div class="PrflImgHldr">
                                <img src="Images/ProfileImage.jpg" class="PrfImg" />
                                <span class="PrflTxtImg">
                                    <span class="Intls">VK</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppFooter">
        <div class="AppVrsnDtls">
            <span class="AppCurrVrsn">Version:<span class="Vrsn">v3.0.20</span></span>
        </div>
        <div class="AppPwrdDtls">
            <span class="CorpTxt">Powered by<a href="#" class="Lnk" target="_blank">WIS</a></span>
        </div>
    </div>
    <div class="AppMnuHldr">
        <div class="MnuLstHldr">
            <ul class="MnuLst">
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Dashboard"></span>
                        <span class="LnkTxt">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Map"></span>
                        <span class="LnkTxt">Locations</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Employees"></span>
                        <span class="LnkTxt">Employees</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk Actv">
                        <span class="LnkIcn WISIcn-Menu-AccessControl"></span>
                        <span class="LnkTxt">Access Control</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Masters"></span>
                        <span class="LnkTxt">Masters</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Reports"></span>
                        <span class="LnkTxt">Reports</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppMstrCntnr">
        <div class="GnPgHdrDvHldr">
            <div class="TtlHldr">
                <span class="PgTtl">Access Control</span>
            </div>
        </div>
        <div class="GnPgCntntDvHldr">
            <div class="InnrCntntHldr">
                <table class="AppGenTable MastersTreeView AccssCntrl">
                    <thead>
                        <tr>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="BranchDetails">
                                    <div class="BranchName">
                                        <span class="Name">Top Management</span>
                                        <a href="#" class="AppBtn IcnOnly WISIcn-ArrowDown"></a>
                                    </div>
                                </div>
                                <div class="SubLevelMastersDv">
                                    <table class="AppGenTable">
                                        <tr>
                                            <td>
                                                <div
                                                    class="BranchDetails">
                                                    <div
                                                        class="BranchName">
                                                        <span
                                                            class="Name">Cheif Executive Officer</span>
                                                    </div>
                                                    <div class="AccssCntrlOptns">
                                                        <a href="#" class="Lnk WISIcn-Visible">Preview Access</a>
                                                        <a href="#" class="AppBtn">Assign Access</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <table class="AppGenTable">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="BranchDetails">
                                                    <div class="BranchName">
                                                        <span class="Name">Construction & Maintenance Division</span>
                                                        <a href="#" class="AppBtn IcnOnly WISIcn-ArrowDown"></a>
                                                    </div>
                                                </div>
                                                <div class="SubLevelMastersDv">
                                                    <table class="AppGenTable">
                                                        <tr>
                                                            <td>
                                                                <div
                                                                    class="BranchDetails">
                                                                    <div
                                                                        class="BranchName">
                                                                        <span
                                                                            class="Name">Chief Operating Officer</span>
                                                                    </div>
                                                                    <div class="AccssCntrlOptns">
                                                                        <a href="#" class="Lnk WISIcn-Visible">Preview Access</a>
                                                                        <a href="#" class="AppBtn">Assign Access</a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <table class="AppGenTable">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="BranchDetails">
                                                                    <div class="BranchName">
                                                                        <span class="Name">Civil</span>
                                                                        <a href="#"
                                                                            class="AppBtn IcnOnly WISIcn-ArrowDown"></a>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="BranchDetails">
                                                                    <div class="BranchName">
                                                                        <span class="Name">Electrical</span>
                                                                        <a href="#"
                                                                            class="AppBtn IcnOnly WISIcn-ArrowDown"></a>
                                                                    </div>
                                                                </div>
                                                                <table class="AppGenTable">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <div class="BranchDetails">
                                                                                    <div class="BranchName">
                                                                                        <span class="Name">Power Supply
                                                                                            & Line</span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="SubLevelMastersDv">
                                                                                    <table class="AppGenTable">
                                                                                        <tr>
                                                                                            <td>
                                                                                                <div
                                                                                                    class="BranchDetails">
                                                                                                    <div class="BranchName">
                                                                                                        <span class="Name">Assistant Executive Engineer</span>
                                                                                                    </div>
                                                                                                    <div class="AccssCntrlOptns">
                                                                                                        <a href="#" class="Lnk WISIcn-Visible"></a>
                                                                                                        <a href="#" class="AppBtn">Assign Access</a>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <table
                                                                                                    class="AppGenTable">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td>
                                                                                                                <div
                                                                                                                    class="BranchDetails">
                                                                                                                    <div
                                                                                                                        class="BranchName">
                                                                                                                        <span
                                                                                                                            class="Name">Assitant
                                                                                                                            Engineer</span>
                                                                                                                    </div>
                                                                                                                    <div class="AccssCntrlOptns">
                                                                                                                        <a href="#" class="Lnk WISIcn-Visible"></a>
                                                                                                                        <a href="#" class="AppBtn">Assign Access</a>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <table
                                                                                                                    class="AppGenTable">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td>
                                                                                                                                <div
                                                                                                                                    class="BranchDetails">
                                                                                                                                    <div
                                                                                                                                        class="BranchName">
                                                                                                                                        <span
                                                                                                                                            class="Name">Senior
                                                                                                                                            Electrician</span>
                                                                                                                                    </div>
                                                                                                                                    <div class="AccssCntrlOptns">
                                                                                                                                        <a href="#" class="Lnk WISIcn-Visible"></a>
                                                                                                                                        <a href="#" class="AppBtn">Assign Access</a>
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                            <td>
                                                                                                                                <div
                                                                                                                                    class="BranchDetails">
                                                                                                                                    <div
                                                                                                                                        class="BranchName">
                                                                                                                                        <span
                                                                                                                                            class="Name">Junior
                                                                                                                                            Electrician</span>
                                                                                                                                    </div>
                                                                                                                                    <div class="AccssCntrlOptns">
                                                                                                                                        <a href="#" class="Lnk WISIcn-Visible"></a>
                                                                                                                                        <a href="#" class="AppBtn">Assign Access</a>
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                        <tr>
                                                                                                                            <td>
                                                                                                                                <div
                                                                                                                                    class="BranchDetails">
                                                                                                                                    <div
                                                                                                                                        class="BranchName">
                                                                                                                                        <span
                                                                                                                                            class="Name">Helper</span>
                                                                                                                                    </div>
                                                                                                                                    <div class="AccssCntrlOptns">
                                                                                                                                        <a href="#" class="Lnk WISIcn-Visible"></a>
                                                                                                                                        <a href="#" class="AppBtn">Assign Access</a>
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <div class="BranchDetails">
                                                                                    <div class="BranchName">
                                                                                        <span
                                                                                            class="Name">Lightining</span>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <div class="BranchDetails">
                                                                                    <div class="BranchName">
                                                                                        <span class="Name">Air
                                                                                            Conditioning</span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="SubLevelMastersDv">
                                                                                    <table class="AppGenTable">
                                                                                        <tr>
                                                                                            <td>
                                                                                                <div
                                                                                                    class="BranchDetails">
                                                                                                    <div
                                                                                                        class="BranchName">
                                                                                                        <span
                                                                                                            class="Name">Assistant
                                                                                                            Executive
                                                                                                            Engineer</span>
                                                                                                    </div>
                                                                                                    <div class="AccssCntrlOptns">
                                                                                                        <a href="#" class="Lnk WISIcn-Visible"></a>
                                                                                                        <a href="#" class="AppBtn">Assign Access</a>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="PopUpBG"></div>
        <div class="PopUpHldr Max">
            <div class="PopUpHedr">
                <div class="HdrTtlHldr">
                    <span class="TtlTxt">Access for Superintending Engineer</span>
                    <span class="SbTtlTxt">Construction & Maintenance Division > Electrical > Lift Maintenance</span>
                </div>
                <div class="HdrBtnHldr">
                    <span class="AppBtn IcnOnly Close"></span>
                </div>
            </div>
            <div class="PopUpBdy">
                <div class="InnrCntntHldr">
                    <div class="FormHldr">
                        <div class="row">
                            <div class="col-3">
                                <div class="FormCheck FullWidth LrgFnt">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Platform Access</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Web App</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Moble App</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="FormCheck FullWidth LrgFnt">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Alerts</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>SMS</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Email</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Mobile App Notification</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>WhatsApp</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <div class="FormCheck FullWidth LrgFnt">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Sites</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Academic Building</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Hostel Building</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Pavillions</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Residential Building</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <div class="FormCheck FullWidth LrgFnt">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Modules</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Inventory</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Complaint</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Human Resources</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Leadership</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Feedback</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <span class="FormTxtSbTtl">Module Sub Access</span>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="PopUpBtnFtr">
                <div class="FormHldr">
                    <div class="row">
                        <div class="col-1 BtnHldr">
                            <button type="submit" class="AppBtn">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>