<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>
    <link rel="stylesheet" href="AppTheme/CmplntMngmntMdl/MdlTheme.css" />
    <link rel="stylesheet" href="AppTheme/Fonts/IconFont.css" />
</head>

<body>
    <div class="AppHeader">
        <div class="AppMnuTtlHldr">
            <div class="TtlHldr">
                <div class="ClntLgoHldr">
                    <img src="Images/CompanyLogo.png" class="Lgo" />
                </div>
            </div>
        </div>
        <div class="AppUsrCntrlHldr">
            <ul class="UsrNav">
                <li>
                    <a href="#" class="NavLnk WISIcn-Notification"></a>
                </li>
                <li>
                    <a href="#" class="NavLnk WISIcn-Help"></a>
                </li>
                <li>
                    <div class="UsrDvHldr">
                        <div class="UsrDtls">
                            <div class="PrflNmeHldr">
                                <span class="Nme">Vinay Kumar</span>
                            </div>
                            <div class="PrflImgHldr">
                                <img src="Images/ProfileImage.jpg" class="PrfImg" />
                                <span class="PrflTxtImg">
                                    <span class="Intls">VK</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppFooter">
        <div class="AppVrsnDtls">
            <span class="AppCurrVrsn">Version:<span class="Vrsn">v3.0.20</span></span>
        </div>
        <div class="AppPwrdDtls">
            <span class="CorpTxt">Powered by<a href="#" class="Lnk" target="_blank">WIS</a></span>
        </div>
    </div>
    <div class="AppMnuHldr">
        <div class="MnuLstHldr">
            <ul class="MnuLst">
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Dashboard"></span>
                        <span class="LnkTxt">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Map"></span>
                        <span class="LnkTxt">Locations</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk Actv">
                        <span class="LnkIcn WISIcn-Menu-Employees"></span>
                        <span class="LnkTxt">Employees</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-AccessControl"></span>
                        <span class="LnkTxt">Access Control</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Masters"></span>
                        <span class="LnkTxt">Masters</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Reports"></span>
                        <span class="LnkTxt">Reports</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppMstrCntnr">
        <div class="GnPgHdrDvHldr">
            <div class="TtlHldr">
                <span class="PgTtl">Employee List</span>
            </div>
            <div class="NvBtnHldr">
                <div class="Hldr">
                    <a href="#" class="AppBtn Icn WISIcn-Add">Add Employee</a>
                </div>
            </div>
        </div>
        <div class="GnPgCntntDvHldr">
            <div class="FormHldr Search">
                <div class="row">
                    <div class="col-6">
                        <input type="text" class="Input" placeholder="Employee ID">
                    </div>
                    <div class="col-6">
                        <input type="text" class="Input" placeholder="Employee Name">
                    </div>
                    <div class="col-6">
                        <input type="text" class="Input Icn Calendar" placeholder="From Date">
                    </div>
                    <div class="col-6">
                        <input type="text" class="Input Icn Calendar" placeholder="To Date">
                    </div>
                    <div class="col-6">
                        <select class="Input">
                            <option>Select</option>
                            <option>Select</option>
                            <option>Select</option>
                            <option>Select</option>
                          </select>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="AppBtn">Search</button>
                    </div>
                </div>
            </div>
            <div class="InnrCntntHldr">
                <table class="AppGenTable VAMiddle">
                    <thead>
                        <tr>
                            <th>Employee Name</th>
                            <th>
                                <span class="Lnk Srt WISIcn-Sort">Designation</span>
                            </th>
                            <th>
                                <span class="Lnk Srt WISIcn-Sort">Department</span>
                            </th>
                            <th>
                                <span class="Lnk Srt WISIcn-Sort">Reporting Manager 1</span>
                            </th>
                            <th>
                                <span class="Lnk Srt WISIcn-Sort">Reporting Manager 2</span>
                            </th>
                            <th>
                                <span class="Lnk Srt WISIcn-Sort">Emplyement Type</span>
                            </th>
                            <th>Contact Details</th>
                            <th>
                                <span class="Lnk Srt WISIcn-Sort">Working From</span>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Pradeep</td>
                            <td>Electrician</td>
                            <td>Electrical</td>
                            <td>Siva Kumar</td>
                            <td>Siva Kumar</td>
                            <td>
                                <span class="InlnBlk EmpType Theme1-FullTime">Full Time</span>
                            </td>
                            <td>
                                <span class="Blk">+91 98490 98490</span>
                                <span class="Blk">sayan@gmail.com</span>
                            </td>
                            <td>18 Dec, 2022</td>
                            <td>
                                <div class="ActnBtnsHldr">
                                    <div class="BtnHldr">
                                        <a title="Web App Access" href="#" class="AppBtn IcnOnly WISIcn-WebApp"></a>
                                    </div>
                                    <div class="BtnHldr">
                                        <a title="Mobile App Access" href="#" class="AppBtn IcnOnly WISIcn-MobileApp"></a>
                                    </div>
                                    <div class="BtnHldr">
                                        <a title="SMS Reminder" href="#" class="AppBtn IcnOnly WISIcn-SMS"></a>
                                    </div>
                                    <div class="BtnHldr">
                                        <a title="Store Access" href="#" class="AppBtn IcnOnly WISIcn-Store"></a>
                                    </div>
                                    <div class="SbMnuBtnHldrDv">
                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                        <div class="SbMnuHldr">
                                            <ul class="SbMnuLst">
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Pradeep</td>
                            <td>Electrician</td>
                            <td>Electrical</td>
                            <td>Siva Kumar</td>
                            <td>Siva Kumar</td>
                            <td>
                                <span class="InlnBlk EmpType Theme1-PartTime">Part Time</span>
                            </td>
                            <td>
                                <span class="Blk">+91 98490 98490</span>
                                <span class="Blk">sayan@gmail.com</span>
                            </td>
                            <td>18 Dec, 2022</td>
                            <td>
                                <div class="ActnBtnsHldr">
                                    <div class="BtnHldr">
                                        <a title="Web App Access" href="#" class="AppBtn IcnOnly WISIcn-WebApp"></a>
                                    </div>
                                    <div class="BtnHldr">
                                        <a title="Mobile App Access" href="#" class="AppBtn IcnOnly WISIcn-MobileApp"></a>
                                    </div>
                                    <div class="BtnHldr">
                                        <a title="SMS Reminder" href="#" class="AppBtn IcnOnly WISIcn-SMS"></a>
                                    </div>
                                    <div class="BtnHldr">
                                        <a title="Store Access" href="#" class="AppBtn IcnOnly WISIcn-Store"></a>
                                    </div>
                                    <div class="SbMnuBtnHldrDv">
                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                        <div class="SbMnuHldr">
                                            <ul class="SbMnuLst">
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Pradeep</td>
                            <td>Electrician</td>
                            <td>Electrical</td>
                            <td>Siva Kumar</td>
                            <td>Siva Kumar</td>
                            <td>
                                <span class="InlnBlk EmpType Theme1-Contract">Contract</span>
                            </td>
                            <td>
                                <span class="Blk">+91 98490 98490</span>
                                <span class="Blk">sayan@gmail.com</span>
                            </td>
                            <td>18 Dec, 2022</td>
                            <td>
                                <div class="ActnBtnsHldr">
                                    <div class="BtnHldr">
                                        <a title="Web App Access" href="#" class="AppBtn IcnOnly WISIcn-WebApp InActv"></a>
                                    </div>
                                    <div class="BtnHldr">
                                        <a title="Mobile App Access" href="#" class="AppBtn IcnOnly WISIcn-MobileApp"></a>
                                    </div>
                                    <div class="BtnHldr">
                                        <a title="SMS Reminder" href="#" class="AppBtn IcnOnly WISIcn-SMS"></a>
                                    </div>
                                    <div class="BtnHldr">
                                        <a title="Store Access" href="#" class="AppBtn IcnOnly WISIcn-Store InActv"></a>
                                    </div>
                                    <div class="SbMnuBtnHldrDv">
                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                        <div class="SbMnuHldr">
                                            <ul class="SbMnuLst">
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Pradeep</td>
                            <td>Electrician</td>
                            <td>Electrical</td>
                            <td>Siva Kumar</td>
                            <td>Siva Kumar</td>
                            <td>
                                <span class="InlnBlk EmpType Theme1-FullTime">Full Time</span>
                            </td>
                            <td>
                                <span class="Blk">+91 98490 98490</span>
                                <span class="Blk">sayan@gmail.com</span>
                            </td>
                            <td>18 Dec, 2022</td>
                            <td>
                                <div class="ActnBtnsHldr">
                                    <div class="BtnHldr">
                                        <a title="Web App Access" href="#" class="AppBtn IcnOnly WISIcn-WebApp InActv"></a>
                                    </div>
                                    <div class="BtnHldr">
                                        <a title="Mobile App Access" href="#" class="AppBtn IcnOnly WISIcn-MobileApp"></a>
                                    </div>
                                    <div class="BtnHldr">
                                        <a title="SMS Reminder" href="#" class="AppBtn IcnOnly WISIcn-SMS InActv"></a>
                                    </div>
                                    <div class="BtnHldr">
                                        <a title="Store Access" href="#" class="AppBtn IcnOnly WISIcn-Store"></a>
                                    </div>
                                    <div class="SbMnuBtnHldrDv">
                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                        <div class="SbMnuHldr">
                                            <ul class="SbMnuLst">
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="PopUpBG"></div>
        <div class="PopUpHldr Max">
            <div class="PopUpHedr">
                <div class="HdrTtlHldr">
                    <span class="TtlTxt">Add Employee</span>
                </div>
                <div class="HdrBtnHldr">
                    <span class="AppBtn IcnOnly Close"></span>
                </div>
            </div>
            <div class="PopUpBdy">
                <div class="InnrCntntHldr">
                    <div class="FormHldr">
                        <div class="row">
                            <span class="FormTxtSbTtl">Basic Information</span>
                            <div class="col-3">
                                <span class="FormTxt">Employee Information</span>
                                <input type="text" class="Input" placeholder="First Name">
                            </div>
                            <div class="col-3">
                                <span class="FormTxt"></span>
                                <input type="text" class="Input" placeholder="Last Name">
                            </div>
                            <div class="col-3">
                                <span class="FormTxt">Date of Birth</span>
                                <input type="text" class="Input Icn Calendar" placeholder="Enter Date">
                            </div>
                            <div class="col-3">
                                <span class="FormTxt">Gender</span>
                                <select class="Input">
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <span class="FormTxt">Contact No.</span>
                                <input type="text" class="Input Icn Calendar" placeholder="Enter Contact No.">
                            </div>
                            <div class="col-3">
                                <span class="FormTxt">Email ID</span>
                                <input type="text" class="Input" placeholder="Enter Email ID">
                            </div>
                            <div class="col-2">
                                <span class="FormTxt">Upload Profile Photo</span>
                                <input type="text" class="Input" placeholder="Upload">
                                <span class="FormHint">Accepted extensions: JPG, JPEG, PNG, GIF. Max Size: 1MB</span>
                            </div>
                            <div class="col-2">
                                <span class="FormTxt"></span>
                                <button type="submit" class="AppBtn">Upload</button>
                            </div>
                        </div>
                        <div class="row">
                            <span class="FormTxtSbTtl">Corporate Information</span>
                            <div class="col-3">
                                <span class="FormTxt">Jurisdiction</span>
                                <select class="Input">
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <span class="FormTxt">Department</span>
                                <select class="Input">
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <span class="FormTxt">Designation</span>
                                <select class="Input">
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <span class="FormTxtSbTtl">Reporting to</span>
                            <div class="col-4">
                                <span class="FormTxt">Reporting Manager 1</span>
                                <select class="Input">
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <span class="FormTxt">Reporting Manager 2</span>
                                <select class="Input">
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <span class="FormTxt">Employment Type</span>
                                <select class="Input">
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <span class="FormTxt">Active for</span>
                                <input type="text" class="Input" placeholder="Days">
                            </div>
                        </div>
                        <div class="row">
                            <span class="FormTxtSbTtl">Work Schedule</span>
                            <div class="col-2">
                                <span class="FormTxt">Working Days</span>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Mon</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Tue</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Wed</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Thu</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Fri</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Sat</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Sun</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <span class="FormTxt">Shift Time</span>
                                <select class="Input">
                                    <option>Start Time</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                </select>
                            </div>
                            <div class="col-4">
                                <span class="FormTxt"></span>
                                <select class="Input">
                                    <option>End Time</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                    <option>Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <span class="FormTxtSbTtl">Access you will get</span>
                            <div class="col-2">
                                <span class="FormTxt">Assign access</span>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>SMS</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Web App</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Mobile App</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="CheckInput" type="checkbox">
                                    <label>Store</label>
                                </div>
                            </div>
                            <div class="col-2">
                                <span class="FormTxt">Profile Activation</span>
                                <div class="FormCheck">
                                    <input class="RadioInput" type="radio" checked="">
                                    <label>Active</label>
                                </div>
                                <div class="FormCheck">
                                    <input class="RadioInput" type="radio">
                                    <label>Inactive</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="PopUpBtnFtr">
                <div class="FormHldr">
                    <div class="row">
                        <div class="col-1 BtnHldr">
                            <button type="submit" class="AppBtn">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>