<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complaint Time Master</title>
    <link rel="stylesheet" href="AppTheme/CmplntMngmntMdl/MdlTheme.css" />
    <link rel="stylesheet" href="AppTheme/Fonts/IconFont.css" />
</head>

<body>
    <div class="AppHeader">
        <div class="AppMnuTtlHldr">
            <div class="TtlHldr">
                <div class="ClntLgoHldr">
                    <img src="Images/CompanyLogo.png" class="Lgo" />
                </div>
            </div>
        </div>
        <div class="AppUsrCntrlHldr">
            <ul class="UsrNav">
                <li>
                    <a href="#" class="NavLnk WISIcn-Notification"></a>
                </li>
                <li>
                    <a href="#" class="NavLnk WISIcn-Help"></a>
                </li>
                <li>
                    <div class="UsrDvHldr">
                        <div class="UsrDtls">
                            <div class="PrflNmeHldr">
                                <span class="Nme">Vinay Kumar</span>
                            </div>
                            <div class="PrflImgHldr">
                                <img src="Images/ProfileImage.jpg" class="PrfImg" />
                                <span class="PrflTxtImg">
                                    <span class="Intls">VK</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppFooter">
        <div class="AppVrsnDtls">
            <span class="AppCurrVrsn">Version:<span class="Vrsn">v3.0.20</span></span>
        </div>
        <div class="AppPwrdDtls">
            <span class="CorpTxt">Powered by<a href="#" class="Lnk" target="_blank">WIS</a></span>
        </div>
    </div>
    <div class="AppMnuHldr">
        <div class="MnuLstHldr">
            <ul class="MnuLst">
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Dashboard"></span>
                        <span class="LnkTxt">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Map"></span>
                        <span class="LnkTxt">Locations</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Employees"></span>
                        <span class="LnkTxt">Employees</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-AccessControl"></span>
                        <span class="LnkTxt">Access Control</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk Actv">
                        <span class="LnkIcn WISIcn-Menu-Masters"></span>
                        <span class="LnkTxt">Masters</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Reports"></span>
                        <span class="LnkTxt">Reports</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppMstrCntnr">
        <div class="GnPgHdrDvHldr">
            <div class="TtlHldr">
                <span class="PgTtl">Complaint Viewer</span>
            </div>
            <div class="NvBtnHldr">
                <div class="Hldr">
                    <a href="#" class="AppBtn Icn WISIcn-Upload">Upload Categories</a>
                    <a href="#" class="AppBtn Icn WISIcn-Add">Add Complaint</a>
                </div>
            </div>
        </div>
        <div class="GnPgCntntDvHldr">
            <div class="FormHldr Search">
                <div class="row">
                    <div class="col-6">
                        <input type="text" class="Input" placeholder="Category ID">
                    </div>
                    <div class="col-6">
                        <input type="text" class="Input Icn Calendar" placeholder="From date">
                    </div>
                    <div class="col-6">
                        <input type="text" class="Input Icn Calendar" placeholder="To date">
                    </div>
                    <div class="col-6">
                        <select class="Input">
                            <option>Sort by</option>
                            <option>Select</option>
                            <option>Select</option>
                            <option>Select</option>
                          </select>
                    </div>
                    <div class="col">
                        <button type="submit" class="AppBtn Icn WISIcn-Reset">Update</button>
                    </div>
                </div>
            </div>
            <div class="InnrCntntHldr">
                <table class="AppGenTable VAMiddle">
                    <thead>
                        <tr>
                            <th>Complaint ID</th>
                            <th style="width: 40%;">Category</th>
                            <th style="width: 15%;">Preview</th>
                            <th>
                                <span class="Lnk Srt WISIcn-Sort">Time Limit</span>
                            </th>
                            <th>Added on</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CAT-1001</td>
                            <td>Minor</td>
                            <td>
                                <span class="Blk Cmplt Theme1-Minor">Minor</span>
                            </td>
                            <td>3 Days</td>
                            <td>18 Dec, 2022 11:21PM</td>
                            <td>
                                <div class="ActnBtnsHldr">
                                    <div class="BtnHldr">
                                        <a href="#" class="AppBtn IcnOnly Access"></a>
                                    </div>
                                    <div class="SbMnuBtnHldrDv">
                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                        <div class="SbMnuHldr">
                                            <ul class="SbMnuLst">
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>CAT-1002</td>
                            <td>Major</td>
                            <td>
                                <span class="Blk Cmplt Theme1-Major">Major</span>
                            </td>
                            <td>30 Days</td>
                            <td>18 Dec, 2022 11:21PM</td>
                            <td>
                                <div class="ActnBtnsHldr">
                                    <div class="BtnHldr">
                                        <a href="#" class="AppBtn IcnOnly Access"></a>
                                    </div>
                                    <div class="SbMnuBtnHldrDv">
                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                        <div class="SbMnuHldr">
                                            <ul class="SbMnuLst">
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>CAT-1003</td>
                            <td>Periodical</td>
                            <td>
                                <span class="Blk Cmplt Theme1-Periodical">Periodical</span>
                            </td>
                            <td>60 Days</td>
                            <td>18 Dec, 2022 11:21PM</td>
                            <td>
                                <div class="ActnBtnsHldr">
                                    <div class="BtnHldr">
                                        <a href="#" class="AppBtn IcnOnly Access"></a>
                                    </div>
                                    <div class="SbMnuBtnHldrDv">
                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                        <div class="SbMnuHldr">
                                            <ul class="SbMnuLst">
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>CAT-1004</td>
                            <td>Upgradation</td>
                            <td>
                                <span class="Blk Cmplt Theme1-Upgradation">Upgradation</span>
                            </td>
                            <td>3 Days</td>
                            <td>18 Dec, 2022 11:21PM</td>
                            <td>
                                <div class="ActnBtnsHldr">
                                    <div class="BtnHldr">
                                        <a href="#" class="AppBtn IcnOnly Access"></a>
                                    </div>
                                    <div class="SbMnuBtnHldrDv">
                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                        <div class="SbMnuHldr">
                                            <ul class="SbMnuLst">
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>CAT-1005</td>
                            <td>Emergency</td>
                            <td>
                                <span class="Blk Cmplt Theme1-Emergency">Emergency</span>
                            </td>
                            <td>3 Hours</td>
                            <td>18 Dec, 2022 11:21PM</td>
                            <td>
                                <div class="ActnBtnsHldr">
                                    <div class="BtnHldr">
                                        <a href="#" class="AppBtn IcnOnly Access"></a>
                                    </div>
                                    <div class="SbMnuBtnHldrDv">
                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                        <div class="SbMnuHldr">
                                            <ul class="SbMnuLst">
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>