<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ComplaintCategories</title>
    <link rel="stylesheet" href="AppTheme/CmplntMngmntMdl/MdlTheme.css" />
    <link rel="stylesheet" href="AppTheme/Fonts/IconFont.css" />
</head>

<body>
    <div class="AppHeader">
        <div class="AppMnuTtlHldr">
            <div class="TtlHldr">
                <div class="ClntLgoHldr">
                    <img src="Images/CompanyLogo.png" class="Lgo" />
                </div>
            </div>
        </div>
        <div class="AppUsrCntrlHldr">
            <ul class="UsrNav">
                <li>
                    <a href="#" class="NavLnk WISIcn-Notification"></a>
                </li>
                <li>
                    <a href="#" class="NavLnk WISIcn-Help"></a>
                </li>
                <li>
                    <div class="UsrDvHldr">
                        <div class="UsrDtls">
                            <div class="PrflNmeHldr">
                                <span class="Nme">Vinay Kumar</span>
                            </div>
                            <div class="PrflImgHldr">
                                <img src="Images/ProfileImage.jpg" class="PrfImg" />
                                <span class="PrflTxtImg">
                                    <span class="Intls">VK</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppFooter">
        <div class="AppVrsnDtls">
            <span class="AppCurrVrsn">Version:<span class="Vrsn">v3.0.20</span></span>
        </div>
        <div class="AppPwrdDtls">
            <span class="CorpTxt">Powered by<a href="#" class="Lnk" target="_blank">WIS</a></span>
        </div>
    </div>
    <div class="AppMnuHldr">
        <div class="MnuLstHldr">
            <ul class="MnuLst">
                <li>
                    <a href="SA-02-01-Dashboard.html" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Dashboard"></span>
                        <span class="LnkTxt">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="SA-04-01-CrudLocations.html" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Map"></span>
                        <span class="LnkTxt">Locations</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Employees"></span>
                        <span class="LnkTxt">Employees</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-AccessControl"></span>
                        <span class="LnkTxt">Access Control</span>
                    </a>
                </li>
                <li>
                    <a href="SA-03-01-LocationsMaster.html" class="Lnk Actv">
                        <span class="LnkIcn WISIcn-Menu-Masters"></span>
                        <span class="LnkTxt">Masters</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="Lnk">
                        <span class="LnkIcn WISIcn-Menu-Reports"></span>
                        <span class="LnkTxt">Reports</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="AppMstrCntnr">
        <div class="GnPgHdrDvHldr">
            <div class="TtlHldr">
                <span class="PgTtl">COMPLAINT CATEGORIES</span>
            </div>
            <div class="NvBtnHldr">
                <div class="Hldr">
                    <a href="#" class="AppBtn Icn WISIcn-Upload">Upload Categories</a>
                </div>
                <div class="Hldr">
                    <a href="#" class="AppBtn Icn WISIcn-Add">Add Category</a>
                </div>
            </div>
        </div>
        <div class="GnPgCntntDvHldr">
            <div class="FormHldr Search">
                <div class="row">
                    <div class="col-4">
                        <input type="text" class="Input" placeholder="Category Name">
                    </div>
                    <div class="col-5">
                        <select class="Input">
                            <option>Select</option>
                            <option>Select</option>
                            <option>Select</option>
                            <option>Select</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="AppBtn">Update</button>
                    </div>
                </div>
            </div>
            <div class="InnrCntntHldr">
                <table class="AppGenTable MastersTreeView">
                    <thead>
                        <tr>
                            <th style="width: 90%;">Category</th>
                            <th style="width: 10%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="BranchDetails">
                                    <div class="BranchName">
                                        <span class="Name">Complaints</span>
                                        <span class="Type">Level 1</span>
                                        <a href="#" class="AppBtn IcnOnly WISIcn-ArrowDown"></a>
                                    </div>
                                    <div class="AddButton">
                                        <a href="#" class="AppBtn IcnOnly Add"></a>
                                    </div>
                                </div>
                                <table class="AppGenTable">
                                    <tbody>
                                        <tr>
                                            <td style="width: 90%;">
                                                <div class="BranchDetails">
                                                    <div class="BranchName">
                                                        <span class="Name">Civil</span>
                                                        <span class="Type">Level 2</span>
                                                        <a href="#" class="AppBtn IcnOnly WISIcn-ArrowDown"></a>
                                                    </div>
                                                    <div class="AddButton">
                                                        <a href="#" class="AppBtn IcnOnly Add"></a>
                                                    </div>
                                                </div>
                                                <table class="AppGenTable">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 90%;">
                                                                <div class="BranchDetails">
                                                                    <div class="BranchName">
                                                                        <span class="Name">Carpenter</span>
                                                                        <span class="Type">Level 3</span>
                                                                        <a href="#"
                                                                            class="AppBtn IcnOnly WISIcn-ArrowDown"></a>
                                                                    </div>
                                                                    <div class="AddButton">
                                                                        <a href="#" class="AppBtn IcnOnly Add"></a>
                                                                    </div>
                                                                </div>
                                                                <table class="AppGenTable">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="width: 90%;">
                                                                                <div class="BranchDetails">
                                                                                    <div class="BranchName">
                                                                                        <span class="Name">Almirah
                                                                                            Repair</span>
                                                                                        <span
                                                                                            class="Type Cmplt Theme2-Minor">Minor
                                                                                            - 3 Days</span>
                                                                                    </div>
                                                                                    <div class="AddButton">
                                                                                        <a href="#"
                                                                                            class="AppBtn IcnOnly Add"></a>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td style="width: 10%;">
                                                                                <div class="BranchAccess">
                                                                                    <div class="BtnHldr">
                                                                                        <a href="#"
                                                                                            class="AppBtn IcnOnly Access"></a>
                                                                                    </div>
                                                                                    <div class="SbMnuBtnHldrDv">
                                                                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                                                        <div class="SbMnuHldr">
                                                                                            <ul class="SbMnuLst">
                                                                                                <li>
                                                                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                                                                </li>
                                                                                                <li>
                                                                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="width: 90%;">
                                                                                <div class="BranchDetails">
                                                                                    <div class="BranchName">
                                                                                        <span class="Name">Door/Tower
                                                                                            Bolt Faulty</span>
                                                                                        <span
                                                                                            class="Type Cmplt Theme2-Emergency">Emergency
                                                                                            - 3 Hours</span>
                                                                                    </div>
                                                                                    <div class="AddButton">
                                                                                        <a href="#"
                                                                                            class="AppBtn IcnOnly Add"></a>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td style="width: 10%;">
                                                                                <div class="BranchAccess">
                                                                                    <div class="BtnHldr">
                                                                                        <a href="#"
                                                                                            class="AppBtn IcnOnly Access"></a>
                                                                                    </div>
                                                                                    <div class="SbMnuBtnHldrDv">
                                                                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                                                        <div class="SbMnuHldr">
                                                                                            <ul class="SbMnuLst">
                                                                                                <li>
                                                                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                                                                </li>
                                                                                                <li>
                                                                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="width: 90%;">
                                                                                <div class="BranchDetails">
                                                                                    <div class="BranchName">
                                                                                        <span
                                                                                            class="Name">Door/Window</span>
                                                                                        <span
                                                                                            class="Type Cmplt Theme2-Major">Major
                                                                                            - 30 Days</span>
                                                                                    </div>
                                                                                    <div class="AddButton">
                                                                                        <a href="#"
                                                                                            class="AppBtn IcnOnly Add"></a>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td style="width: 10%;">
                                                                                <div class="BranchAccess">
                                                                                    <div class="BtnHldr">
                                                                                        <a href="#"
                                                                                            class="AppBtn IcnOnly Access"></a>
                                                                                    </div>
                                                                                    <div class="SbMnuBtnHldrDv">
                                                                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                                                        <div class="SbMnuHldr">
                                                                                            <ul class="SbMnuLst">
                                                                                                <li>
                                                                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                                                                </li>
                                                                                                <li>
                                                                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="width: 90%;">
                                                                                <div class="BranchDetails">
                                                                                    <div class="BranchName">
                                                                                        <span class="Name">Door/Window
                                                                                            Jammed/Repairs</span>
                                                                                        <span
                                                                                            class="Type Cmplt Theme2-Minor">Minor
                                                                                            - 30 Days</span>
                                                                                    </div>
                                                                                    <div class="AddButton">
                                                                                        <a href="#"
                                                                                            class="AppBtn IcnOnly Add"></a>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td style="width: 10%;">
                                                                                <div class="BranchAccess">
                                                                                    <div class="BtnHldr">
                                                                                        <a href="#"
                                                                                            class="AppBtn IcnOnly Access"></a>
                                                                                    </div>
                                                                                    <div class="SbMnuBtnHldrDv">
                                                                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                                                        <div class="SbMnuHldr">
                                                                                            <ul class="SbMnuLst">
                                                                                                <li>
                                                                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                                                                </li>
                                                                                                <li>
                                                                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="width: 90%;">
                                                                                <div class="BranchDetails">
                                                                                    <div class="BranchName">
                                                                                        <span class="Name">Glass Pane
                                                                                            Broken</span>
                                                                                        <span
                                                                                            class="Type Cmplt Theme2-Major">Major
                                                                                            - 30 Days</span>
                                                                                    </div>
                                                                                    <div class="AddButton">
                                                                                        <a href="#"
                                                                                            class="AppBtn IcnOnly Add"></a>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td style="width: 10%;">
                                                                                <div class="BranchAccess">
                                                                                    <div class="BtnHldr">
                                                                                        <a href="#"
                                                                                            class="AppBtn IcnOnly Access"></a>
                                                                                    </div>
                                                                                    <div class="SbMnuBtnHldrDv">
                                                                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                                                        <div class="SbMnuHldr">
                                                                                            <ul class="SbMnuLst">
                                                                                                <li>
                                                                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                                                                </li>
                                                                                                <li>
                                                                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="width: 90%;">
                                                                                <div class="BranchDetails">
                                                                                    <div class="BranchName">
                                                                                        <span class="Name">Glass Shelf
                                                                                            Broken</span>
                                                                                        <span
                                                                                            class="Type Cmplt Theme1-Upgradation">Upgradation
                                                                                            - 45 Days</span>
                                                                                    </div>
                                                                                    <div class="AddButton">
                                                                                        <a href="#"
                                                                                            class="AppBtn IcnOnly Add"></a>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td style="width: 10%;">
                                                                                <div class="BranchAccess">
                                                                                    <div class="BtnHldr">
                                                                                        <a href="#"
                                                                                            class="AppBtn IcnOnly Access"></a>
                                                                                    </div>
                                                                                    <div class="SbMnuBtnHldrDv">
                                                                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                                                        <div class="SbMnuHldr">
                                                                                            <ul class="SbMnuLst">
                                                                                                <li>
                                                                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                                                                </li>
                                                                                                <li>
                                                                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td style="width: 90%;">
                                                                                <div class="BranchDetails">
                                                                                    <div class="BranchName">
                                                                                        <span class="Name">Looking
                                                                                            Mirror
                                                                                            Broken/Repair/Fixed</span>
                                                                                        <span
                                                                                            class="Type Cmplt Theme2-Major">Major
                                                                                            - 30 Days</span>
                                                                                    </div>
                                                                                    <div class="AddButton">
                                                                                        <a href="#"
                                                                                            class="AppBtn IcnOnly Add"></a>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td style="width: 10%;">
                                                                                <div class="BranchAccess">
                                                                                    <div class="BtnHldr">
                                                                                        <a href="#"
                                                                                            class="AppBtn IcnOnly Access"></a>
                                                                                    </div>
                                                                                    <div class="SbMnuBtnHldrDv">
                                                                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                                                        <div class="SbMnuHldr">
                                                                                            <ul class="SbMnuLst">
                                                                                                <li>
                                                                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                                                                </li>
                                                                                                <li>
                                                                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                                                                </li>
                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td style="width: 10%;">
                                                                <div class="BranchAccess">
                                                                    <div class="BtnHldr">
                                                                        <a href="#" class="AppBtn IcnOnly Access"></a>
                                                                    </div>
                                                                    <div class="SbMnuBtnHldrDv">
                                                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                                        <div class="SbMnuHldr">
                                                                            <ul class="SbMnuLst">
                                                                                <li>
                                                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                                                </li>
                                                                                <li>
                                                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </td>
                                            <td style="width: 10%;">
                                                <div class="BranchAccess">
                                                    <div class="BtnHldr">
                                                        <a href="#" class="AppBtn IcnOnly Access"></a>
                                                    </div>
                                                    <div class="SbMnuBtnHldrDv">
                                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                        <div class="SbMnuHldr">
                                                            <ul class="SbMnuLst">
                                                                <li>
                                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 90%;">
                                                <div class="BranchDetails">
                                                    <div class="BranchName">
                                                        <span class="Name">Electrical</span>
                                                        <span class="Type">Level 2</span>
                                                        <a href="#" class="AppBtn IcnOnly WISIcn-ArrowDown"></a>
                                                    </div>
                                                    <div class="AddButton">
                                                        <a href="#" class="AppBtn IcnOnly Add"></a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="width: 10%;">
                                                <div class="BranchAccess">
                                                    <div class="BtnHldr">
                                                        <a href="#" class="AppBtn IcnOnly Access"></a>
                                                    </div>
                                                    <div class="SbMnuBtnHldrDv">
                                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                        <div class="SbMnuHldr">
                                                            <ul class="SbMnuLst">
                                                                <li>
                                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 90%;">
                                                <div class="BranchDetails">
                                                    <div class="BranchName">
                                                        <span class="Name">Air Conditioning</span>
                                                        <span class="Type">Level 2</span>
                                                        <a href="#" class="AppBtn IcnOnly WISIcn-ArrowDown"></a>
                                                    </div>
                                                    <div class="AddButton">
                                                        <a href="#" class="AppBtn IcnOnly Add"></a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="width: 10%;">
                                                <div class="BranchAccess">
                                                    <div class="BtnHldr">
                                                        <a href="#" class="AppBtn IcnOnly Access"></a>
                                                    </div>
                                                    <div class="SbMnuBtnHldrDv">
                                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                        <div class="SbMnuHldr">
                                                            <ul class="SbMnuLst">
                                                                <li>
                                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 90%;">
                                                <div class="BranchDetails">
                                                    <div class="BranchName">
                                                        <span class="Name">House Keeping</span>
                                                        <span class="Type">Level 2</span>
                                                        <a href="#" class="AppBtn IcnOnly WISIcn-ArrowDown"></a>
                                                    </div>
                                                    <div class="AddButton">
                                                        <a href="#" class="AppBtn IcnOnly Add"></a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="width: 10%;">
                                                <div class="BranchAccess">
                                                    <div class="BtnHldr">
                                                        <a href="#" class="AppBtn IcnOnly Access"></a>
                                                    </div>
                                                    <div class="SbMnuBtnHldrDv">
                                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                                        <div class="SbMnuHldr">
                                                            <ul class="SbMnuLst">
                                                                <li>
                                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <div class="BranchAccess">
                                    <div class="BtnHldr">
                                        <a href="#" class="AppBtn IcnOnly Access"></a>
                                    </div>
                                    <div class="SbMnuBtnHldrDv">
                                        <span class="SbMnuBtn WISIcn-MenuVertical"></span>
                                        <div class="SbMnuHldr">
                                            <ul class="SbMnuLst">
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Preview Details</a>
                                                </li>
                                                <li>
                                                    <a href="#" class="SbMnuLnk">Edit Details</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>